<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>添加下料表</title>
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
<link href="${b.staticPath}style/feeding_single.css" rel="stylesheet" type="text/css" />
<script src="${b.staticPath}js/jquery.js"></script>
<script language="javascript" src="${b.staticPath}js/jquery.jqprint-0.3.js"></script>
<script src="${b.staticPath}js/mtable2.js"></script>
<!--显示优化编辑整料长度图标开始-->
<@b.dialogBox/>
<@b.validate/>
<script>
function MM_over(mmObj) {
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "block";
}
function MM_out(mmObj) {
	var mSubObj = mmObj.getElementsByTagName("div")[0];
	mSubObj.style.display = "none";
	
}
</script>
<!--显示优化编辑整料长度图标开始-->
<!--tab切换开始-->
<script>
<!--
function setTab(name,cursel,n){
 for(i=1;i<=n;i++){
  var menu=document.getElementById(name+i);
  var con=document.getElementById("con_"+name+"_"+i);
  menu.className=i==cursel?"hover":"";
  con.style.display=i==cursel?"block":"none";
 }
}
//-->
</script>
<!--tab切换结束-->
<!--添加下料表开始-->
 <script type="text/javascript" language="javascript" >
 function display(){
	  var isload=$("#box").attr("lsload");
	  if(isload=="false"){
		  $.post("${basePath}downloadTem/query.htm",function(data){
			  $("#box").empty();
			  $("#box").append(data);
			  $("#box").attr("lsload","true");
			});
	  }
	  $("#box").show();
		//document.getElementById("box").style.display="block"; 
 }
 function disappear(){
	//document.getElementById("box").style.display="none";
	 $("#box").hide();
	 //$("#box").attr("lsload","false");
 }

 </script>
<!--添加下料表开始-->
<!--返回顶部脚本开始-->
<script>
 lastScrollY=0;
function heartBeat(){ 
var diffY;
if (document.documentElement && document.documentElement.scrollTop)
    diffY = document.documentElement.scrollTop;
else if (document.body)
    diffY = document.body.scrollTop
else
    {/*Netscape stuff*/}
 
percent=.1*(diffY-lastScrollY); 
if(percent>0)percent=Math.ceil(percent); 
else percent=Math.floor(percent); 
document.getElementById("full").style.top=parseInt(document.getElementById("full").style.top)+percent+"px";
lastScrollY=lastScrollY+percent; 
if(diffY == 0){document.getElementById("full").style.display = "none"}
else{document.getElementById("full").style.display = "block"}
}
suspendcode="<div id=\"full\" style='display:none;width:100px; height:60px; position:absolute;right:0; top:500px; margin-left:460px;z-index:100; text-align:center;'><a href='#'><img src='${b.staticPath}images/top.png' border=0 alt='返回顶部'></a></div>"
document.write(suspendcode);
window.setInterval("heartBeat()",1);

var pageIndex;
var projectId="${projectId}";
var projectName="${projectName}";
var itemId="${itemId}";
var memberNo="${memberNo}";
function addDoc(id,th){
	var index=$(th).parent().parent().attr("index");
	$("#button_doc_"+id+"_"+index).attr("onclick","modifyDoc('"+id+"',this);");
	var htmlData=$("#doc_form_"+id+"_"+index).get(0);
	$("#doc_form_"+id+"_"+index).find("input[name=htmlData]").val(htmlData.outerHTML);
	var params=$("#doc_form_"+id+"_"+index).serialize();
	dialogBox(function(index2){
		 $.post("${basePath}doc/addDoc.htm",params,function(data){
			  layer.close(index2);
				if(data.isOK == true){
					var docId=data.docId;
					$("#doc_form_"+id+"_"+index).after("<input id='docid_value' value='"+docId+"' type='hidden'/>");
					$("#doc_form_"+id+"_"+index).find("input[name=id]").val(docId);
					layer.close(pageIndex);
					alert("添加成功");
				}else{
					$("#button_doc_"+id+"_"+index).attr("onclick","addDoc('"+id+"',this);");
					errorInfo(data.error);
				}
			});
	},"是否确认添加");
}
function modifyDoc(id,th){
	var index=$(th).parent().parent().attr("index");
	var docId=$("#doc_form_"+id+"_"+index).next("#docid_value").val();
	$("#doc_form_"+id+"_"+index).find("input[name=id]").val(docId);
	var htmlData=$("#doc_form_"+id+"_"+index).get(0);
	$("#doc_form_"+id+"_"+index).find("input[name=htmlData]").val(htmlData.outerHTML);
	var params=$("#doc_form_"+id+"_"+index).serialize();
	dialogBox(function(index2){
		 $.post("${basePath}doc/editDoc.htm",params,function(data){
			  layer.close(index2);
				if(data.isOK == true){
					$("#doc_form_"+id+"_"+index).next("#docid_value").val(data.docId);
					layer.close(pageIndex);
					alert("修改成功");
				}else{
					errorInfo(data.error);
				}
			});
	},"是否确认修改");
}
function resetTable(id,th){
	window.location.reload();
}
function copyTable(id,th){
		var index=$(th).parent().parent().attr("index");
		index=parseInt(index);
		var newIndex=$("#index_hidden").val();
		newIndex=parseInt(newIndex);
		var copydata=$('#doc_form_'+id+"_"+index).clone();
		$('#doc_form_'+id+"_"+index).attr("id","copy_doc_form_"+id+"_"+index);
		$("#table_div").prepend(copydata);
		$('#doc_form_'+id+"_"+index).attr("index",newIndex);
		$("#table_div").find("#button_div_"+id+"_"+index).find("ul").attr("index",newIndex);
		$('#doc_form_'+id+"_"+index).attr("id","doc_form_"+id+"_"+newIndex);
		$("#table_div").find("#button_div_"+id+"_"+index).attr("id","button_div_"+id+"_"+newIndex);
		$("#table_div").find("#button_doc_"+id+"_"+index).attr("id","button_doc_"+id+"_"+newIndex);
		$("#table_div").find("#button_doc_"+id+"_"+newIndex).attr("onclick","addDoc('"+id+"',this);");
		//$("#doc_form_"+id+"_"+newIndex).after("<input id='docid_value' value='"+docId+"' type='hidden'/>");
		$("#index_hidden").val(newIndex+1);
		$('#copy_doc_form_'+id+"_"+index).attr("id","doc_form_"+id+"_"+index);
}

function removeTable(id,th){
	var index=$(th).parent().parent().attr("index");
	var docId=$("#doc_form_"+id+"_"+index).next("#docid_value").val();
	dialogBox(function(index2){
		 $.post("${basePath}doc/removeDoc.htm?docId="+docId,function(data){
			  layer.close(index2);
				if(data.isOK == true){
					index=parseInt(index);
					alert("删除成功");
					$("#doc_form_"+id+"_"+index).next("#docid_value").remove();
					$('#doc_form_'+id+"_"+index).remove();
					$("#table_div").find("#button_div_"+id+"_"+index).remove();
				}else{
					alert("删除失败");
				}
			});
	},"是否确认删除");
}
function  printTable(id,th){
	var index=$(th).parent().parent().attr("index");
	$("#tableId_"+id+"_"+index+ " .nb").attr("style","");
	$("#tableId_"+id+"_"+index+ " .na").attr("style","");
	$("#tableId_"+id+"_"+index).jqprint();
	}
function  printTableAll(){
	//var index=$(th).parent().parent().attr("index");
	//$("#tableId_"+id+"_"+index+ " .nb").attr("style","");
	//$("#tableId_"+id+"_"+index+ " .na").attr("style","");
	$("#table_div").jqprint();
	}	

function search_doc(){
	var windowCode=$("#windowCode_search_input").val();
	var itemId="${itemId}";
	var projectId="${projectId}";
	window.location.href="${basePath}doc/query.htm?windowCode="+windowCode+"&projectId="+projectId+"&itemId="+itemId;
}
</script>
<!--返回顶部脚本结束-->
<!--table脚本结束-->
</head>

<body class="return">
<@b.header />
<div id="content_box">
	<h1>私享家门窗算料优化系统</h1>
<!--下料表开始-->
  <ul>
    	<li>
         <a data-toggle="modal" href="#createpro" onmouseover="display();" onmouseout="disappear();"><button class=" button button-greenp">添加下料表</button></a>
		    <div class="box-c"></div>
			<div id="box" class="box checkfile" onmouseover="display();" onmouseout="disappear();"  lsload="false">
				
			</div>	
        </li>
        <li>
        <a href="${basePath}doc/toAdd.htm?projectId=${projectId}&itemId=${itemId}"><button class=" button button-orange">+显示全部</button></a>
        </li>
        <li>
        <a href="javascript:void(0);"><button class=" button button-orange" onclick="printTableAll();">全部打印</button></a>
        </li>
        <li style="float:right">
        <a href="${basePath}index.htm"><button class=" button button-orange">返回首页</button></a>
        </li>
        <li style="float:right">
        <button class="button button-green"  onclick="search_doc();">搜索</button>
        </li>
        <li style="float:right">
        <input id="windowCode_search_input" type="text" value="" name="windowCode" placeholder="请输入门窗代号" />
        </li>     
    </ul>
<!--下料表结束-->	

<!--生出新下料表开始-->
<input id="index_hidden" value="${docList?size}" type="hidden"/>
<div id="table_div">
<#list docList as doc>
<!-- <form id="doc_form_${doc.windowId}_${doc_index}" docId="${doc.id}" action="javascript:void(0);" method="post" index="${doc_index}"> -->
${doc.htmlData}
<input id="docid_value" value="${doc.id}" type="hidden"/>
<!-- </form> -->
</#list>
</div>
<!--生出新下料表结束-->
</div>
<@b.footer />
</body>
</html>