<#assign staticPath="http://static.menchuang.org.cn/supervisor-manager/" />
<#assign imagePath="http://storage.menchuang.org.cn/" />
<#macro iviewer>
<script type="text/javascript">
</script>
<div style="width:1100px;margin:auto;position: absolute; top: 0; left:50%; margin-left:-550px; visibility: hidden; background-color: #FFFFFF; padding: 0 12px 0 12px; z-index: 98;"  id="imagecomponent">
<div style="position:absolute; right:3%; z-index: 99"><input id="btnClsVie" type="button" value="关闭"  /></div>
    <div class="cer-l">
        <!-- wrapper div is needed for opera because it shows scroll bars for reason -->
		<div id="viewer" class="viewer">
		<div id="front" title="上一张"><a href="javaScript:void(0)" class="pngFix"></a></div>
		<div id="next" title="下一张"><a href="javaScript:void(0)" class="pngFix"></a></div>
        </div>
    </div>
    <div class="cer-r">
        <div style="margin:60px 20px">
        <form action="" id="form">
        <input type="hidden" id="id" name="id"/>
         <input type="hidden" id="image" name="image"/>
          <input type="hidden" id="memberNo" name="memberNo"/>
         <table>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>证书编号</th>
                <td>
                  <input class="num" name="certificateNo" id="certificateNo" type="text" />
                </td>
                <td>&nbsp;</a></td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>证书发布日期</th>
                <td><input class="time" name="issueDate" id="issueDate"  type="text" datepicker /></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>证书截止日期</th>
                <td><input class="time" name="dueDate" id="dueDate"  type="text" datepicker /></td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>证书等级</th>
                <td id="levelTd">
                </td>
                <td><a class="in"></a></td>
                <td><a class="del"></a></td>
            </tr>
            <tr>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
            <tr>
                <th>备注</th>
                <td>
                 <textarea class="notes" name="remark" id="remark" cols="" rows=""></textarea>
                </td>
                <td>&nbsp;</td>
                <td>&nbsp;</td>
            </tr>
         </table>
         </form>
        </div>
        <div class="div-button">
            <table>
             <tr style="height:50px;line-height:50px">
                 <td>&nbsp;</td>
                 <td>&nbsp;</td>
                 <td><a href="javascript:void(0);" id="submitComponent" class="button2">提 交</a></td>
             </tr>
             </table>
         </div>
   </div>
   <div style="clear:both; height:0px"></div>

   <div id="hidden" class="slideui">
				<i class="buttonSildeLeft left"><img src="${staticPath}images/icon/picSlideLeft.gif"/></i>
				<i class="buttonSildeRight right"><img src="${staticPath}images/icon/picSlideRight.gif"/></i> 
                <div class="line-con">					
					<ul class="imageList">
						
					</ul>
				</div>
    </div>
</div>
<!-- single -->
<div style="width:1100px;margin:auto;position: absolute; top: 0; left:50%; margin-left:-550px; visibility: hidden; background-color: #FFFFFF; padding: 0 12px 0 12px; z-index: 98;"  id="imagecomponent2">
	<!--大图展示区-->
	<div class="cer-bg">
		<div class="cer-l-full"><div style="position:absolute; right:3%; z-index: 99"><input id="btnClsVie2" type="button" value="关闭"  /></div>
			<div id="viewer2" class="viewer" >
			</div>
		</div>
	   <div style="clear:both; height:0px"></div>
	</div>
	<!--滚动图展示区-->
</div>
<!-- delImage -->

</#macro>
<#macro dialogBox>
<script src="${staticPath}js/layer/layer.js"></script>
<script>
function loadingImg(){
var loadInfoIndex =layer.msg('加载中...',{icon:16,offset: ['40%', '45%'],shade: [0.1, '#000']});
	return loadInfoIndex;
}

function dialogBox(confirm,message){
		 var pageii =layer.confirm(message, {icon: 3,offset: ['40%', '43%']}, function(index){
			 	confirm(index);
			    layer.close(index);
		});
	 
 }
 
function dialogBoxOut(html){
	 var pageii = $.layer({
		    type: 1,
		    title: false,
		    offset: ['200px', ''],
		   	area: ['10%', '10%'],
		    border: [0], //去掉默认边框
		    shade: [0.5,'#000'], //去掉遮罩
		    closeBtn: [0, false], //去掉默认关闭按钮
		    //shift: 'left', //从左动画弹出
		    page: {
		        html: html
		    }
		});
	 return pageii;
 }
function dialogBoxOutId(id){
	 var pageii  =layer.open({
		    type: 1,
		    shade: false,
		    title: false, //不显示标题
		    content: id, //捕获的元素
		    cancel: function(index){
		        layer.close(index);
		        this.content.show();
		    }
		});
	 
	 
	$(id).attr("index",pageii);
	return pageii;
}
var isNumber=function(str){
	for(i=0;i<str.length;i++){
		if(str.charAt(i)>='0'&&str.charAt(i)<='9'||str.charAt(i)=='-'&&i==0){
		continue;
		}else{
		return false;
		}
		}
		return true;
}
function errorInfo(message){
	var pageii = layer.alert(message, {icon: 2,offset: ['40%', '43%']});

 }
function messageInfo(message){
		var pageii = layer.alert(message, {icon: 1,offset: ['40%', '43%']});
 }
 
function succInfo(confirm,message){
		var pageii = layer.alert(message, {icon: 1,offset: ['40%', '43%']},function(index){
		 	confirm(index);
		    layer.close(index);
		});
 }
 </script>
</#macro>

<#macro validate>
<script src="${staticPath}js/Validform_v5.3.2.js"></script>
<script src="${staticPath}js/jquery.poshytip.min.js"></script>
<script>
$(function(){
	$(":input").each(function(){
		if($(this).attr("title"))
			$(this).poshytip({
		className: 'tipMsg msg-gray ml5',
		showOn: 'focus',
		alignTo: 'target',
		alignX: 'right',
		alignY: 'center',
		offsetX: 5
	});
	
	});
});
</script>
</#macro>
<#macro pageScript>
<!--<script src="${staticPath}js/jquery.paginate.js"></script>  -->
<script src="${staticPath}js/jquery.pagination_2.js"></script>
<link rel="stylesheet" href="${staticPath}style/pagination_2.css" />
<script src="${staticPath}js/layer/layer.js"></script>

<script>
function loadPage(currentPage,totalPage) {
	layer.closeAll();
	// 创建分页
	$(".pagination").attr("currentPage",currentPage);
	$(".pagination").attr("totalPage",totalPage);
	$(".pagination").pagination(totalPage, {
		num_edge_entries: 1, //边缘页数
		num_display_entries: 4, //主体页数
		callback: function(page_index,jp){
			loadingImg();
			query(page_index+1);
			$(".pagination").attr("currentPage",page_index+1);
			return false;
		},
		current_page:currentPage-1,
		items_per_page:1, //每页显示1项
		prev_text: "前一页",
		next_text: "后一页"
	});
 }
$(".pagination").ready(function(){
	loadPage(${query.currentPage},${query.totalPage});
});
</script>
</#macro>
<#macro upload>
<script src="${staticPath}js/jquery.uploadify.js"></script>
<link href="${staticPath}style/uploadify.css" rel="stylesheet" type="text/css" />
<script>
var iviewer;
var elastislideConfig={
		count:6//当前显示数量
}
var slideTimes=elastislideConfig.count;
var currentHiddenImages;
var currentLi;
var closeViewer;
$(document).ready(function(){
	$(".iviewer_del").live("click",function(){
		var url=$(this).siblings("img").attr("src");
		var prefix="${b.imagePath}";
		var image=url.substring(url.indexOf(prefix)+prefix.length);
		var images=currentHiddenImages.attr("value");
		var result=images.replace(image+",","").replace(","+image,"").replace(image,"");
		currentHiddenImages.attr("value",result)
		currentLi.remove();
		closeViewer();
	});
});


var refreshIviewer=function($viewer,src,$container){
	if($viewer.children().length==0){
		iviewer=$viewer.iviewer({
			src : src,
			mousewheel : true
		});
	}else{
		iviewer.iviewer('loadImage', src);
	}
	if($container){
		$container.css("top",$(window).scrollTop());
		$container.show();
		$container.find(".modal-header").show();
	}else{
		$(".modal-wrap").show();
		$(".modal-header").show();
	}
	$viewer.show();
}
var refreshElastislide=function($container,$carousel,data,rebuild){
	var start=0;
	if(data){
		if(rebuild)
			$carousel.empty();
		if(data instanceof Array){
			for (var i = 0; i < data.length; i++) {
				var suffix=/\.[^\.]+$/.exec(data[i]);
				var $li;
				if(suffix==".PDF"){
					 $li=$('<li><a href="javascript:void(0);" class="demo-pdf" data-pdf="'+data[i]+'"><img src="${b.staticPath}images/pdf.png" title="点击下载文件" /></a></li>');
				}else{
					$li=$('<li><a href="javascript:void(0);" class="demo-image" data-image="${b.imagePath}'+data[i]+'"><img data-image="${b.imagePath}'+data[i]+'80x100.JPG" alt="" /></a></li>');
				}
				$carousel.append($li);
			}
		}else{
			var suffix=/\.[^\.]+$/.exec(data.fileIds);
			var $li;
			if(suffix==".PDF"){
				$li=$('<li><a href="javascript:void(0);" class="demo-pdf" data-pdf="'+data.fileIds+'"><img src="${b.staticPath}images/pdf.png" title="点击下载文件" /></a></li>');
			}else{
				$li=$('<li><a href="javascript:void(0);" class="demo-image" data-image="${b.imagePath}'+data.fileIds+'"><img src="${b.imagePath}'+data.fileIds+'80x100.JPG" alt="" /></a></li>');
			}
			$carousel.append($li);
			var $p=$('<p>'+$carousel.children().length+'</p>');
			$li.append($p);
			start=$carousel.children().length;
		}
		$container.empty();
		$container.append($carousel);
	}
	$carousel.elastislide({
		orientation : 'horizontal',
		speed : 500,
		easing : 'ease-in-out',
		minItems : elastislideConfig.count,
		start : start,
		onClick : function( el, position, evt ) { 
			return false; 
		},
		onReady : function() { 
			$carousel.children("li:lt("+elastislideConfig.count+")").each(function(){
				var $image=$(this).find("img");
				if($image.attr("data-image"))
					$image.attr("src",$image.attr("data-image"));
			});
			if($carousel.children("li").length<elastislideConfig.count)
				$(".elastislide-prev").hide();
			return false; },
		onBeforeSlide : function() { return false; },
		onAfterSlide : function() { 
			if(start>0)
				slideTimes=slideTimes+start;
			$carousel.children("li:lt("+slideTimes+")").each(function(){
				var $image=$(this).find("img");
				if($image.attr("data-image"))
					$image.attr("src",$image.attr("data-image"));
			});
			slideTimes=slideTimes+elastislideConfig.count;
			return false; }
	});
	$carousel.show();
	$container.show();
	
}


function loadUpload(id,url,multi,text,fn){
	  $("#"+id).uploadify({
	        swf: '${basePath}upload/uploadify.swf',
	        uploader: url,
	        fileTypeExts: '*.jpg',
	        auto: true,
	        multi: false,
	        height:30,
	        width:120,
	        buttonText:text,
	        onUploadSuccess : function(file, data, response) {
	           fn(data);
	        }
	    });
} 
function classLoadUpload(text){
	  $(":file").uploadify({
	        swf: '${basePath}upload/uploadify.swf',
	        uploader: "${basePath}upload.htm",
	        fileTypeExts: '*.jpg',
	        auto: true,
	        multi: false,
	        height:30,
	        width:120,
	        buttonText:text,
	        onUploadSuccess : function(file, data, response) {
	        	var dataObj=eval("("+data+")");//转换为json对象 
	        	$(this.button).parent(".uploadify").siblings(".imageList").append("<img src='${b.imagePath}"+dataObj.fileIds+"100x120.JPG' alt='' />");
	        	  var hideVal= $(this.button).parent(".uploadify").siblings(".imgPathHide ").val();
	        	    if(hideVal==""){
	        	    	hideVal+=dataObj.fileIds;
	        	    }else{
	        	    	hideVal+=","+dataObj.fileIds;
	        	    }
	        	    $(this.button).parent(".uploadify").siblings(".imgPathHide ").val(hideVal);
	        }
	    });
} 
function loadUploadWord(id,url,isMulti,text,fn){
	  $("#"+id).uploadify({
	        swf: '${basePath}upload/uploadify.swf',
	        uploader: url,
	        fileTypeExts: '*.doc;*.docx;',
	        auto: true,
	        multi: false,
	        simUploadLimit:1,
	        height:30,
	        width:100,
	        buttonText:text,
	        onUploadSuccess : function(file, data, response) {
	        	fn(data);
	        }
	        
	    });
}
function loadUploadAdjunct(id,url,multi,text,fn){
 	$("#"+id).uploadify({
	        swf: '${basePath}upload/uploadify.swf',
	        uploader: url,
	        fileTypeExts: '*.pdf;*.jpg;*.png;*.doc;*.docx;*.xls;*.xlsx;*.dwg',
	        auto: true,
	        multi: true,
	        height:30,
	        width:120,
	        buttonText:text,
	        onUploadSuccess : function(file, data, response) {
	           fn(data);
	        }
	    }); 
} 
</script>
</#macro>
<#macro header>
<meta name="renderer" content="webkit">
 <div id="header" class="fence-wide">
    <h1 class="yard-1200"><a href="#" class="logo"></a><span class="fontYH">私享家绿色门窗平台管理系统</span>
    <span class="logOut ly-right"><a href="${basePath}logout.htm">注销帐户并退出</a></span>
    </h1>
    <div class="border-header"></div>
</div>
<#if Session.userinfo?exists>
<script>
$(document).ready(function(){
	var currentUrl=window.location.href;
	$.get("${basePath}enter.htm?url="+currentUrl);
});
</script>
</#if>
</#macro>
<#macro leftMenu isLoad>
<div id="leftList"></div>
<script>
var account="${Session.userinfo.accountNo}";
var isLoad="${isLoad}";
if(isLoad=="true"){
	$("#leftList").load("${basePath}menu.htm?account="+account+"&"+ Math.random());
}else{
	$("#leftList").load("${basePath}menu.htm?account="+account);
}
</script>
</#macro>
<#macro pager>
<!--<div id="pager" class="jPaginate" totalPage="${query.totalPage}" currentPage="${query.currentPage}"></div>  -->
<div id="pager" class="pagination ly-right" currentPage="${query.currentPage}" totalPage="${query.totalPage}"></div>
</#macro>
<#macro menuPath>
<div class="local" id="menuPath">
</div>
<script>
$("#menuPath").load("${basePath}menu_path.htm");
</script>
</#macro>
<#macro footer>
<script type="text/javascript">
$(document).ready(function(){
	var newDate = new Date();
	var year = newDate.getFullYear();
	$("#yearSapn").text(year);
});
</script>
<div id="footer" class="fence-wide">
  <div class="yard-1200">
    <p>&copy; <span id="yearSapn"></span> 私享家绿色门窗平台&nbsp;版权所有&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备14040094号-1</a></p>
  </div>
</div>

</#macro>

