<#assign staticPath="http://61.132.53.150:81/sxj/supervisor-manager/" />
<#assign imagePath="http://61.132.53.150:8082/file-web/" />
<#macro errorInfo>
<script src="${staticPath}js/layer.min.js"></script>
<script src="${staticPath}js/layer.ext.js"></script>
<script>
function errorInfo(data){
	 var pageii = $.layer({
		    type: 1,
		    title: false,
		   	area: ['20%', '30%'],
		    border: [0], //去掉默认边框
		    shade: [0.5], //去掉遮罩
		    closeBtn: [0, false], //去掉默认关闭按钮
		    //shift: 'left', //从左动画弹出
		    page: {
		        html: data
		    }
		});
		//自设关闭
		$('#close_button').on('click', function(){
		    layer.close(pageii);
		});
		$('#close_span').on('click', function(){
		    layer.close(pageii);
		});
 }
</script>
</#macro>
<#macro dialogBox>
<div id="diglog_div" style="display:none;">
      <div  class="modal-wrap popDemo">
        <div class="modal-header">
          <span id="dialog_close_span" class="close" onclick="">关闭</span></div>
        <div class="modal-body popbtnBox">
          <button id="dialog_confirm_click" class="popBtn">确认</button><button class="popBtn btnGray" id="dialog_close_button">取消</button>
        </div>
      </div>
</div>
<script src="${staticPath}js/layer.min.js"></script>
<script src="${staticPath}js/layer.ext.js"></script>
<script>
function dialogBox(confirm){
	var data=$("#diglog_div");
	 var pageii = $.layer({
		    type: 1,
		    title: false,
		   	area: ['20%', '30%'],
		    border: [0], //去掉默认边框
		    shade: [0.5], //去掉遮罩
		    closeBtn: [0, false], //去掉默认关闭按钮
		    //shift: 'left', //从左动画弹出
		    page: {
		        html: data.html()
		    }
		});
	 
	 	$("#dialog_confirm_click").live('click', function(){
	 		layer.close(pageii);
			confirm();
			$("#dialog_confirm_click").die("click");
		});
		//自设关闭
		$('#dialog_close_button').live('click', function(){
		    layer.close(pageii);
		    $("#dialog_close_button").die("click");
		});
		
		$('#dialog_close_span').live('click', function(){
		    layer.close(pageii);
		    $("#dialog_close_span").die("click");
		});
 }
</script>
</#macro>
<#macro validate>
<!--<script src="${staticPath}js/jquery.validate.js"></script>-->
<script src="${staticPath}js/Validform_v5.3.2.js"></script>
<script src="${staticPath}js/jquery.poshytip.min.js"></script>
<script>
$(function(){
	$(":input").each(function(){
		if($(this).attr("title"))
			$(this).poshytip({
		className: 'tipMsg msg-gray ml5',
		showOn: 'focus',
		alignTo: 'target',
		alignX: 'right',
		alignY: 'center',
		offsetX: 5
	});
	
	});
});
</script>
</#macro>
<#macro pageScript>
<script src="${staticPath}js/jquery.paginate.js"></script>
<script>
function loadPage(currentPage,totalPage,query){
	if(totalPage>0){
		$("#pager").paginate({
			count 		: totalPage,
			start 		: currentPage,
			display     : 10,
			border					: true,
			border_color			: '#CCC',
			text_color  			: '#333',
			background_color    	: '#FFF',	
			border_hover_color		: '#ff4400',
			text_hover_color  		: '#ff4400',
			background_hover_color	: '#fff', 
			images					: false,
			mouse					: 'press',
			onChange				: function(page){
				query(page);
			}
		});
	}else{
		$("#pager").empty();
	}
}
$("#pager").ready(function(){
	loadPage(${query.currentPage},${query.totalPage},query);
});
</script>
</#macro>
<#macro upload>
<script src="${staticPath}js/jquery.uploadify.js"></script>
<link href="${staticPath}style/uploadify.css" rel="stylesheet" type="text/css" />
<script>
function loadUpload(id,url,multi,text,fn){
	  $("#"+id).uploadify({
	        swf: '${basePath}upload/uploadify.swf',
	        uploader: url,
	        fileTypeExts: '*.gif; *.jpg; *.png',
	        auto: true,
	        multi: multi,
	        height:30,
	        width:120,
	        buttonText:text,
	        onUploadSuccess : function(file, data, response) {
	           fn(data);
	        }
	    });
} 
function classLoadUpload(text){
	  $(":file").uploadify({
	        swf: '${basePath}upload/uploadify.swf',
	        uploader: "${basePath}upload.htm",
	        fileTypeExts: '*.gif; *.jpg; *.png',
	        auto: true,
	        multi: true,
	        height:30,
	        width:120,
	        buttonText:text,
	        onUploadSuccess : function(file, data, response) {
	        	var dataObj=eval("("+data+")");//转换为json对象 
	        	$(this.button).parent(".uploadify").siblings(".imageList").append("<img src='${b.imagePath}"+dataObj.fileIds+"100x120.JPG' alt='' />");
	        	  var hideVal= $(this.button).parent(".uploadify").siblings(".imgPathHide ").val();
	        	    if(hideVal==""){
	        	    	hideVal+=dataObj.fileIds;
	        	    }else{
	        	    	hideVal+=","+dataObj.fileIds;
	        	    }
	        	    $(this.button).parent(".uploadify").siblings(".imgPathHide ").val(hideVal);
	        }
	    });
} 
</script>
</#macro>
 
<#macro header>
<meta name="renderer" content="webkit">
 <div id="header" class="fence-wide">
    <h1 class="yard-1200"><a href="#" class="logo"></a><span class="fontYH">私享家绿色门窗平台管理系统</span>
    <span class="logOut ly-right"><a href="${basePath}logout.htm">注销帐户并退出</a></span>
    </h1>
    <div class="border-header"></div>
</div>

</#macro>
<#macro leftMenu>
<script>$("#leftList").load("${basePath}menu.htm");</script>
</#macro>
<#macro pager>
<div id="pager" class="jPaginate" totalPage="${query.totalPage}" currentPage="${query.currentPage}"></div> 
</#macro>
<#macro menuPath>
<div class="local" id="menuPath">
</div>
<script>
$("#menuPath").load("${basePath}menu_path.htm");
</script>
</#macro>
<#macro footer>
<div id="footer" class="fence-wide">
  <div class="yard-1200">
    <p>&copy; 2014 私享家绿色门窗平台&nbsp;版权所有&nbsp;<a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备14040094号-1</a></p>
  </div>
</div>

</#macro>

