<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<!-- InstanceBegin template="/Templates/menu-list.dwt" codeOutsideHTMLIsLocked="false" -->
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- InstanceBeginEditable name="doctitle" -->
<title>私享家电子商贸平台</title>
<link href="${b.staticPath}style/style.css" rel="stylesheet"
	type="text/css" />
<script src="${b.staticPath}js/jquery.js"></script>
<@b.dialogBox/>
<@b.validate/> 
<script>
var pageii;
	var to_edit_pwd=function() {
		var editPage=$("#edit_password").html();
		pageii=dialogBoxOut(editPage);
	}
	function edit_pwd(){
		var validform=$(".xubox_page").Validform({
			tiptype:3});
		if (!validform.check()){
			return false;
		}
		var pwd1 = $(".xubox_page").find("#loginpassword").val();
		var pwd2 =  $(".xubox_page").find("#newpassword").val();
		if (pwd1 == "" || pwd2 == "") {
			messageInfo("密码不能为空！")
			return false;
		}
		if (pwd1 != pwd2) {
			messageInfo("两次密码输入不一样！请重新输入！")
			return false;
		}
		$.post("${basePath}system/edir_pwd.htm", {
			password : pwd1,
			password2 : pwd2
		}, function(data) {
			if (data.isOK == "ok") {
				succInfo(function(){
					 $("#loginpassword").val("");
					 $("#newpassword").val("");
					 close_pwd();
				},"修改成功！");
			} else {
				errorInfo("修改失败！");
			}
		});
	}
	
	var close_pwd=function(){
		layer.close(pageii);
	}
</script>
<!-- InstanceEndEditable -->
<!-- InstanceBeginEditable name="head" -->
<!-- InstanceEndEditable -->
</head>
<body>
	<@b.header />
	<div id="main" class="fence-wide">
		<!-- InstanceBeginEditable name="local" -->
		<@b.menuPath/>
		<!-- InstanceEndEditable -->
		<div id="mainBg" class="ly-clearFix yard-1200">
			<@b.leftMenu isLoad="true"/>
			<div id="rightBar">
				<!-- InstanceBeginEditable name="rightBar" -->
				<div class="welcomeBox text-center">
					<h2 class="welcome fontYH">欢迎您登录</h2>
					<#if Session.userinfo?exists> <#if
					Session.userinfo.lastLogin?exists>
					<div class="color-gray6">您上次登陆时间为：
						${Session.userinfo.lastLogin?string("yyyy-MM-dd HH:mm:ss")}</div>
					</#if> </#if> <a
						class="button button-green button-middle edit-password fontYH f14" onclick="to_edit_pwd();">修改登录密码</a>
				</div>
				<div id="edit_password"  style="display: none">
					<div class="modal-wrap">
						<div class="modal-header">
							<span class="close" onclick="close_pwd();">关闭</span>
						</div>
						<div class="modal-body passdwordBox">
							<div class="form-group">
								<label>新密码</label> <input type="password" name="loginpassword"
									id="loginpassword" tabindex="1" class="input input-w270h36"
									placeholder="请输入新密码" title="6-15位字符，可由英文、数字及标点符号组成" 
									datatype="*6-15" errormsg="6~15位，可由英文、数字及标点符号组成" 
									nullmsg="请设置密码！"/>
							</div>
							<div class="form-group">
								<label>确认密码</label> <input type="password" name="newpassword"
									id="newpassword" tabindex="1" class="input input-w270h36"
									placeholder="请确认新密码" title="请再次输入您的密码" datatype="*6-15" 
									errormsg="您两次输入的账号密码不一致！" recheck="loginpassword" 
									nullmsg="请设置密码！"/>
							</div>
							<button class="popBtn" onclick="edit_pwd();">确认修改</button>
						</div>
					</div>
				</div>
				<!-- InstanceEndEditable -->
			</div>
		</div>
		<!-- 底部-->
		<@b.footer />
</body>
<!-- InstanceEnd -->
</html>
