    <#list list as model>
	<h2 class="tit">${model.function.title}</h2>
	<ul>
	    <#list model.children as mc>
		<li id="${mc.id}_menu" class=""><a url="${mc.url}" href="javascript:clickFunction('${basePath}${mc.url}');">${mc.title}</a></li>
		</#list>
	</ul>
	</#list>
<script>
$(document).ready(function(){
	$("#leftList li").removeClass("now");
	$("#leftList a").each(function(){
		var href=window.location.href;
		if(href.indexOf($(this).attr("url").trim())>0){
			$(this).parent().addClass("now");
			return false;
		}			
	});
});
	
function getUrlParam(name){
	var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
	var r = window.location.search.substr(1).match(reg);  //匹配目标参数
	if (r!=null) return unescape(r[2]); return null; //返回参数值
}
function clickFunction(url){
	url=url+"?"+Math.random();
	window.location.href=url;
}
</script>