<div id="leftList">
	<h2 class="tit">会员中心</h2>
	<ul>
		<li><a href="member.html">会员管理</a></li>
		<li><a href="accounts.html">会员子帐号管理</a></li>
	</ul>
	<h2 class="tit">备案管理</h2>
	<ul>
		<li><a href="record.html">备案管理</a></li>
	</ul>
	<h2 class="tit">合同管理</h2>
	<ul>
		<li><a href="contract.html">合同管理</a></li>
	</ul>
	<h2 class="tit">RFID跟踪管理</h2>
	<ul>
		<li><a href="#">生成RFID标签</a></li>
		<li><a href="#">供应商RFID管理</a></li>
		<li><a href="#">门窗厂RFID管理</a></li>
		<li><a href="#">RFID补损管理</a></li>
		<li><a href="#">RFID订单管理</a></li>
	</ul>
	<h2 class="tit">会员行为跟踪管理</h2>
	<ul>
		<li><a href="behavior.html">会员行为跟踪管理</a></li>
	</ul>
	<h2 class="tit">支付管理</h2>
	<ul>
		<li><a href="#">支付管理</a></li>
	</ul>
	<h2 class="tit">管理员管理</h2>
	<ul>
		<li><a href="admin.html">管理员管理</a></li>
	</ul>
</div>