<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
    PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<properties>
		<property name="dialect" value="mysql" />
		<!-- <property name="sharded" value="true"/> -->
	</properties>
	<settings>
		<!-- changes from the defaults -->
		<setting name="lazyLoadingEnabled" value="false" />
		<setting name="cacheEnabled" value="true" />
	</settings>
	<typeHandlers>
		<typeHandler handler="com.sxj.finance.typeHandler.PayStageEnumTypeHandler"
			javaType="com.sxj.finance.enu.finance.PayStageEnum" />
		<typeHandler handler="com.sxj.finance.typeHandler.SexStatesEnumTypeHandler"
			javaType="com.sxj.finance.enu.member.SexStatesEnum" />
	</typeHandlers>
	<plugins>
		<plugin interceptor="com.sxj.mybatis.pagination.interceptor.PaginationInterceptor" />
	</plugins>
</configuration>
