<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.rfid.logistics.ILogisticsRfidDao">
	<resultMap id="logisticsResultMap"
		type="com.sxj.supervisor.entity.rfid.logistics.LogisticsRfidEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="rfidNo" column="RFID_NO" jdbcType="VARCHAR" />
		<result property="purchaseNo" column="PURCHASE_NO" jdbcType="VARCHAR" />
		<result property="generateKey" column="GENERATE_KEY" jdbcType="INTEGER" />
		<result property="type" column="TYPE" jdbcType="INTEGER" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR"/>
		<result property="memberName" column="MEMBER_NAME" jdbcType="VARCHAR" />
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="batchNo" column="BATCH_NO" jdbcType="VARCHAR" />
		<result property="importDate" column="IMPORT_DATE" jdbcType="TIMESTAMP" />
		<result property="replenishNo" column="REPLENISH_NO" jdbcType="VARCHAR" />
		<result property="rfidState" column="RFID_STATE" jdbcType="INTEGER" />
		<result property="progressState" column="PROGRESS_STATE"
			jdbcType="INTEGER"  />
		<result property="log" column="LOG" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 按条件查询门窗 -->
	<select id="queryLogisticsRfidList" resultMap="logisticsResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM R_LOGISTICS_RFID WHERE RFID_STATE<>4 ]]>
		<if test="condition.rfidNo != null and condition.rfidNo !=''">
			<![CDATA[AND RFID_NO = #{condition.rfidNo}]]>
		</if>
		<if test="condition.purchaseNo != null and condition.purchaseNo !=''">
			<![CDATA[AND PURCHASE_NO = #{condition.purchaseNo}]]>
		</if>
		<if test="condition.contractNo != null and condition.contractNo !=''">
			<![CDATA[AND CONTRACT_NO = #{condition.contractNo}]]>
		</if>
		<if test="condition.memberNo != null and condition.memberNo !=''">
			<![CDATA[AND MEMBER_NO = #{condition.memberNo} ]]>
		</if>
		<if test="condition.type != null and condition.type !=''">
			<![CDATA[AND TYPE = #{condition.type}]]>
		</if>
		<if test="condition.progressState != null and condition.progressState !=''">
			<![CDATA[AND PROGRESS_STATE = #{condition.progressState}]]>
		</if>
		<if test="condition.rfidState != null and condition.rfidState !=''">
			<![CDATA[AND RFID_STATE = #{condition.rfidState}]]>
		</if>
		<if
			test="condition.startImportDate != null and condition.endImportDate != null and  condition.startImportDate != '' and condition.endImportDate != ''">
			<![CDATA[AND IMPORT_DATE >=#{condition.startImportDate} AND IMPORT_DATE <= #{condition.endImportDate}]]>
		</if>
		<![CDATA[ ORDER BY RFID_NO DESC]]>
	</select>
</mapper>
