<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxj.supervisor.dao.message.ITenderMessageDao">
	<resultMap id="com.sxj.supervisor.dao.message.ITenderMessageDao.message"
		type="com.sxj.supervisor.model.message.TenderMessageModel">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="infoId" column="INFO_ID" jdbcType="VARCHAR" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="xmmc" column="XMMC" jdbcType="VARCHAR"/>
		<result property="nowDate" column="NOW_DATE" jdbcType="TIMESTAMP"/>
	</resultMap>
	
	<resultMap id="com.sxj.supervisor.dao.message.ITenderMessageDao.messageEntity"
		type="com.sxj.supervisor.entity.message.TenderMessageEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="infoId" column="INFO_ID" jdbcType="VARCHAR" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
	</resultMap>
	
	<!-- 高级查询 -->
	<select id="queryMessageList"
		resultMap="com.sxj.supervisor.dao.message.ITenderMessageDao.message"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT m.ID as ID,m.INFO_ID as INFO_ID,m.MEMBER_NO as MEMBER_NO, m.STATE as STATE,d.XMMC as XMMC,d.NOW_DATE as NOW_DATE FROM M_TENDER_MESSAGE m INNER JOIN M_WIND_DOOR d on m.INFO_ID=d.ID WHERE 1=1]]>
		<if test="condition.memberNo!= null and condition.memberNo != ''">
			<![CDATA[AND m.MEMBER_NO = #{condition.memberNo} ]]>
		</if>
		<if test="condition.infoId!= null and condition.infoId != ''">
			<![CDATA[AND m.INFO_ID = #{condition.infoId} ]]>
		</if>
		<![CDATA[ ORDER BY m.STATE,d.NOW_DATE DESC]]>
	</select>
	<update id="updateMessage" parameterType="com.sxj.supervisor.entity.message.TenderMessageEntity">
		<![CDATA[ UPDATE M_TENDER_MESSAGE SET STATE=#{state} WHERE ID=#{id} AND STATE=0]]>
	</update>
</mapper>