<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxj.supervisor.dao.message.IMessageConfigDao">
	<resultMap
		id="com.sxj.supervisor.dao.message.IMessageConfigDao.messageConfig"
		type="com.sxj.supervisor.entity.message.MessageConfigEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="isAccetp" column="IS_ACCETP" jdbcType="INTEGER" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="messageType" column="MESSAGE_TYPE" jdbcType="VARCHAR" />
		<result property="phone" column="PHONE" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 高级查询 -->
	<select id="queryConfigList"
		resultMap="com.sxj.supervisor.dao.message.IMessageConfigDao.messageConfig"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT mmc.* FROM M_MESSAGE_CONFIG mmc, M_MEMBER m ]]>
		<where>
		    <![CDATA[ mmc.MEMBER_NO = m.MEMBER_NO and m.CHECK_STATE=2]]>
			<if test="condition.memberNo!= null and condition.memberNo != ''">
			<![CDATA[ and mmc.MEMBER_NO = #{condition.memberNo} ]]>
			</if>
			<if test="condition.messageType!= null">
			<![CDATA[ and mmc.MESSAGE_TYPE = #{condition.messageType} ]]>
			</if>
		</where>
		<![CDATA[ ORDER BY mmc.MESSAGE_TYPE DESC]]>
	</select>

	<delete id="delConfig" parameterType="java.lang.String">
	<![CDATA[delete from M_MESSAGE_CONFIG where MEMBER_NO=#{memberNo}]]>
	</delete>
	
	<select id="queryPhonesByMessageType" resultType="java.lang.String">
		select PHONE from M_MESSAGE_CONFIG where MESSAGE_TYPE=#{type} and IS_ACCETP=1
	</select>
</mapper>