<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.rfid.sale.IRfidSaleStatisticalDao">
	<resultMap id="SaleStatisticalResultMap"
		type="com.sxj.supervisor.entity.rfid.sale.RfidSaleStatisticalEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="applyNo" column="APPLY_NO" jdbcType="VARCHAR" />
		<result property="purchaseNo" column="PURCHASE_NO" jdbcType="VARCHAR" />
		<result property="price" column="PRICE" jdbcType="DOUBLE" />
		<result property="count" column="COUNT" jdbcType="INTEGER" />
		<result property="saleDate" column="SALE_DATE" jdbcType="TIMESTAMP" />
		<result property="rfidType" column="RFID_TYPE" jdbcType="INTEGER" /> <!-- 枚举 -->
	</resultMap>
	<!-- 按条件查询 --> 
	<select id="queryList" resultMap="SaleStatisticalResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM R_RFID_SALE WHERE 1=1 ]]>
		<if
			test="condition.rfidType != null">
			<![CDATA[AND RFID_TYPE=#{condition.rfidType}]]>
		</if>
		<if
			test="condition.startDate != null and condition.endDate != null and  condition.startDate != '' and condition.endDate != ''">
			<![CDATA[AND SALE_DATE >=#{condition.startDate} AND SALE_DATE <= #{condition.endDate}]]>
		</if>
	</select>
	
</mapper>
