<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxj.supervisor.dao.system.IRoleDao">
 <cache />
	<resultMap id="RoleResultMap" type="com.sxj.supervisor.entity.system.RoleEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="functionId" column="FUNCTION_ID" jdbcType="VARCHAR" />
		<result property="accountId" column="ACCOUNT_ID" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 获取权限列表 -->
	<select id="getRoles" resultMap="RoleResultMap" parameterType="String">
		<![CDATA[SELECT ID,FUNCTION_ID,ACCOUNT_ID FROM M_SYS_ROLE WHERE ACCOUNT_ID=#{accountId}]]>
	</select>
	
	<delete id="deleteRoles" parameterType="String">
		<![CDATA[DELETE FROM M_SYS_ROLE WHERE ACCOUNT_ID=#{accountId}]]>
	</delete>

	<!-- 获取权限操作列表 -->
	<select id="getRoleFunction" resultMap="com.sxj.supervisor.dao.system.IFunctionDao.FunctionResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[select f.ID,f.LEVEL,f.PARENT_ID,f.TITLE,f.URL from M_SYS_FUNCTION f 
		INNER JOIN M_SYS_ROLE r on f.ID=r.FUNCTION_ID WHERE 1=1 ]]>
		<if test="condition.accountId != null">
			<![CDATA[ AND r.ACCOUNT_ID = #{condition.accountId}]]>
		</if>
		<!-- 申请会员ID -->
		<if test="condition.parentId != null">
			<![CDATA[ AND f.PARENT_ID = #{condition.parentId}]]>
		</if>
		<![CDATA[ ORDER BY f.DESC]]>
	</select>
	<!-- 获取权限操作列表 -->
	<select id="getAllRoleFunction" resultMap="com.sxj.supervisor.dao.system.IFunctionDao.FunctionResultMap"
		parameterType="String">
		<![CDATA[select DISTINCT f.ID,f.LEVEL,f.PARENT_ID,f.TITLE,f.URL from M_SYS_FUNCTION f 
		INNER JOIN M_SYS_ROLE r on f.ID=r.FUNCTION_ID inner join
		 M_SYS_ACCOUNT a ON a.ID=r.ACCOUNT_ID WHERE a.ID=#{accountId} order by f.DESC]]>
	</select>
</mapper>