<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.system.ISystemAccountDao">
	<resultMap id="BaseResultMap" type="com.sxj.supervisor.entity.system.SystemAccountEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="account" column="ACCOUNT" jdbcType="VARCHAR" />
		<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询用户 -->
	<select id="querySystemAccount" resultMap="BaseResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT DISTINCT a.ID,a.NAME,a.ACCOUNT,a.PASSWORD FROM M_SYS_ACCOUNT a
		INNER JOIN M_ROLE_ACCOUNT r ON a.ID=r.ACCOUNT_ID WHERE 1=1]]>
		<!-- 用户ID -->
		<if test="condition.id != null and condition.id!=''">
			<![CDATA[ AND a.ID = #{condition.id}]]>
		</if>
		<!-- 用户账户 -->
		<if test="condition.account != null  and condition.account!=''">
			<![CDATA[ AND a.ACCOUNT = #{condition.account}]]>
		</if>
		<!-- 用户姓名  -->
		<if test="condition.name != null  and condition.name!=''">
			<![CDATA[ AND a.NAME=#{condition.name}]]>
		</if>
		<!-- 用户姓名  -->
		<if test="condition.functionId!= null  and condition.functionId!=''">
			<![CDATA[ AND r.FUNCTION_ID=#{condition.functionId}]]>
		</if>
	</select>
</mapper>