<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxj.finance.dao.member.IAssetsInfoDao">
	<resultMap id="AssetsInfoResultMap"
		type="com.sxj.finance.entity.member.AssetsInfoEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="parentId" column="PARENT_ID" jdbcType="VARCHAR" />
		<result property="accountName" column="ACCOUNT_NAME" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="INTEGER"/>
		<result property="regDate" column="REG_DATE" jdbcType="TIMESTAMP" />
		<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
		<result property="accountNo" column="ACCOUNT_NO" jdbcType="VARCHAR" />
		<result property="lastLogin" column="LAST_LOGIN" jdbcType="TIMESTAMP" />
		<result property="version" column="VERSION_LOCK" jdbcType="INTEGER"/>
	</resultMap>
</mapper>