<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.finance.dao.member.IGuaranteeDao">
	<resultMap id="GuaranteeResultMap"
		type="com.sxj.finance.entity.member.GuaranteeEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="property" column="PROPERTY" jdbcType="VARCHAR" />
		<result property="houseAddress" column="HOUSE_ADDRESS" jdbcType="VARCHAR" />
		<result property="houseArea" column="HOUSE_AREA" jdbcType="VARCHAR"/>
		<result property="houseAmount" column="HOUSE_AMOUNT" jdbcType="DOUBLE" />
		<result property="enterprise" column="ENTERPRISE" jdbcType="VARCHAR" />
		<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
		<result property="legal" column="LEGAL" jdbcType="VARCHAR" />
		<result property="registered" column="REGISTERED" jdbcType="DOUBLE" />
		<result property="manageRange" column="MANAGE_RANGE" jdbcType="VARCHAR" />
		<result property="assetsSum" column="ASSETS_SUM" jdbcType="DOUBLE" />
		<result property="liabilities" column="LIABILITIES" jdbcType="DOUBLE" />
		<result property="fixedAssets" column="FIXED_ASSETS" jdbcType="DOUBLE" />
		<result property="assetRatio" column="ASSET_RATIO" jdbcType="DOUBLE" />
		<result property="saleSum" column="SALE_SUM" jdbcType="DOUBLE" />
		<result property="nowNetProfit" column="NOW_NET_PROFIT" jdbcType="DOUBLE" />
	</resultMap>
	
	<select id="getGuarantee" resultMap="GuaranteeResultMap"
		parameterType="String">
		<![CDATA[SELECT * FROM M_MEMBER_GUARANTEE WHERE MEMBER_NO=#{memberNo}]]>
	</select>
</mapper>