<?xml version="1.0" encoding="UTF-8"?>
	<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns="http://java.sun.com/xml/ns/javaee"
		xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
		id="WebApp_ID" version="3.0">
		<display-name>file-web</display-name>
		<servlet>
			<servlet-name>springmvc</servlet-name>
			<servlet-class>org.springframework.web.servlet.DispatcherServlet
			</servlet-class>
			<init-param>
				<param-name>contextConfigLocation</param-name>
				<param-value>classpath:spring/mvc/mvc-config.xml</param-value>
			</init-param>
		</servlet>
	  <servlet-mapping>
	    <servlet-name>springmvc</servlet-name>
	    <url-pattern>*.JPG</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>springmvc</servlet-name>
	    <url-pattern>*.JPEG</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>springmvc</servlet-name>
	    <url-pattern>*.PNG</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>springmvc</servlet-name>
	    <url-pattern>*.GIF</url-pattern>
	  </servlet-mapping>
	  <servlet-mapping>
	    <servlet-name>springmvc</servlet-name>
	    <url-pattern>*.PDF</url-pattern>
	  </servlet-mapping>
	    <servlet-mapping>
	    <servlet-name>springmvc</servlet-name>
	    <url-pattern>*.TXT</url-pattern>
	  </servlet-mapping>
	   <servlet-mapping>
	    <servlet-name>springmvc</servlet-name>
	    <url-pattern>*.HTML</url-pattern>
	  </servlet-mapping>
	  <filter>
	    <filter-name>CacheFilter</filter-name>
	    <filter-class>com.tacitknowledge.filters.cache.CacheHeaderFilter</filter-class>
	  </filter>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.gif</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.jpg</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.jpeg</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.png</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.js</url-pattern>
	  </filter-mapping>
	  <filter-mapping>
	    <filter-name>CacheFilter</filter-name>
	    <url-pattern>*.css</url-pattern>
	  </filter-mapping>
	  <welcome-file-list>
	    <welcome-file>/index.jsp</welcome-file>
	  </welcome-file-list>
	</web-app>
