<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IAccountingDao">
	<resultMap id="AccountingResultMap"
		type="com.sxj.supervisor.model.statistics.AccountingModel">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="memberNameA" column="MEMBER_NAME_A" jdbcType="VARCHAR" />
		<result property="memberNameB" column="MEMBER_NAME_B" jdbcType="VARCHAR" />
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="recordNo" column="RECORD_NO" jdbcType="VARCHAR" />
		<result property="type" column="TYPE" jdbcType="INTEGER" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="signDate" column="SIGNED_DATE" jdbcType="TIMESTAMP" />
		<result property="amount" column="PAY_AMOUNT" jdbcType="DOUBLE" />
		<result property="payAmount" column="PAY_REAL" jdbcType="DOUBLE" />
		<result property="noPayAmount" column="NO_PAY_AMOUNT" jdbcType="DOUBLE" />
		<result property="progress" column="PROGRESS" jdbcType="VARCHAR" />
		<result property="payNo" column="PAY_NO" jdbcType="VARCHAR" />
		<result property="amountItem" column="AMOUNTITEM" jdbcType="DOUBLE" />
		<result property="amountModifyItem" column="AMOUNTMODIFYITEM" jdbcType="DOUBLE" />
		<result property="amountBatch" column="AMOUNTBATCH" jdbcType="DOUBLE" />
		<result property="amountModifyBatch" column="AMOUNTMODIFYBATCH" jdbcType="DOUBLE" />
	</resultMap>

	<!-- 条件查询财务统计 -->
	<select id="query" resultMap="AccountingResultMap"
		parameterType="String">
		<![CDATA[SELECT ID,CONTRACT_NO,STATE,RECORD_NO,MEMBER_NAME_A,MEMBER_NAME_B,ROUND(PAY_BATCH/BATCH_COUNT*100) AS PROGRESS,TYPE,SIGNED_DATE FROM FINANCE_VIEW_2 WHERE 1=1 ]]>

		<if test="condition.recordNo != null and condition.recordNo != ''">
			<![CDATA[AND RECORD_NO LIKE CONCAT('%',#{condition.recordNo},'%')]]>
		</if>
		<if test="condition.contractNo!= null and condition.contractNo != ''">
			<![CDATA[AND CONTRACT_NO LIKE CONCAT('%',#{condition.contractNo},'%')]]>
		</if>
		<if test="condition.contractType != '' and condition.contractType !=null ">
			<![CDATA[AND TYPE =#{condition.contractType}]]>
		</if>
			<if test="condition.memberNo != '' and condition.memberNo !=null ">
			<![CDATA[AND (MEMBER_NO_A=#{condition.memberNo} or MEMBER_NO_B=#{condition.memberNo})]]>
		</if>
		<if
			test="condition.startDate != null and condition.endDate != null and condition.startDate != '' and condition.endDate != ''">
			<![CDATA[AND SIGNED_DATE >=CONCAT(#{condition.startDate}," 00:00:00" ) AND SIGNED_DATE <= CONCAT(#{condition.endDate}," 23:59:59")]]>
		</if>
	</select>
	<select id="queryAmountItem" resultType="java.lang.Double"
		parameterType="String">
	 <![CDATA[select (CASE WHEN sum(AMOUNT) is null THEN 0 ELSE sum(AMOUNT) END)AS AMOUNTITEM from M_CONTRACT_ITEM WHERE  (UPDATE_STATE<>1 OR UPDATE_STATE IS NULL) AND CONTRACT_ID=#{contractNo}]]>
	</select>
	<select id="queryAmountModifyItem" resultType="java.lang.Double"
		parameterType="String">
	 <![CDATA[SELECT (CASE WHEN sum(mcmdi.`AMOUNT`) is null THEN 0 ELSE sum(mcmdi.`AMOUNT`) END) AS AMOUNTMODIFYITEM  FROM M_CONTRACT_MODIFY mcm,M_CONTRACT_MODIFY_ITEM mcmdi WHERE mcm.`ID`=mcmdi.`MODIFY_ID`  AND (mcmdi.`UPDATE_STATE` <>1 OR mcmdi.`UPDATE_STATE` IS NULL) AND mcm.CONTRACT_ID=#{contractNo}]]>
	</select>
	<select id="queryAmountBatch" resultType="java.lang.Double"
		parameterType="String">
	  <![CDATA[select (CASE WHEN sum(AMOUNT) is null THEN 0 ELSE sum(AMOUNT) END) AS AMOUNTBATCH from M_CONTRACT_BATCH WHERE  (UPDATE_STATE<>1 OR UPDATE_STATE IS NULL) AND CONTRACT_ID=#{contractNo}]]>
	</select>
	<select id="queryAmountModifyBatch" resultType="java.lang.Double"
		parameterType="String">
	 <![CDATA[SELECT (CASE WHEN sum(mcmdi.`AMOUNT`) is null THEN 0 ELSE sum(mcmdi.`AMOUNT`) END) AS AMOUNTMODIFYBATCH  FROM M_CONTRACT_MODIFY mcm,M_CONTRACT_MODIFY_BATCH mcmdi WHERE mcm.`ID`=mcmdi.`MODIFY_ID`  AND (mcmdi.`UPDATE_STATE` <>1 OR mcmdi.`UPDATE_STATE` IS NULL) AND mcm.CONTRACT_ID = #{contractNo} ]]>
	</select>
</mapper>