<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractImgHisDao">
	<resultMap id="BaseResultMap" type="com.sxj.supervisor.entity.contract.ContractImgHisEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="contractId" column="CONTRACT_ID" jdbcType="VARCHAR" />
		<result property="imgPath" column="IMG_PATH" jdbcType="VARCHAR" />
		<result property="recordNo" column="RECORD_NO" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询合同图片-->
	<select id="queryImages" resultMap="BaseResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT ID, CONTRACT_ID, IMG_PATH, RECORD_NO FROM M_CONTRACT_IMG_HIS 
		WHERE  RECORD_NO in (#{condition.recordIds})]]>
	</select>
</mapper>