<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractPayDao">
	<resultMap id="ContractPayResultMap" type="com.sxj.supervisor.entity.pay.PayRecordEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="memberNoA" column="MEMBER_NO_A" jdbcType="VARCHAR" />
		<result property="memberNameA" column="MEMBER_NAME_A" jdbcType="VARCHAR" />
		<result property="memberNoB" column="MEMBER_NO_B" jdbcType="VARCHAR" />
		<result property="memberNameB" column="MEMBER_NAME_B" jdbcType="VARCHAR" />
		<result property="payNo" column="PAY_NO" jdbcType="VARCHAR"
			javaType="String" />
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR"
			javaType="String" />
		<result property="batchNo" column="BATCH_NO" jdbcType="VARCHAR" />
		<result property="rfidNo" column="RFID_NO" jdbcType="VARCHAR" />
		<result property="content" column="CONTENT" jdbcType="VARCHAR" />
		<result property="payAmount" column="PAY_AMOUNT" jdbcType="INTEGER" />
		<result property="payReal" column="PAY_REAL" jdbcType="INTEGER" />
		<result property="payDate" column="PAY_DATE" jdbcType="TIMESTAMP" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="payType" column="PAY_TYPE"
			jdbcType="INTEGER" />
		<result property="contractType" column="PAY_CONTRACT_TYPE" jdbcType="INTEGER" />
		<result property="payMode" column="PAY_MODE" jdbcType="INTEGER" />

	</resultMap>
	<select id="getEntityByRfidNo" resultMap="ContractPayResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM M_CONTRACT_PAY WHERE RFID_NO=#{rfidNo}]]>
	</select>
	<select id="getEntityByPayNo" resultMap="ContractPayResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM M_CONTRACT_PAY WHERE PAY_NO=#{payNo}]]>
	</select>
	<update id="changeState">
		<![CDATA[UPDATE M_CONTRACT_PAY SET STATE=#{state} where PAY_NO=#{payNo}]]>
	</update>
	<!-- 条件查询合同 -->
	<select id="queryPayContract" resultMap="ContractPayResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT P.*  FROM M_CONTRACT_PAY P  WHERE 1=1
	]]>
		<!-- 根据会员号查询 -->
		<if test="condition.memberNo != null and condition.memberNo != ''">
			<![CDATA[ AND (P.MEMBER_NO_A = #{condition.memberNo} OR P.MEMBER_NO_B = #{condition.memberNo})]]>
		</if>
		<!-- 甲方会员名称 -->
		<if test="condition.memberName_A != null and condition.memberName_A != ''">
			<![CDATA[ AND  P.MEMBER_NAME_A like CONCAT('%',#{condition.memberName_A},'%')]]>
		</if>
		<!-- 支付单号 -->
		<if test="condition.payNo != null and condition.payNo != ''">
			<![CDATA[ AND P.PAY_NO like CONCAT('%',#{condition.payNo},'%')]]>
		</if>
		<!-- 合同号 -->
		<if test="condition.contractNo != null and condition.contractNo != ''">
			<![CDATA[AND P.CONTRACT_NO like CONCAT('%',#{condition.contractNo},'%')]]>
		</if>
		<!-- RFID编号 -->
		<if test="condition.rfidNo != null and condition.rfidNo != ''">
			<![CDATA[AND P.RFID_NO like CONCAT('%',#{condition.rfidNo},'%')]]>
		</if>
		<!-- 付款状态/收款状态 
		<if
			test="condition.state != null and condition.state !='' and condition.memberType != 1 and condition.memberType != 2">
			<![CDATA[AND P.STATE =#{condition.state}]]>
		</if>
		<if
			test="condition.state != null and condition.state !='' and condition.memberType != null and condition.memberType !='' and condition.memberType !=0">
			<if test="condition.state &lt;4">
			<![CDATA[AND P.STATE <4 ]]>
			</if>
			<if test="condition.state &gt;3">
			<![CDATA[AND P.STATE =#{condition.state}]]>
			</if>
		</if>-->
		<!-- STATE -->
		<if test="condition.state != null and condition.state != ''">
			<![CDATA[AND P.STATE = #{condition.state}]]>
		</if>
		<if test="condition.payMode != null and condition.payMode != ''">
			<![CDATA[AND P.PAY_MODE = #{condition.payMode}]]>
		</if>
		<!-- 支付内容状态 -->
		<if
			test="condition.PayContentState != null and condition.PayContentState !=''">
			<![CDATA[AND P.PAY_TYPE =#{condition.payType}]]>
		</if>
		<!-- 付款方式 -->
		<if test="condition.payMode != null and condition.payMode !=''">
			<![CDATA[AND P.PAY_MODE =#{condition.payMode}]]>
		</if>
		<!-- 类型 -->
		<if test="condition.type != null and condition.type !=''">
			<![CDATA[AND P.PAY_CONTRACT_TYPE =#{condition.contractType}]]>
		</if>
		<!-- 支付时间段 -->
		<if
			test="condition.startPayDate != null and condition.endPayDate != null and  condition.startPayDate != '' and condition.endPayDate != ''">
			<![CDATA[AND P.PAY_DATE >=#{condition.startPayDate} AND P.PAY_DATE <= #{condition.endPayDate}]]>
		</if>
		<![CDATA[ ORDER BY P.STATE ASC,P.PAY_NO DESC
		]]>
	</select>
	 <insert id="addContractPay" parameterType="com.sxj.supervisor.entity.pay.PayRecordEntity">
		<![CDATA[ 
		INSERT INTO M_CONTRACT_PAY(ID,MEMBER_NO_A,MEMBER_NAME_A,MEMBER_NO_B,MEMBER_NAME_B
		,PAY_NO,CONTRACT_NO,BATCH_NO,RFID_NO,PAY_AMOUNT,PAY_REAL,PAY_DATE,CONTENT,STATE
		,PAY_CONTENT_STATE,TYPE,PAY_MODE) 
		SELECT #{id},#{memberNoA},#{memberNameA},#{memberNoB},#{memberNameB}
		,#{payNo},#{contractNo},#{batchNo},#{rfidNo},#{payAmount},#{payReal},#{payDate},#{content},#{state}
		,#{payContentState},#{type},#{payMode} FROM dual WHERE NOT EXISTS (SELECT CONTRACT_NO FROM M_CONTRACT_PAY WHERE
		 CONTRACT_NO =#{contractNo}  AND PAY_CONTENT_STATE=0)]]>
	</insert> 
	<select id="queryManagerPayContract" resultMap="ContractPayResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT P.*  FROM M_CONTRACT_PAY P  WHERE 1=1
	]]>
		<!-- 根据会员号查询 -->
		<if test="condition.memberNo != null and condition.memberNo != ''">
			<![CDATA[ AND (P.MEMBER_NO_A = #{condition.memberNo} OR P.MEMBER_NO_B = #{condition.memberNo})]]>
		</if>
		<!-- 甲方会员名称 -->
		<if test="condition.memberName_A != null and condition.memberName_A != ''">
			<![CDATA[ AND  P.MEMBER_NAME_A like CONCAT('%',#{condition.memberName_A},'%')]]>
		</if>
		<!-- 支付单号 -->
		<if test="condition.payNo != null and condition.payNo != ''">
			<![CDATA[ AND P.PAY_NO like CONCAT('%',#{condition.payNo},'%')]]>
		</if>
		<!-- 合同号 -->
		<if test="condition.contractNo != null and condition.contractNo != ''">
			<![CDATA[AND P.CONTRACT_NO like CONCAT('%',#{condition.contractNo},'%')]]>
		</if>
		<!-- RFID编号 -->
		<if test="condition.rfidNo != null and condition.rfidNo != ''">
			<![CDATA[AND P.RFID_NO like CONCAT('%',#{condition.rfidNo},'%')]]>
		</if>
		<!-- 付款状态/收款状态 
		<if
			test="condition.state != null and condition.state !='' and condition.memberType != 1 and condition.memberType != 2">
			<![CDATA[AND P.STATE =#{condition.state}]]>
		</if>
		<if
			test="condition.state != null and condition.state !='' and condition.memberType != null and condition.memberType !='' and condition.memberType !=0">
			<if test="condition.state &lt;4">
			<![CDATA[AND P.STATE <4 ]]>
			</if>
			<if test="condition.state &gt;3">
			<![CDATA[AND P.STATE =#{condition.state}]]>
			</if>
		</if>-->
		<!-- STATE -->
		<if test="condition.state != null and condition.state != ''">
			<![CDATA[AND P.STATE = #{condition.state}]]>
		</if>
		<if test="condition.payMode != null and condition.payMode != ''">
			<![CDATA[AND P.PAY_MODE = #{condition.payMode}]]>
		</if>
		<!-- 支付内容状态 -->
		<if
			test="condition.PayContentState != null and condition.PayContentState !=''">
			<![CDATA[AND P.PAY_TYPE =#{condition.payType}]]>
		</if>
		<!-- 付款方式 -->
		<if test="condition.payMode != null and condition.payMode !=''">
			<![CDATA[AND P.PAY_MODE =#{condition.payMode}]]>
		</if>
		<!-- 类型 -->
		<if test="condition.type != null and condition.type !=''">
			<![CDATA[AND P.PAY_CONTRACT_TYPE =#{condition.contractType}]]>
		</if>
		<!-- 支付时间段 -->
		<if
			test="condition.startPayDate != null and condition.endPayDate != null and  condition.startPayDate != '' and condition.endPayDate != ''">
			<![CDATA[AND P.PAY_DATE >=#{condition.startPayDate} AND P.PAY_DATE <= #{condition.endPayDate}]]>
		</if>
		<![CDATA[ ORDER BY P.PAY_NO DESC
		]]>
	</select>
</mapper>