<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractModifyBatchDao">
	<resultMap id="ModifyBacthResultMap"
		type="com.sxj.supervisor.entity.contract.ModifyBatchEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="modifyId" column="MODIFY_ID" jdbcType="VARCHAR" />
		<result property="batchNo" column="BATCH_NO" jdbcType="VARCHAR" />
		<result property="rfidNo" column="RFID_NO" jdbcType="VARCHAR" />
		<result property="amount" column="AMOUNT" jdbcType="DOUBLE" />
		<result property="batchItems" column="BATCH_ITEMS" jdbcType="VARCHAR" />
		<result property="updateState" column="UPDATE_STATE" jdbcType="INTEGER" />
		<result property="replenishState" column="REPLENISH_STATE" jdbcType="INTEGER" />
	</resultMap>

	<!-- 条件查询合同批次 -->
	<select id="queryBacths" resultMap="ModifyBacthResultMap"
		parameterType="String">
		<![CDATA[SELECT *  FROM M_CONTRACT_MODIFY_BATCH where 1=1 ]]>
		<if test="condition.modifyId != null and condition.modifyId != ''">
			<![CDATA[ AND MODIFY_ID=#{condition.modifyId}]]>
		</if>
		<if test="condition.contractId != null and condition.contractId != ''">
			<![CDATA[AND CONTRACT_ID = #{condition.contractId}]]>
		</if>
		<if test="condition.rfidNo != null and condition.rfidNo != ''">
			<![CDATA[AND RFID_NO = #{condition.rfidNo}]]>
		</if>
		<if test="condition.state != null and condition.state != ''">
			<![CDATA[AND UPDATE_STATE != #{condition.state}]]>
		</if>
	</select>
</mapper>