<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractDao">
	<resultMap id="BaseResultMap" type="com.sxj.supervisor.entity.contract.ContractEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
		<result property="memberIdA" column="MEMBER_ID_A" jdbcType="INTEGER" />
		<result property="memberIdB" column="MEMBER_ID_B" jdbcType="VARCHAR" />
		<result property="engName" column="ENG_NAME" jdbcType="VARCHAR" />
		<result property="engAddress" column="ENG_ADDRESS" jdbcType="VARCHAR" />
		<result property="recordNo" column="RECORD_NO" jdbcType="VARCHAR" />
		<result property="signedDate" column="SIGNED_DATE" jdbcType="TIME" />
		<result property="validityDate" column="VALIDITY_DATE" jdbcType="TIME" />
		<result property="startDate" column="START_DATE" jdbcType="TIME" />
		<result property="deposit" column="DEPOSIT" jdbcType="INTEGER" />
		<result property="remarks" column="REMARKS" jdbcType="VARCHAR" />
		<result property="deliveryAddress" column="DELIVERY_ADDRESS" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="type" column="TYPE" jdbcType="INTEGER" />
		<result property="refContractNo" column="REF_CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="memberNameA" column="MEMBER_NAME_A" jdbcType="VARCHAR" />
		<result property="memberNameB" column="MEMBER_NAME_B" jdbcType="VARCHAR" />
		<result property="stateLog" column="STATE_LOG" jdbcType="VARCHAR" />
		<result property="imgId" column="IMG_ID" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATE_DATE" jdbcType="TIME" />
		<result property="recordDate" column="RECORD_DATE" jdbcType="TIME" />
	</resultMap>

	<!-- 条件查询合同 -->
	<select id="queryContract" resultMap="BaseResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT *  FROM M_CONTRACT WHERE 1=1]]>
	</select>
</mapper>