<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractBatchDao">
	<resultMap id="BacthResultMap" type="com.sxj.supervisor.entity.contract.ContractBatchEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="contractId" column="CONTRACT_ID" jdbcType="VARCHAR" />
		<result property="rfidNo" column="RFID_NO" jdbcType="VARCHAR" />
		<result property="amount" column="AMOUNT" jdbcType="INTEGER" />
		<result property="batchItems" column="BATCH_ITEMS" jdbcType="VARCHAR" />
		<result property="batchNo" column="BATCH_NO" jdbcType="VARCHAR" />
		<result property="updateState" column="UPDATE_STATE" jdbcType="INTEGER" />
	</resultMap>

	<!-- 条件查询合同批次 -->
	<select id="queryBacths" resultMap="BacthResultMap"
		parameterType="String">
		<![CDATA[SELECT ID, CONTRACT_ID, RFID_NO, AMOUNT, BATCH_ITEMS,BATCH_NO,UPDATE_STATE FROM M_CONTRACT_BATCH
			WHERE CONTRACT_ID=#{condition.contractId}]]>
	</select>
</mapper>