<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractReplenishBatchDao">
	<resultMap id="ReplenishBatchResultMap" type="com.sxj.supervisor.entity.contract.ReplenishBatchEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="modifyId" column="MODIFY_ID" jdbcType="VARCHAR" />
		<result property="batchNo" column="BATCH_NO" jdbcType="VARCHAR" />
		<result property="rfidNo" column="RFID_NO" jdbcType="VARCHAR" />
		<result property="newRfidNo" column="NEW_RFID_NO" jdbcType="VARCHAR" />
		<result property="amount" column="AMOUNT" jdbcType="DOUBLE" />
		<result property="batchItems" column="BATCH_ITEMS" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询合同补损批次 -->
	<select id="queryReplenishBatch" resultMap="ReplenishBatchResultMap"
		parameterType="String">
		<![CDATA[ SELECT ID,BATCH_NO,REPLENISH_ID,RFID_NO,AMOUNT,BATCH_ITEMS,NEW_RFID_NO
		FROM M_CONTRACT_REPLENISH_BATCH WHERE 1=1 ]]>
		<if test="condition.recordIds != null and condition.recordIds != ''">
			<![CDATA[ AND REPLENISH_ID=#{condition.recordIds}]]>
		</if>
		<if test="condition.contractId != null and condition.contractId != ''">
			<![CDATA[ AND CONTRACT_ID = #{condition.contractId}]]>
		</if>
		<if test="condition.rfidNo != null and condition.rfidNo != ''">
			<![CDATA[ AND RFID_NO = #{condition.rfidNo}]]>
		</if>
		<if test="condition.newRfidNo != null and condition.newRfidNo != ''">
			<![CDATA[AND NEW_RFID_NO = #{condition.newRfidNo}]]>
		</if>
	</select>
</mapper>