<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractDao">
	<resultMap id="ContractResultMap" type="com.sxj.supervisor.entity.contract.ContractEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
		<result property="memberIdA" column="MEMBER_ID_A" jdbcType="INTEGER" />
		<result property="memberIdB" column="MEMBER_ID_B" jdbcType="VARCHAR" />
		<result property="engName" column="ENG_NAME" jdbcType="VARCHAR" />
		<result property="engAddress" column="ENG_ADDRESS" jdbcType="VARCHAR" />
		<result property="recordNo" column="RECORD_NO" jdbcType="VARCHAR" />
		<result property="signedDate" column="SIGNED_DATE" jdbcType="TIME" />
		<result property="validityDate" column="VALIDITY_DATE" jdbcType="TIME" />
		<result property="startDate" column="START_DATE" jdbcType="TIME" />
		<result property="deposit" column="DEPOSIT" jdbcType="INTEGER" />
		<result property="remarks" column="REMARKS" jdbcType="VARCHAR" />
		<result property="deliveryAddress" column="DELIVERY_ADDRESS" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="confirmState" column="CONFIRM_STATE" jdbcType="INTEGER" />
		<result property="type" column="TYPE" jdbcType="INTEGER" />
		<result property="refContractNo" column="REF_CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="memberNameA" column="MEMBER_NAME_A" jdbcType="VARCHAR" />
		<result property="memberNameB" column="MEMBER_NAME_B" jdbcType="VARCHAR" />
		<result property="confirmState" column="CONFIRM_STATE" jdbcType="VARCHAR" />
		<result property="stateLog" column="STATE_LOG" jdbcType="VARCHAR" />
		<result property="imgId" column="IMG_ID" jdbcType="VARCHAR" />
		<result property="createDate" column="CREATE_DATE" jdbcType="DATE" />
		<result property="recordDate" column="RECORD_DATE" jdbcType="DATE" />
	</resultMap>

	<!-- 条件查询合同 -->
	<select id="queryContract" resultMap="ContractResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT ID,CONTRACT_NO,ADDRESS,MEMBER_ID_A,MEMBER_ID_B,ENG_NAME,ENG_ADDRESS,RECORD_NO,
					SIGNED_DATE,VALIDITY_DATE,START_DATE,CREATE_DATE,RECORD_DATE,DEPOSIT,REMARKS,
					DELIVERY_ADDRESS,STATE,TYPE,REF_CONTRACT_NO,MEMBER_NAME_A,MEMBER_NAME_B,CONFIRM_STATE,
					STATE_LOG,BATCH_COUNT,NOW_RECORD_NO,IMG_PATH FROM M_CONTRACT where 1=1
	]]>
	<!-- 合同号 -->
		<if test="condition.contractNo != null and condition.contractNo != ''">
			<![CDATA[AND CONTRACT_NO = #{condition.contractNo}]]>
		</if>
		<!-- 备案号 -->
		<if test="condition.recordNo != null and condition.recordNo != ''">
			<![CDATA[AND RECORD_NO = #{condition.recordNo}]]>
		</if>
		<!-- 合同签订者  -->
		<if test="condition.memberId != null and condition.memberId != ''">
			<![CDATA[AND (MEMBER_ID_A=#{condition.memberId} or MEMBER_ID_B=#{condition.memberId})]]>
		</if>
		<!-- 合同类型-->
		<if test="condition.type != null and condition.type != ''">
			<![CDATA[AND TYPE = #{condition.type}]]>
		</if>
		<!-- 关联招标合同号 -->
		<if test="condition.refContractNo != null and condition.refContractNo != ''">
			<![CDATA[AND REF_CONTRACT_NO = #{condition.refContractNo}]]>
		</if>
		<!-- 状态-->
		<if test="condition.state != null and condition.state != ''">
			<![CDATA[AND STATE = #{condition.state}]]>
		</if>
		<!-- 确认状态-->
		<if test="condition.confirmState != null and condition.confirmState != ''">
			<![CDATA[AND CONFIRM_STATE = #{condition.confirmState}]]>
		</if> 
		<!-- 生成时间-->
		<if test="condition.startCreateDate != null and condition.endCreateDate != null and  condition.startCreateDate != '' and condition.endCreateDate != ''">
			<![CDATA[AND CREATE_DATE >=#{condition.startCreateDate} AND CREATE_DATE <= #{condition.endCreateDate}]]>
		</if>
		<!-- 备案时间-->
		<if test="condition.startRecordDate != null and condition.endRecordDate != null and condition.startRecordDate != '' and condition.endRecordDate != ''">
			<![CDATA[AND RECORD_DATE >=#{condition.startRecordDate} AND RECORD_DATE <= #{condition.endRecordDate}]]>
		</if>
	</select>
</mapper>