<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractReplenishDao">
	<resultMap id="ReplenishResultMap"
		type="com.sxj.supervisor.entity.contract.ReplenishContractEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="contractId" column="CONTRACT_ID" jdbcType="VARCHAR" />
		<result property="recordNo" column="RECORD_NO" jdbcType="VARCHAR" />
		<result property="imgPath" column="IMG_PATH" jdbcType="VARCHAR" />
		<result property="batchRfidNo" column="BATCH_RFID_NO" jdbcType="VARCHAR" />
		<result property="rfidOrderNo" column="RFID_ORDER_NO" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询合同批次 -->
	<select id="queryReplenish" resultMap="ReplenishResultMap"
			parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM M_CONTRACT_REPLENISH WHERE 1=1 ]]>

		<if test="condition.recordIds != null and condition.recordIds != ''">
			<![CDATA[AND RECORD_NO in(${condition.recordIds})]]>
		</if>
		<if test="condition.contractId != null and condition.contractId != ''">
			<![CDATA[AND CONTRACT_ID =#{condition.contractId}]]>
		</if>
	</select>
</mapper>