<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractModifyItemDao">
	<resultMap id="ModifyItemResultMap" type="com.sxj.supervisor.entity.contract.ModifyItemEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="modifyId" column="MODIFY_ID" jdbcType="VARCHAR" />
		<result property="productName" column="PRODUCT_NAME" jdbcType="VARCHAR" />
		<result property="productModel" column="PRODUCT_MODEL" jdbcType="INTEGER" />
		<result property="quantity" column="QUANTITY" jdbcType="FLOAT" />
		<result property="price" column="PRICE" jdbcType="DOUBLE" />
		<result property="amount" column="AMOUNT" jdbcType="DOUBLE" />
		<result property="remarks" column="REMARKS" jdbcType="VARCHAR" />
		<result property="updateState" column="UPDATE_STATE" jdbcType="INTEGER" />
	</resultMap>

<!-- 条件查询合同变更批次 -->
	<select id="queryItems" resultMap="ModifyItemResultMap"
		parameterType="String">
		<![CDATA[SELECT ID,MODIFY_ID,PRODUCT_NAME,PRODUCT_MODEL,QUANTITY,PRICE,AMOUNT,REMARKS FROM M_CONTRACT_MODIFY_ITEM WHERE MODIFY_ID =#{condition.recordIds}]]>
	</select>
</mapper>