<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractModifyDao">
	<resultMap id="ModifyResultMap" type="com.sxj.supervisor.entity.contract.ModifyContractEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="contractId" column="CONTRACT_ID" jdbcType="VARCHAR" />
		<result property="recordNo" column="RECORD_NO" jdbcType="VARCHAR" />
		<result property="imgPath" column="IMG_PATH" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询变更合同 -->
	<select id="queryModify" resultMap="ModifyResultMap"
		parameterType="String">
		<![CDATA[SELECT M.* FROM M_CONTRACT_MODIFY M ,M_CONTRACT_RECORD R
		 WHERE M.RECORD_NO=R.RECORD_NO AND M.RECORD_NO in(${condition.recordIds}) ORDER BY R.APPLY_DATE ASC ]]>
	</select>
</mapper>