<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.record.IRecordDao">
	<resultMap id="RecordResultMap" type="com.sxj.supervisor.entity.record.RecordEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="recordNo" column="RECORD_NO" jdbcType="VARCHAR" />
		<result property="applyId" column="APPLY_ID" jdbcType="VARCHAR" />
		<result property="applyName" column="APPLY_NAME" jdbcType="VARCHAR" />
		<result property="flag" column="RECORD_FLAG" jdbcType="INTEGER" />
		<result property="memberIdA" column="MEMBER_ID_A" jdbcType="VARCHAR" />
		<result property="memberNameA" column="MEMBER_NAME_A" jdbcType="VARCHAR" />
		<result property="memberIdB" column="MEMBER_ID_B" jdbcType="VARCHAR" />
		<result property="memberNameB" column="MEMBER_NAME_B" jdbcType="VARCHAR" />
		<result property="type" column="TYPE" jdbcType="INTEGER" />
		<result property="imgPath" column="IMG_PATH" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="contractType" column="CONTRACT_TYPE" jdbcType="INTEGER" />
		<result property="confirmState" column="CONFIRM_STATE" jdbcType="INTEGER" />
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="refContractNo" column="REF_CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="applyDate" column="APPLY_DATE" jdbcType="TIMESTAMP" />
		<result property="acceptDate" column="ACCEPT_DATE" jdbcType="TIMESTAMP" />
		<result property="delState" column="DEL_STATE" jdbcType="BOOLEAN" />
		<result property="rfidNo" column="RFID_NO" jdbcType="VARCHAR" />
		<result property="recordDate" column="RECORD_DATE" jdbcType="TIMESTAMP" />
		<result property="acceptState" column="ACCEPT_STATE" jdbcType="INTEGER" />
		<result property="recordState" column="RECORD_STATE" jdbcType="INTEGER" />
		<result property="progress" column="PROGRESS" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询备案 -->
	<select id="queryRecord" resultMap="RecordResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT  R.*,round(C.PAY_BATCH/C.BATCH_COUNT*100) AS PROGRESS  FROM M_CONTRACT_RECORD R LEFT JOIN M_CONTRACT C ON R.CONTRACT_NO=C.CONTRACT_NO  WHERE R.DEL_STATE=0  ]]>
		<!-- 备案号 -->
		<if test="condition.recordNo != null and condition.recordNo != ''">
			<![CDATA[AND R.RECORD_NO = #{condition.recordNo}]]>
		</if>
		<if test="condition.recordNos!=null">
			AND RECORD_NO IN 
			<foreach collection="condition.recordNos" open="(" close=")" separator="," item="recordNo">
				#{recordNo}
			</foreach>
		
		</if>
		<!-- 申请会员ID -->
		<if test="condition.applyId != null and condition.applyId != ''">
			<![CDATA[AND R.APPLY_ID = #{condition.applyId}]]>
		</if>
		<!-- 查询当前会员所关联的备案 -->
		<if test="condition.memberId != null and condition.memberId != ''">
			<![CDATA[AND (R.MEMBER_ID_A=#{condition.memberId} or R.MEMBER_ID_B=#{condition.memberId})]]>
		</if>
		<!-- 合同类型-->
		<if test="condition.contractType != null">
			<![CDATA[AND R.CONTRACT_TYPE = #{condition.contractType}]]>
		</if>
		<!-- 对应合同号-->
		<if test="condition.contractNo != null and condition.contractNo != ''">
			<![CDATA[AND R.CONTRACT_NO = #{condition.contractNo}]]>
		</if>
		<!-- 对应甲方会员ID-->
		<if test="condition.memberIdA != null and condition.memberIdA != ''">
			<![CDATA[AND R.MEMBER_ID_A = #{condition.memberIdA}]]>
		</if>
		<!-- 合同签订人-->
		<if test="condition.contractPepole != null and condition.contractPepole != ''">
			<![CDATA[AND (R.MEMBER_NAME_A LIKE CONCAT('%',#{condition.contractPepole},'%') OR R.MEMBER_NAME_B LIKE CONCAT('%',#{condition.contractPepole},'%'))]]>
		</if>
		<!-- 对应乙方会员ID-->
		<if test="condition.memberIdB != null and condition.memberIdB != ''">
			<![CDATA[AND R.MEMBER_ID_B = #{condition.memberIdB}]]>
		</if>
		<!-- 备案状态-->
		<if test="condition.state != null">
			<![CDATA[AND R.STATE = #{condition.state}]]>
		</if>
		<if test="condition.flag != null and condition.flag != ''">
			<![CDATA[AND R.RECORD_FLAG = #{condition.flag}]]>
		</if>
		<!-- 备案类型-->
		<if test="condition.recordType != null">
			<![CDATA[AND R.TYPE = #{condition.recordType}]]>
		</if>
		<if test="condition.confirmState != null">
			<![CDATA[AND R.CONFIRM_STATE = #{condition.confirmState}]]>
		</if>
		<!-- 申请时间段 -->
 		<if test="condition.startApplyDate != null and condition.endApplyDate != null and condition.startApplyDate != ''  and condition.endApplyDate != ''"> 
			<![CDATA[AND R.APPLY_DATE >=#{condition.startApplyDate} AND R.APPLY_DATE < DATE_ADD(#{condition.endApplyDate},INTERVAL 1 DAY)]]>
		</if>
		<!-- 受理时间段 -->
		<if test="condition.startAcceptDate != null and condition.endAcceptDate != null and condition.startAcceptDate != '' and condition.endAcceptDate != ''">
			<![CDATA[AND R.ACCEPT_DATE >=#{condition.startAcceptDate} AND R.ACCEPT_DATE < DATE_ADD(#{condition.endAcceptDate},INTERVAL 1 DAY)]]>
		</if>
		<if test="condition.sortColumn != null and condition.sortColumn != null and condition.sort != '' and condition.sort != ''">
		<![CDATA[ORDER BY ${condition.sortColumn} ${condition.sort}]]>
		</if>
	</select>
</mapper>