<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.record.IRecordDao">
	<resultMap id="RecordResultMap" type="com.sxj.supervisor.entity.record.RecordEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="recordNo" column="RECORD_NO" jdbcType="VARCHAR" />
		<result property="applyId" column="APPLY_ID" jdbcType="VARCHAR" />
		<result property="applyName" column="APPLY_NAME" jdbcType="VARCHAR" />
		<result property="flag" column="RECORD_FLAG" jdbcType="INTEGER" />
		<result property="memberIdA" column="MEMBER_ID_A" jdbcType="VARCHAR" />
		<result property="memberNameA" column="MEMBER_NAME_A" jdbcType="VARCHAR" />
		<result property="memberIdB" column="MEMBER_ID_B" jdbcType="VARCHAR" />
		<result property="memberNameB" column="MEMBER_NAME_B" jdbcType="VARCHAR" />
		<result property="type" column="TYPE" jdbcType="INTEGER" />
		<result property="imgPath" column="IMG_PATH" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="contractType" column="CONTRACT_TYPE" jdbcType="INTEGER" />
		<result property="confirmState" column="CONFIRM_STATE" jdbcType="INTEGER" />
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="refContractNo" column="REF_CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="applyDate" column="APPLY_DATE" jdbcType="TIMESTAMP" />
		<result property="acceptDate" column="ACCEPT_DATE" jdbcType="TIMESTAMP" />
		<result property="delState" column="DEL_STATE" jdbcType="BOOLEAN" />
		<result property="rfidNo" column="RFID_NO" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询备案 -->
	<select id="queryRecord" resultMap="RecordResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT ID,RECORD_NO,APPLY_ID,APPLY_NAME,MEMBER_ID_A,RECORD_FLAG,MEMBER_NAME_A,MEMBER_ID_B,MEMBER_NAME_B,
		TYPE,IMG_PATH,STATE,CONTRACT_TYPE,CONTRACT_NO,REF_CONTRACT_NO,APPLY_DATE,ACCEPT_DATE,CONFIRM_STATE,RFID_NO
		 FROM M_CONTRACT_RECORD WHERE DEL_STATE=0]]>
		<!-- 备案号 -->
		<if test="condition.recordNo != null and condition.recordNo != ''">
			<![CDATA[AND RECORD_NO = #{condition.recordNo}]]>
		</if>
		<!-- 申请会员ID -->
		<if test="condition.applyId != null and condition.applyId != ''">
			<![CDATA[AND APPLY_ID = #{condition.applyId}]]>
		</if>
		<!-- 查询当前会员所关联的备案 -->
		<if test="condition.memberId != null and condition.memberId != ''">
			<![CDATA[AND (MEMBER_ID_A=#{condition.memberId} or MEMBER_ID_B=#{condition.memberId})]]>
		</if>
		<!-- 合同类型-->
		<if test="condition.contractType != null ">
			<![CDATA[AND CONTRACT_TYPE = #{condition.contractType}]]>
		</if>
		<!-- 逻辑删除标记-->
		<if test="condition.delState != null">
			<![CDATA[AND DEL_STATE = #{condition.delState}]]>
		</if>
		<!-- 对应合同号-->
		<if test="condition.contractNo != null and condition.contractNo != ''">
			<![CDATA[AND CONTRACT_NO = #{condition.contractNo}]]>
		</if>
		<!-- 对应甲方会员ID-->
		<if test="condition.memberIdA != null and condition.memberIdA != ''">
			<![CDATA[AND MEMBER_ID_A = #{condition.memberIdA}]]>
		</if>
		<!-- 合同签订人-->
		<if test="condition.contractPepole != null and condition.contractPepole != ''">
			<![CDATA[AND (memberNameA = #{condition.contractPepole} OR memberNameB = #{condition.contractPepole})]]>
		</if>
		<!-- 对应乙方会员ID-->
		<if test="condition.memberIdB != null and condition.memberIdB != ''">
			<![CDATA[AND MEMBER_ID_B = #{condition.memberIdB}]]>
		</if>
		<!-- 备案状态-->
		<if test="condition.state != null and condition.state != ''">
			<![CDATA[AND STATE = #{condition.state}]]>
		</if>
		<if test="condition.flag != null and condition.flag != ''">
			<![CDATA[AND RECORD_FLAG = #{condition.flag}]]>
		</if>
		<!-- 备案类型-->
		<if test="condition.recordType != null and condition.recordType != ''">
			<![CDATA[AND TYPE = #{condition.recordType}]]>
		</if>
		<if test="condition.confirmState != null and condition.confirmState != ''">
			<![CDATA[AND CONFIRM_STATE = #{condition.confirmState}]]>
		</if>
		<!-- 申请时间段 -->
 		<if test="condition.startApplyDate != null and condition.endApplyDate != null and condition.startApplyDate != ''  and condition.endApplyDate != ''"> -->
			<![CDATA[AND APPLY_DATE >=#{condition.startApplyDate} AND APPLY_DATE < DATE_ADD(#{condition.endApplyDate},INTERVAL 1 DAY)]]>
		</if>
		<!-- 受理时间段 -->
		<if test="condition.startAcceptDate != null and condition.endAcceptDate != null and condition.startAcceptDate != '' and condition.endAcceptDate != ''">
			<![CDATA[AND ACCEPT_DATE >=#{condition.startAcceptDate} AND ACCEPT_DATE < DATE_ADD(#{condition.endAcceptDate},INTERVAL 1 DAY)]]>
		</if>
		<if test="condition.sortColumn != null and condition.sortColumn != null and condition.sort != '' and condition.sort != ''">
		<![CDATA[ORDER BY ${condition.sortColumn} ${condition.sort}]]>
		</if>
	</select>
</mapper>