<#assign staticPath="http://static.menchuang.org.cn/finance-website/" />
<#assign imagePath="http://storage.menchuang.org.cn/" />
<#macro validate>
<!--<script src="${staticPath}js/jquery.validate.js"></script>-->
<script src="${staticPath}js/Validform_v5.3.2.js"></script>
<script src="${staticPath}js/jquery.poshytip.min.js"></script>
<script>
$(function(){
	$(":input").each(function(){
		if($(this).attr("title"))
			$(this).poshytip({
		className: 'tipMsg msg-gray ml5',
		showOn: 'focus',
		alignTo: 'target',
		alignX: 'right',
		alignY: 'center',
		offsetX: 5
	});
	
	});
});
</script>
</#macro>
<#macro dialogBox>
<script src="${staticPath}js/layer.min.js"></script>
<script src="${staticPath}js/layer.ext.js"></script>
<script>
function errorInfo(message){
	layer.alert(message,3);
}
function messageInfo(message){
	layer.alert(message,5);
 }
 
function succInfo(confirm,message){
	layer.alert(message,1,function(index){
		layer.close(index);
		confirm();
	});
 }
function loadingImg(){
	var loadInfoIndex = $.layer({
		    type: 3,
		    title: false,
		   	area: ['20%', '20%'],
		    offset: ['35%', '52%'],
		    border: [0], //去掉默认边框
		    shade: [0.1, '#000'], //去掉遮罩
		    closeBtn: [0, false], //去掉默认关闭按钮
		    //shift: 'left', //从左动画弹出
		    loading: {
   				type: 1
			}
		});
	return loadInfoIndex;
}

function loadInfo(){
	var loadInfoIndex = $.layer({
		    type: 3,
		    title: false,
		   	area: ['20%', '20%'],
		    offset: ['35%', '52%'],
		    border: [10, 0.3, '#000'], //去掉默认边框
		    shade: [0.5, '#000'], //去掉遮罩
		    closeBtn: [0, false], //去掉默认关闭按钮
		    //shift: 'left', //从左动画弹出
		    loading: {
   				type: 2
			}
		});
	return loadInfoIndex;
}
function dialogBox(confirm,message){
	layer.confirm(message,function(index){
		layer.close(index);
		var loadInfoIndex=loadingImg();
		confirm(loadInfoIndex);
	});
 }
 
function dialogBoxOut(html){
	 var pageii = $.layer({
		    type: 1,
		    title: false,
		    offset: ['200px', ''],
		   	area: ['20%', '20%'],
		    border: [0], //去掉默认边框
		    shade: [0.5,'#000'], //去掉遮罩
		    closeBtn: [0, false], //去掉默认关闭按钮
		    //shift: 'left', //从左动画弹出
		    page: {
		        html: html
		    }
		});
	 return pageii;
}
 
</script>
</#macro>
<#macro pageScript>
<!--<script src="${staticPath}js/jquery.paginate.js"></script>  -->
<script src="${staticPath}js/jquery.pagination_2.js"></script>
<link rel="stylesheet" href="${staticPath}style/pagination_2.css" />
<script>
/**function loadPage(currentPage,totalPage,query){
	if(totalPage>0){
		$("#pager").attr("currentPage",currentPage);
		$("#pager").attr("totalPage",totalPage);
		$("#pager").paginate({
			count 		: totalPage,
			start 		: currentPage,
			display     : 10,
			border					: true,
			border_color			: '#CCC',
			text_color  			: '#333',
			background_color    	: '#FFF',	
			border_hover_color		: '#ff4400',
			text_hover_color  		: '#ff4400',
			background_hover_color	: '#fff', 
			images					: false,
			mouse					: 'press',
			onChange				: function(page){
				query(page);
			}
		});
	}else{
		$("#pager").empty();
	}
}
$("#pager").ready(function(){
	loadPage(${query.currentPage},${query.totalPage},query);
});**/
function loadPage(currentPage,totalPage) {
	// 创建分页
	$("#pager").attr("currentPage",currentPage);
	$("#pager").attr("totalPage",totalPage);
	$("#pager").pagination(totalPage, {
		num_edge_entries: 1, //边缘页数
		num_display_entries: 4, //主体页数
		callback: function(page_index,jp){
			query(page_index+1);
			$("#pager").attr("currentPage",page_index+1);
			return false;
		},
		current_page:currentPage-1,
		items_per_page:1, //每页显示1项
		prev_text: "前一页",
		next_text: "后一页"
	});
 }
$("#pager").ready(function(){
	loadPage(${query.currentPage},${query.totalPage});
});
</script>
</#macro>
<#macro upload>
<script src="${staticPath}js/jquery.uploadify.js"></script>
<link href="${staticPath}style/uploadify.css" rel="stylesheet" type="text/css" />
<script>
var iviewer;

var elastislideConfig={
		count:6//当前显示数量
}
var slideTimes=elastislideConfig.count;
var currentHiddenImages;
var currentLi;
var closeViewer;
$(document).ready(function(){
	$(".iviewer_del").live("click",function(){
		var url=$(this).siblings("img").attr("src");
		var prefix="${b.imagePath}";
		var image=url.substring(url.indexOf(prefix)+prefix.length);
		var images=currentHiddenImages.attr("value");
		var result=images.replace(image+",","").replace(","+image,"").replace(image,"");
		currentHiddenImages.attr("value",result)
		currentLi.remove();
		closeViewer();
	});
});
var refreshIviewer=function($viewer,src,$container){
	$viewer.find("img").attr("src","");
	if($viewer.children().length==0){
		iviewer=$viewer.iviewer({
			src : src,
			mousewheel : true
		});
	}else{
		iviewer.iviewer('loadImage', src);
	}
	if($container){
		$container.css("top",$(window).scrollTop());
		$container.show();
		$container.find(".modal-header").show();
	}else{
		$(".modal-wrap").show();
		$(".modal-header").show();
	}
	$viewer.show();
}
var errorImage=function($this){
	var times=parseInt($($this).attr("times"));
	if(times<3){
		$($this).attr("src", $($this).attr("src")+'&'+Math.random());
		$($this).attr("times",times+1);
	}else if(times==3){
		$($this).attr("src", "http://static.menchuang.org.cn/supervisor-website/images/bg404.jpg");
		$($this).attr("times",times+1);
	}
}
var refreshElastislide=function($container,$carousel,data,empty){
	if(!data)
		return;
	var start=0;
	if(empty)
		$carousel.empty();
	if(data){
		if(data instanceof Array){
			for (var i = 0; i < data.length; i++) {
				var $img=$('<img data-image="${b.imagePath}'+data[i]+'80x100.JPG" alt="" mouseover="errorImage(this)" times="0"/>');
				var $a=$('<a href="javascript:void(0);" class="demo-image" data-image="${b.imagePath}'+data[i]+'"></a>');
				$a.append($img);
				var $p=$('<p>'+(i+1)+'</p>');
				var $li=$('<li></li>');
				$li.append($a);
				$li.append($p);
				$carousel.append($li);
			}
		}else{
			var $img=$('<img src="${b.imagePath}'+data.fileIds+'80x100.JPG"  onerror="errorImage(this)" times="0"/>');
			var $a=$('<a href="javascript:void(0);" class="demo-image" data-image="${b.imagePath}'+data.fileIds+'"></a>');
			$a.append($img);
			var $li=$('<li></li>');
			$li.append($a);
			
			$carousel.append($li);
			var $p=$('<p>'+$carousel.children().length+'</p>');
			$li.append($p);
			start=$carousel.children().length;
		}
	}
	$container.empty();
	$container.append($carousel);
	$carousel.elastislide({
		orientation : 'horizontal',
		speed : 500,
		easing : 'ease-in-out',
		minItems : elastislideConfig.count,
		start : start,
		onClick : function( el, position, evt ) { 
			return false; 
		},
		onReady : function() { 
			$carousel.children("li:lt("+elastislideConfig.count+")").each(function(){
				var $image=$(this).find("img");
				if($image.attr("data-image"))
					$image.attr("src",$image.attr("data-image"));
			});
			if($carousel.children("li").length<elastislideConfig.count)
				$(".elastislide-prev").hide();
			return false; },
		onBeforeSlide : function() { return false; },
		onAfterSlide : function() { 
			if(start>0)
				slideTimes=slideTimes+start;
			$carousel.children("li:lt("+slideTimes+")").each(function(){
				var $image=$(this).find("img");
				if($image.attr("data-image"))
					$image.attr("src",$image.attr("data-image"));
			});
			slideTimes=slideTimes+elastislideConfig.count;
			return false; }
	});
	$container.show();
	
}

function loadUpload(id,url,isMulti,text,fn){
	  $("#"+id).uploadify({
	        swf: '${basePath}upload/uploadify.swf',
	        uploader: url,
	        fileTypeExts: '*.jpg',
	        auto: true,
	        multi: false,
	        simUploadLimit:1,
	        height:30,
	        width:200,
	        buttonText:text,
	        onUploadSuccess : function(file, data, response) {
	        	fn(data);
	        }
	        
	    });
} 
</script>
</#macro> 
<#macro header>
<div id="header" class="fence">
<div class="fence-wide topBox">
<#if Session.userinfo?exists>
		<div class="logOut tr pr20 fontYH f14">
			<#if Session.userinfo.account?exists> ${Session.userinfo.account.name}，您好
			<#else> ${Session.userinfo.member.name}，您好！
			</#if> <a href="${basePath}logout.htm">退出当前帐户</a>
		</div>
		</#if>
</div>
</div>
</#macro> 

<#macro footer>
<script type="text/javascript">
$(document).ready(function(){
	var newDate = new Date();
	var year = newDate.getFullYear();
	$("#yearSapn").text(year);
});
</script>
<div id="footer" class="fence">
  <div class="fence-wide color-gray6">© <span id="yearSapn"></span> 江苏紫金财富金融信息服务有限公司&nbsp;版权所有<span class="ml10"><a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备14047993号-1</a></span></div>
</div>
</#macro>
<#macro leftMenu isLoad>
<script>
$(document).ready(function(){
	$(".leftMenu li").removeClass("on");
	$(".leftMenu a").each(function(){
		var href=window.location.href;
		href=href.substring(0,href.lastIndexOf("/"));
		var menu=$(this).attr("href");
		menu=menu.substring(0,menu.lastIndexOf("/"));
		if(href.indexOf(menu)>0)
			$(this).parent().addClass("on");
	});
	var menuYloc = $("#splitsuspend_div").offset().top;
	    $(window).scroll(function (){ 
	        var offsetTop = $(window).scrollTop();
	      // alert(menuYloc);
	       //alert(offsetTop);
	        if(offsetTop>=menuYloc){
	        	 $("#splitsuspend_div").animate({top : offsetTop-menuYloc+"px"},{ duration:100 , queue:false });
	        }
	    });
	
	
});
</script>
<div class="yard-200 ly-left" id="splitsuspend_div" style="position: relative;top:0px;">
<div class="leftMenu pt5 pb5">
<h2 class="pl15 fb">会员中心</h2>
<ul class="pl10 pr10">
<li><a href="${basePath}member/info.htm">会员中心</a></li>
</ul>
<h2 class="pl15 pt5 fb">融资管理</h2>
<ul class="pl10 pr10">

<li><a href="${basePath}finance/financeList.htm">融资管理</a></li>

</ul>
</div>
</div>
</#macro> 
<#macro pager>
<div id="pager" class="pagination f12 mt10 ly-right" totalPage="${query.totalPage}"
	currentPage="${query.currentPage}"></div>
</#macro>


