<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>紫金财富金融服务平台</title>
<meta name="keywords" content="紫金财富金融服务平台">
<meta name="description" content="紫金财富金融服务平台">
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
</head>

<body id="regin">
<div class="loginBox">
<div class="logo mt10 ml20 mb20 tc">
<img src="${b.staticPath}images/login-home.jpg" alt="紫金财富金融服务平台" title="紫金财富金融服务平台" width="660" height="70" />
</div>
<div class="loginInfo">
<div class="loginModern">
<h2 class="loginTitle fontYH f20 ly-hide">登录紫金财富</h2>
  <div class="item pr">
    <label>公司名称</label>
    <input class="input" type="text" autocomplete="off" placeholder="" title="" id="" name="" value="" />
  </div>
<div class="item">
    <label>登录帐户</label>
    <input class="input" type="text" autocomplete="off" placeholder="" title="" id="" name="" value="" />
  </div>
<div class="item">
  <label><a href="find-password.html" class="ly-right mr10">忘记密码？</a>登录密码</label>
  <input class="input" type="password" autocomplete="off" placeholder="" title="" />
  <div class="tip msg-error f12 ly-hide">请输入正确的密码</div>
</div>
<div class="buttonBox mt15 tc">
<a href="member-profile.html" class="button button-red">登录</a>
<a href="${basePath}/autoLogin.htm" class="button button-key">一键登录</a>
</div>
</div>
</div>
</div>
<@b.footer />
</body>
</html>
