<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxj.supervisor.dao.rfid.apply.IRfidApplicationDao">
	<resultMap id="ApplicationResultMap" type="com.sxj.supervisor.entity.rfid.apply.RfidApplicationEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="applyNo" column="APPLY_NO" jdbcType="VARCHAR" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="memberName" column="MEMBER_NAME" jdbcType="VARCHAR" />
		<result property="rfidType" column="RFID_TYPE" jdbcType="INTEGER" /> <!-- 枚举 -->
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="count" column="COUNT" jdbcType="INTEGER" />
		<result property="applyDate" column="APPLY_DATE" jdbcType="DATE" />
		<result property="payState" column="PAY_STATE" jdbcType="INTEGER" /><!-- 枚举 -->
		<result property="receiptState" column="RECEIPT_STATE" jdbcType="INTEGER" /><!-- 枚举 -->
		<result property="delstate" column="DEL_STATE" jdbcType="BOOLEAN" />
	</resultMap>
	<!-- 按条件查询供应商 -->
	<select id="queryList" resultMap="ApplicationResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT *
		 FROM R_RFID_SUPPLIER WHERE 1=1]]>
		<!-- 会员号 -->
		<if test="condition.supplierNo != null and condition.supplierNo !=''">
			<![CDATA[AND SUPPLIER_NO LIKE CONCAT('%',#{condition.supplierNo},'%') ]]>
		</if>
		<!-- 逻辑删除 -->
		<if test="condition.delstate != null ">
			<![CDATA[AND DEL_STATE = #{condition.delstate}]]>
		</if>
	</select>
</mapper>