<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sxj.supervisor.dao.rfid.apply.IRfidApplicationDao">
	<resultMap id="RfidApplicationEntity" type="com.sxj.supervisor.entity.rfid.apply.RfidApplicationEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="applyNo" column="APPLY_NO" jdbcType="VARCHAR" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="memberName" column="MEMBER_NAME" jdbcType="VARCHAR" />
		<result property="rfidType" column="RFID_TYPE" jdbcType="INTEGER" /> <!-- 枚举 -->
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="count" column="COUNT" jdbcType="INTEGER" />
		<result property="applyDate" column="APPLY_DATE" jdbcType="TIMESTAMP" />
		<result property="payState" column="PAY_STATE" jdbcType="INTEGER" /><!-- 枚举 -->
		<result property="receiptState" column="RECEIPT_STATE" jdbcType="INTEGER" /><!-- 枚举 -->
		<result property="delstate" column="DEL_STATE" jdbcType="BOOLEAN" />
		<result property="hasNumber" column="HAS_NUMBER" jdbcType="INTEGER" />
	</resultMap>
	<!-- 按条件查询供应商 -->
	<select id="queryList" resultMap="RfidApplicationEntity"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM R_RFID_APPLICATION WHERE 1=1]]>
		<!-- 申请ID -->
		<if test="condition.applyNo != null and condition.applyNo !=''">
			<![CDATA[AND APPLY_NO =#{condition.applyNo} ]]>
		</if>
		<if test="condition.memberName != null and condition.memberName !=''">
			<![CDATA[AND MEMBER_NAME LIKE CONCAT('%',#{condition.memberName},'%') ]]>
		</if>
		<if test="condition.memberNo != null and condition.memberNo !=''">
			<![CDATA[AND MEMBER_NO=#{condition.memberNo}]]>
		</if>
		<if test="condition.contractNo != null and condition.contractNo !=''">
			<![CDATA[AND CONTRACT_NO LIKE CONCAT('%',#{condition.contractNo},'%') ]]>
		</if>
		<if test="condition.rfidType != null ">
			<![CDATA[AND RFID_TYPE = #{condition.rfidType} ]]>
		</if>
		<if test="condition.receiptState != null ">
			<![CDATA[AND RECEIPT_STATE = #{condition.receiptState} ]]>
		</if>
		<if test="condition.payState != null ">
			<![CDATA[AND PAY_STATE = #{condition.payState} ]]>
		</if>
		<!-- 申请时间段 -->
		<if
			test="condition.starApplyDate != null and condition.endApplyDate != null and condition.starApplyDate != '' and condition.endApplyDate != ''">
			<![CDATA[AND APPLY_DATE >=CONCAT(#{condition.starApplyDate}," 00:00:00" ) AND APPLY_DATE <= CONCAT(#{condition.endApplyDate}," 23:59:59")]]>
		</if>
		<!-- 逻辑删除 -->
		<if test="condition.delstate != null ">
			<![CDATA[AND DEL_STATE = #{condition.delstate}]]>
		</if>
		<![CDATA[ ORDER BY APPLY_DATE DESC]]>
	</select>
</mapper>