<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractImgDao">
	<resultMap id="BaseResultMap" type="com.sxj.supervisor.entity.contract.ContractImgEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="contractId" column="CONTRACT_ID" jdbcType="VARCHAR" />
		<result property="imgPath" column="IMG_PATH" jdbcType="VARCHAR" />
		<result property="hisItemId" column="HIS_ITEM_ID" jdbcType="VARCHAR" />
		<result property="hisBatchId" column="HIS_BATCH_ID" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 条件查询合同图片-->
	<select id="queryImages" resultType="java.util.List"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT ID,CONTRACT_NO,IMG_PATH,HIS_ITEM_ID,HIS_BATCH_ID 
		 FROM CONTRACT WHERE 1=1]]>
		<!-- 合同号 -->
		<if test="condition.contractId != null">
			<![CDATA[AND CONTRACT_ID = #{condition.contractId}]]>
		</if>
		<!-- 合同明细ID -->
		<if test="condition.hisItemId != null">
			<![CDATA[AND HIS_ITEM_ID = #{condition.hisItemId}]]>
		</if>
		<!-- 合同批次ID  -->
		<if test="condition.hisBatchId != null">
			<![CDATA[AND HIS_BATCH_ID=#{condition.hisBatchId}]]>
		</if>
	</select>
</mapper>