<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.contract.IContractDao">
	<resultMap id="BaseResultMap" type="com.sxj.supervisor.entity.contract.ContractEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="contractNo" column="CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
		<result property="memberIdA" column="MEMBER_ID_A" jdbcType="INTEGER" />
		<result property="memberIdB" column="MEMBER_ID_B" jdbcType="VARCHAR" />
		<result property="engName" column="ENG_NAME" jdbcType="VARCHAR" />
		<result property="engAddress" column="ENG_ADDRESS" jdbcType="VARCHAR" />
		<result property="recordNo" column="RECORD_NO" jdbcType="VARCHAR" />
		<result property="signedDate" column="SIGNED_DATE" jdbcType="TIME" />
		<result property="validityDate" column="VALIDITY_DATE" jdbcType="TIME" />
		<result property="startDate" column="START_DATE" jdbcType="TIME" />
		<result property="deposit" column="DEPOSIT" jdbcType="INTEGER" />
		<result property="remarks" column="REMARKS" jdbcType="VARCHAR" />
		<result property="deliveryAddress" column="DELIVERY_ADDRESS" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="type" column="TYPE" jdbcType="INTEGER" />
		<result property="refContractNo" column="REF_CONTRACT_NO" jdbcType="VARCHAR" />
		<result property="memberNameA" column="MEMBER_NAME_A" jdbcType="VARCHAR" />
		<result property="memberNameB" column="MEMBER_NAME_B" jdbcType="VARCHAR" />
		<result property="stateLog" column="STATE_LOG" jdbcType="VARCHAR" />
		<result property="imgId" column="IMG_ID" jdbcType="VARCHAR" />
		<result property="creationDate" column="CREATION_DATE" jdbcType="TIME" />
		<result property="recordDate" column="RECORD_DATE" jdbcType="TIME" />
	</resultMap>

	<!-- 条件查询合同 -->
	<select id="queryContract" resultType="java.util.List"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT ID,CONTRACT_NO,ADDRESS,MEMBER_ID_A,MEMBER_ID_B,ENG_NAME,ENG_ADDRESS,RECORD_NO,SIGNED_DATE,VALIDITY_DATE,
		START_DATE,DEPOSIT,REMARKS,DELIVERY_ADDRESS,STATE,TYPE,REF_CONTRACT_NO,MEMBER_NAME_A,MEMBER_NAME_B,STATE_LOG,IMG_ID,
		CREATION_DATE,RECORD_DATE FROM CONTRACT WHERE 1=1]]>
		<!-- 合同号 -->
		<if test="condition.contractId != null">
			<![CDATA[AND CONTRACT_ID = #{condition.contractId}]]>
		</if>
		<!-- 备案号 -->
		<if test="condition.recordNo != null">
			<![CDATA[AND RECORD_NO = #{condition.recordNo}]]>
		</if>
		<!-- 合同签订者  -->
		<if test="condition.memberId != null">
			<![CDATA[AND (MEMBER_ID_A=#{condition.memberId} or MEMBER_ID_B=#{condition.memberId})]]>
		</if>
		<!-- 合同类型-->
		<if test="condition.type != null">
			<![CDATA[AND TYPE = #{condition.type}]]>
		</if>
		<!-- 关联招标合同号 -->
		<if test="condition.refContractNo != null">
			<![CDATA[AND REF_CONTRACT_NO = #{condition.refContractNo}]]>
		</if>
		<!-- 状态-->
		<if test="condition.state != null">
			<![CDATA[AND STATE = #{condition.state}]]>
		</if>
		<!-- 生成时间-->
		<if test="condition.creationStartTime != null and condition.creationEndTime != null">
			<![CDATA[AND CREATION_DATE >=#{condition.creationStartTime} AND CREATION_DATE <= #{condition.creationEndTime}]]>
		</if>
		<!-- 备案时间-->
		<if test="condition.startTime != null and condition.endTime != null">
			<![CDATA[AND REG_DATE >=#{condition.startTime} AND REG_DATE <= #{condition.endTime}]]>
		</if>
	</select>
</mapper>