<#assign staticPath="http://static.menchuang.org.cn/finance-manager/" />
<#assign imagePath="http://storage.menchuang.org.cn/" />
<#macro dialogBox>
<script src="${staticPath}js/layer.min.js"></script>
<script src="${staticPath}js/layer.ext.js"></script>
<script>
var isNumber=function(str){
	for(i=0;i<str.length;i++){
		if(str.charAt(i)>='0'&&str.charAt(i)<='9'||str.charAt(i)=='-'&&i==0){
		continue;
		}else{
		return false;
		}
		}
		return true;
}
function errorInfo(message){
	layer.alert(message,3);
}
function messageInfo(message){
	layer.alert(message,5);
 }
 
function succInfo(confirm,message){
	layer.alert(message,1,function(index){
		layer.close(index);
		confirm();
	});
 }

function loadingImg(){
	var loadInfoIndex = $.layer({
		    type: 3,
		    title: false,
		   	area: ['20%', '20%'],
		    offset: ['35%', '52%'],
		    border: [0], //去掉默认边框
		    shade: [0.1, '#000'], //去掉遮罩
		    closeBtn: [0, false], //去掉默认关闭按钮
		    //shift: 'left', //从左动画弹出
		    loading: {
   				type: 1
			}
		});
	return loadInfoIndex;
}

function dialogBox(confirm,message){
	layer.confirm(message,function(index){
		layer.close(index);
		var loadInfoIndex=loadingImg();
		confirm(loadInfoIndex);
	});
 }
 
function dialogBoxOut(html){
	 var pageii = $.layer({
		    type: 1,
		    title: false,
		    offset: ['200px', ''],
		   	area: ['20%', '20%'],
		    border: [0], //去掉默认边框
		    shade: [0.5,'#000'], //去掉遮罩
		    closeBtn: [0, false], //去掉默认关闭按钮
		    //shift: 'left', //从左动画弹出
		    page: {
		        html: html
		    }
		});
	 return pageii;
 }
</script>
</#macro>
<#macro validate>
<!--<script src="${staticPath}js/jquery.validate.js"></script>-->
<script src="${staticPath}js/Validform_v5.3.2.js"></script>
<script src="${staticPath}js/jquery.poshytip.min.js"></script>
<script>
$(function(){
	$(":input").each(function(){
		if($(this).attr("title"))
			$(this).poshytip({
		className: 'tipMsg msg-gray ml5',
		showOn: 'focus',
		alignTo: 'target',
		alignX: 'right',
		alignY: 'center',
		offsetX: 5
	});
	
	});
});
</script>
</#macro>
<#macro pageScript>
<!--<script src="${staticPath}js/jquery.paginate.js"></script>  -->
<script src="${staticPath}js/jquery.pagination_2.js"></script>
<link rel="stylesheet" href="${staticPath}style/pagination_2.css" />
<script>
/**function loadPage(currentPage,totalPage,query){
	if(totalPage>0){
		$("#pager").attr("currentPage",currentPage);
		$("#pager").attr("totalPage",totalPage);
		$("#pager").paginate({
			count 		: totalPage,
			start 		: currentPage,
			display     : 10,
			border					: true,
			border_color			: '#CCC',
			text_color  			: '#333',
			background_color    	: '#FFF',	
			border_hover_color		: '#ff4400',
			text_hover_color  		: '#ff4400',
			background_hover_color	: '#fff', 
			images					: false,
			mouse					: 'press',
			onChange				: function(page){
				query(page);
			}
		});
	}else{
		$("#pager").empty();
	}
}**/
function loadPage(currentPage,totalPage) {
	// 创建分页
	$("#pager").attr("currentPage",currentPage);
	$("#pager").attr("totalPage",totalPage);
	$("#pager").pagination(totalPage, {
		num_edge_entries: 1, //边缘页数
		num_display_entries: 4, //主体页数
		callback: function(page_index,jp){
			query(page_index+1);
			$("#pager").attr("currentPage",page_index+1);
			return false;
		},
		current_page:currentPage-1,
		items_per_page:1, //每页显示1项
		prev_text: "前一页",
		next_text: "后一页"
	});
 }
$("#pager").ready(function(){
	loadPage(${query.currentPage},${query.totalPage});
});
</script>
</#macro>
<#macro upload>
<script src="${staticPath}js/jquery.uploadify.js"></script>
<link href="${staticPath}style/uploadify.css" rel="stylesheet" type="text/css" />
<script>
var iviewer;
var elastislideConfig={
		count:6//当前显示数量
}
var slideTimes=elastislideConfig.count;
var currentHiddenImages;
var currentLi;
var closeViewer;
$(document).ready(function(){
	$(".iviewer_del").live("click",function(){
		var url=$(this).siblings("img").attr("src");
		var prefix="${b.imagePath}";
		var image=url.substring(url.indexOf(prefix)+prefix.length);
		var images=currentHiddenImages.attr("value");
		var result=images.replace(image+",","").replace(","+image,"").replace(image,"");
		currentHiddenImages.attr("value",result)
		currentLi.remove();
		closeViewer();
	});
});


var refreshIviewer=function($viewer,src,$container){
	if($viewer.children().length==0){
		iviewer=$viewer.iviewer({
			src : src,
			mousewheel : true
		});
	}else{
		iviewer.iviewer('loadImage', src);
	}
	if($container){
		$container.css("top",$(window).scrollTop());
		$container.show();
		$container.find(".modal-header").show();
	}else{
		$(".modal-wrap").show();
		$(".modal-header").show();
	}
	$viewer.show();
}
var refreshElastislide=function($container,$carousel,data,rebuild){
	
	var start=0;
	if(data){
		if(rebuild)
			$carousel.empty();
		if(data instanceof Array){
			for (var i = 0; i < data.length; i++) {
				$carousel.append('<li><a href="javascript:void(0);" class="demo-image" data-image="${b.imagePath}'+data[i]+'"><img data-image="${b.imagePath}'+data[i]+'80x100.JPG" alt="" /></a><p>'+(i+1)+'</p></li>');
			}
		}else{
			var $li=$('<li><a href="javascript:void(0);" class="demo-image" data-image="${b.imagePath}'+data.fileIds+'"><img src="${b.imagePath}'+data.fileIds+'80x100.JPG" alt="" /></a></li>');
			$carousel.append($li);
			var $p=$('<p>'+$carousel.children().length+'</p>');
			$li.append($p);
			start=$carousel.children().length;
		}
		$container.empty();
		$container.append($carousel);
	}
	$carousel.elastislide({
		orientation : 'horizontal',
		speed : 500,
		easing : 'ease-in-out',
		minItems : elastislideConfig.count,
		start : start,
		onClick : function( el, position, evt ) { 
			return false; 
		},
		onReady : function() { 
			$carousel.children("li:lt("+elastislideConfig.count+")").each(function(){
				var $image=$(this).find("img");
				if($image.attr("data-image"))
					$image.attr("src",$image.attr("data-image"));
			});
			if($carousel.children("li").length<elastislideConfig.count)
				$(".elastislide-prev").hide();
			return false; },
		onBeforeSlide : function() { return false; },
		onAfterSlide : function() { 
			if(start>0)
				slideTimes=slideTimes+start;
			$carousel.children("li:lt("+slideTimes+")").each(function(){
				var $image=$(this).find("img");
				if($image.attr("data-image"))
					$image.attr("src",$image.attr("data-image"));
			});
			slideTimes=slideTimes+elastislideConfig.count;
			return false; }
	});
	$carousel.show();
	$container.show();
	
}


function loadUpload(id,url,multi,text,fn){
	  $("#"+id).uploadify({
	        swf: '${basePath}upload/uploadify.swf',
	        uploader: url,
	        fileTypeExts: '*.jpg',
	        auto: true,
	        multi: false,
	        height:30,
	        width:120,
	        buttonText:text,
	        onUploadSuccess : function(file, data, response) {
	           fn(data);
	        }
	    });
} 
function classLoadUpload(text){
	  $(":file").uploadify({
	        swf: '${basePath}upload/uploadify.swf',
	        uploader: "${basePath}upload.htm",
	        fileTypeExts: '*.jpg',
	        auto: true,
	        multi: false,
	        height:30,
	        width:120,
	        buttonText:text,
	        onUploadSuccess : function(file, data, response) {
	        	var dataObj=eval("("+data+")");//转换为json对象 
	        	$(this.button).parent(".uploadify").siblings(".imageList").append("<img src='${b.imagePath}"+dataObj.fileIds+"100x120.JPG' alt='' />");
	        	  var hideVal= $(this.button).parent(".uploadify").siblings(".imgPathHide ").val();
	        	    if(hideVal==""){
	        	    	hideVal+=dataObj.fileIds;
	        	    }else{
	        	    	hideVal+=","+dataObj.fileIds;
	        	    }
	        	    $(this.button).parent(".uploadify").siblings(".imgPathHide ").val(hideVal);
	        }
	    });
} 
</script>
</#macro>
 
<#macro header>
<meta name="renderer" content="webkit">
<div id="header" class="fence">
<div class="logo">
<h1 class="fontYH fence-wide fb">紫金财富金融服务平台<span class="f24 ml10">后台系统</span></h1>
</div>
</div>
</#macro>
<#macro leftMenu isLoad>
<div class="yard-200 ly-left">
<div class="leftMenu pt5 pb5">
<h2 class="pl15 fb">会员中心</h2>
<ul>
<#if Session.function==1>
<li class="on"><a href="${basePath}member/memberList.htm?function=1">会员管理</a></li>
<#else>
<li><a href="${basePath}member/memberList.htm?function=1">会员管理</a></li>
</#if>
<h2 class="pl15 pt5 fb">融资管理</h2>
<#if Session.function==2>
<li class="on"><a href="${basePath}finance/financeList.htm?function=2">融资管理</a></li>
<#else>
<li><a href="${basePath}finance/financeList.htm?function=2">融资管理</a></li>
</#if>
</ul>
</div>
</div>
</#macro>
<#macro pager>
<!--<div id="pager" class="jPaginate" totalPage="${query.totalPage}" currentPage="${query.currentPage}"></div>  -->
<div id="pager" class="pagination ly-right" currentPage="${query.currentPage}" totalPage="${query.totalPage}"></div>
</#macro>

<#macro footer>
<div id="footer" class="fence">
  <div class="fence-wide">© 2014 江苏紫金财富金融信息服务有限公司&nbsp;版权所有<span class="ml10"><a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备14047993号-1</a></span></div>
</div>
</#macro>

