
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>紫金财富金融服务平台</title>
<meta name="keywords" content="紫金财富金融服务平台">
<meta name="description" content="紫金财富金融服务平台">
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
<script src="${b.staticPath}js/jquery.js"></script>
<script>
$(function(){
	if("${amessage}"!=""){
		$("#amessage_div").show();
	}
	if("${pmessage}"!=""){
		$("#pmessage_div").show();
	}
});
$(document).keyup(function(event){
	  if(event.keyCode ==13){
		  if($("#account_input").val()!=""&&$("#password_input").val()!=""){
			  login();
		  }
	  }
	});
function login()
{
	$("#login_form").submit();
	
}
</script>
</head>

<body>
<div id="header" class="fence">
  <div class="logo">
    <h1 class="fontYH fence-wide fb">紫金财富金融服务平台<span class="f24 ml10">后台系统</span></h1>
  </div>
</div>
<form id="login_form" action="${basePath}login.htm" method="post">
<div class="fence mainBg loginBox">
  <div class="loginInfo">
  <div class="loginModern">
    <div class="item">
      <label>登录帐户</label>
    <input id="account_input" class="input" type="text" autocomplete="off" placeholder="" name="account" value="${account}" />
    <div id="amessage_div" class="tip msg-error f12 ly-hide " style="display:none;">${amessage}</div>
</div>
<div class="item">
  <label>登录密码</label>
  <input id="password_input" class="input" type="password" autocomplete="off" placeholder="" name="password" />
  <div id="pmessage_div" class="tip msg-error f12 ly-hide " style="display:none;">${pmessage}</div>
</div>
<div class="buttonBox mt15 tc">
<a href="javascript:login();" class="button button-orange">登&nbsp;录</a>
</div>
</div>
</div>
</div>
</form>
<@b.footer/>
</body>
</html>
