<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.member.IAccountDao">
	<resultMap id="BaseResultMap" type="com.sxj.supervisor.entity.member.AccountEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="parentId" column="PARENT_ID" jdbcType="VARCHAR" />
		<result property="accountName" column="ACCOUNT_NAME" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="state" column="STATE" jdbcType="INTEGER" typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="regDate" column="REG_DATE" jdbcType="DATE" />
		<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
		<result property="accountNo" column="ACCOUNT_NO" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 子账户高级查询 -->
	<select id="queryAccount" resultMap="BaseResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT A.ID,A.PARENT_ID,A.ACCOUNT_NAME,A.NAME,
		A.STATE,A.REG_DATE,A.PASSWORD,A.ACCOUNT_NO 
		 FROM M_MEMBER_ACCOUNT A  WHERE 1=1 ]]>
		<if test="condition.parentId != null">
			<![CDATA[AND A.PARENT_ID = #{condition.parentId}]]>
		</if>
		<if test="condition.accountNo != null">
			<![CDATA[AND A.ACCOUNT_NO = #{condition.accountNo}]]>
		</if>
		<if test="condition.accountName != null">
			<![CDATA[AND A.ACCOUNT_NAME = #{condition.accountName}]]>
		</if>
		<if test="condition.state != null">
			<![CDATA[AND A.STATE = #{condition.state}]]>
		</if>
		<!-- 子会员注册时间段 -->
		<if test="condition.startTime != null and condition.endTime != null">
			<![CDATA[AND A.REG_DATE >=#{condition.startTime} AND A.REG_DATE <= #{condition.endTime}]]>
		</if>
	</select>
</mapper>