<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.member.IMemberDao">
	<resultMap id="MemberResultMap" type="com.sxj.supervisor.entity.member.MemberEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="bLicenseNo" column="B_LICENSE_NO" jdbcType="VARCHAR" />
		<result property="type" column="TYPE" jdbcType="INTEGER"
			typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="area" column="AREA" jdbcType="VARCHAR" />
		<result property="contacts" column="CONTACTS" jdbcType="VARCHAR" />
		<result property="energyNo" column="ENERGY_NO" jdbcType="VARCHAR" />
		<result property="code" column="CODE" jdbcType="VARCHAR" />
		<result property="phoneNo" column="PHONE_NO" jdbcType="VARCHAR" />
		<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
		<result property="telNum" column="TEL_NUM" jdbcType="VARCHAR" />
		<result property="regDate" column="REG_DATE" jdbcType="DATE" />
		<result property="authorDate" column="AUTHOR_DATE" jdbcType="DATE" />
		<result property="state" column="STATE" jdbcType="INTEGER"
			typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="checkState" column="CHECK_STATE" jdbcType="INTEGER"
			typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
		<result property="totalAmount" column="TOTAL_AMOUNT" jdbcType="INTEGER" />
		<result property="accountNum" column="ACCOUNT_NUM" jdbcType="INTEGER" />
		<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="bLicensePath" column="B_LICENSE_PATH"
			jdbcType="VARCHAR" />
		<result property="energyPath" column="ENERGY_PATH" jdbcType="VARCHAR" />
	</resultMap>

	<update id="update">
		update M_MEMBER set TYPE=#{type} where ID=1
	</update>

	<!-- 条件查询会员 -->
	<select id="queryMembers" resultMap="MemberResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT *
		 FROM M_MEMBER WHERE 1=1]]>
		<!-- 会员号 -->
		<if test="condition.memberNo != null and condition.memberNo !=''">
			<![CDATA[AND MEMBER_NO = #{condition.memberNo}]]>
		</if>
		<!-- 会员名称 -->
		<if test="condition.name != null and condition.name != ''">
			<![CDATA[AND NAME = #{condition.name}]]>
		</if>
		<!-- 联系人 -->
		<if test="condition.contacts != null and condition.contacts != ''">
			<![CDATA[AND CONTACTS = #{condition.contacts}]]>
		</if>
		<!-- 联系人电话 -->
		<if test="condition.phoneNo != null and condition.phoneNo != ''">
			<![CDATA[AND PHONE_NO = #{condition.phoneNo}]]>
		</if>
		<!-- 地理位置 -->
		<if test="condition.area != null and condition.area != ''">
			<![CDATA[AND AREA = #{condition.area}]]>
		</if>
		<!-- 营业执照号码 -->
		<if test="condition.bLicenseNo != null and condition.bLicenseNo != ''">
			<![CDATA[AND B_LICENSE_NO = #{condition.bLicenseNo}]]>
		</if>
		<!-- 节能标识 -->
		<if test="condition.energyNo != null and condition.energyNo != ''">
			<![CDATA[AND ENERGY_NO = #{condition.energyNo}]]>
		</if>
		<!-- 会员类型 -->
		<if test="condition.type !=null">
			<![CDATA[AND TYPE = #{condition.type}]]>
		</if>
		<!-- 会员状态 -->
		<if test="condition.checkState !=null">
			<![CDATA[AND CHECK_STATE = #{condition.checkState}]]>
		</if>
		<!-- 会员注册时间段 -->
		<if
			test="condition.startTime != null and condition.endTime != null and condition.startTime != '' and condition.endTime != ''">
			<![CDATA[AND REG_DATE >=#{condition.startTime} AND REG_DATE <= #{condition.endTime}]]>
		</if>
	</select>
</mapper>
