<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.member.IMemberDao">
	<resultMap id="MemberResultMap" type="com.sxj.supervisor.entity.member.MemberEntity">
	<id property="id" column="ID" jdbcType="VARCHAR" />
	<result property="name" column="NAME" jdbcType="VARCHAR" />
	<result property="bLicenseNo" column="B_LICENSE_NO" jdbcType="VARCHAR" />
	<result property="type" column="TYPE" jdbcType="INTEGER"
		typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
	<result property="area" column="AREA" jdbcType="VARCHAR" />
	<result property="contacts" column="CONTACTS" jdbcType="VARCHAR" />
	<result property="energyNo" column="ENERGY_NO" jdbcType="VARCHAR" />
	<result property="code" column="CODE" jdbcType="VARCHAR" />
	<result property="phoneNo" column="PHONE_NO" jdbcType="VARCHAR" />
	<result property="address" column="ADDRESS" jdbcType="VARCHAR" />
	<result property="telNum" column="TEL_NUM" jdbcType="VARCHAR" />
	<result property="regDate" column="REG_DATE" jdbcType="TIMESTAMP" />
	<result property="authorDate" column="AUTHOR_DATE" jdbcType="TIMESTAMP" />
	<result property="state" column="STATE" jdbcType="INTEGER"
		typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
	<result property="checkState" column="CHECK_STATE" jdbcType="INTEGER"
		typeHandler="org.apache.ibatis.type.EnumOrdinalTypeHandler" />
	<result property="totalAmount" column="TOTAL_AMOUNT" jdbcType="INTEGER" />
	<result property="accountNum" column="ACCOUNT_NUM" jdbcType="INTEGER" />
	<result property="password" column="PASSWORD" jdbcType="VARCHAR" />
	<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
	<result property="deviceNumber" column="DEVICE_NUMBER" jdbcType="VARCHAR" />
	<result property="bLicensePath" column="B_LICENSE_PATH"
		jdbcType="VARCHAR" />
	<result property="energyPath" column="ENERGY_PATH" jdbcType="VARCHAR" />
	<result property="flag" column="FLAG" jdbcType="BOOLEAN" />
	<result property="version" column="VERSION_LOCK" jdbcType="INTEGER" />

	<result property="qualification_img" column="QUALIFICATION_IMG"
		jdbcType="VARCHAR" />
	<result property="qualification_no" column="QUALIFICATION_NO"
		jdbcType="VARCHAR" />
	<result property="safety_licenses_no" column="SAFETY_LICENSES_NO"
		jdbcType="VARCHAR" />
	<result property="safety_licenses_img" column="SAFETY_LICENSES_IMG"
		jdbcType="VARCHAR" />
	<result property="qms_no" column="QMS_NO" jdbcType="VARCHAR" />
	<result property="qms_img" column="QMS_IMG" jdbcType="VARCHAR" />
	<result property="ccc_no" column="CCC_NO" jdbcType="VARCHAR" />
	<result property="ccc_img" column="CCC_IMG" jdbcType="VARCHAR" />
	<result property="production_license_no" column="PRODUCTION_LICENSE_NO"
		jdbcType="VARCHAR" />
	<result property="production_license_img" column="PRODUCTION_LICENSE_IMG"
		jdbcType="VARCHAR" />
	<result property="legalRep" column="LEGAL_REP" jdbcType="VARCHAR" />
	<result property="registeredCapital" column="REGISTERED_CAPITAL"
		jdbcType="DOUBLE" />
	<result property="foundedDate" column="FOUNDED_DATE" jdbcType="DATE" />
	<result property="level" column="LEVEL" jdbcType="INTEGER" />
	<result property="marketers" column="MARKETERS" jdbcType="VARCHAR" />
	<result property="remark" column="REMARK" jdbcType="VARCHAR" />
	<result property="upDate" column="UPDATE_DATE" jdbcType="TIMESTAMP" />
</resultMap>
	
	<select id="getMemberByName" resultMap="MemberResultMap"
		parameterType="String">
		<![CDATA[SELECT * FROM M_MEMBER WHERE NAME=#{name}]]>
	</select>

	<!-- 条件查询会员 -->
	<select id="queryMembers" resultMap="MemberResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT *
		 FROM M_MEMBER WHERE 1=1]]>
		<!-- 会员号 -->
		<if test="condition.memberNo != null and condition.memberNo !=''">
			<![CDATA[AND MEMBER_NO LIKE CONCAT('%',#{condition.memberNo},'%')]]>
		</if>
		<!-- 会员名称 -->
		<if test="condition.name != null and condition.name != ''">
			<![CDATA[AND NAME LIKE CONCAT('%',#{condition.name},'%')]]>
		</if>
		<!-- 联系人 -->
		<if test="condition.contacts != null and condition.contacts != ''">
			<![CDATA[AND CONTACTS LIKE CONCAT('%',#{condition.contacts},'%') ]]>
		</if>
		<!-- 联系人电话 -->
		<if test="condition.phoneNo != null and condition.phoneNo != ''">
			<![CDATA[AND PHONE_NO LIKE CONCAT('%',#{condition.phoneNo},'%')]]>
		</if>
		<!-- 地理位置 -->
		<if test="condition.area != null and condition.area != ''">
			<![CDATA[AND AREA LIKE CONCAT('%',#{condition.area},'%')]]>
		</if>
		<!-- 营业执照号码 -->
		<if test="condition.bLicenseNo != null and condition.bLicenseNo != ''">
			<![CDATA[AND B_LICENSE_NO LIKE CONCAT('%',#{condition.bLicenseNo},'%') ]]>
		</if>
		<!-- 节能标识(作为资质证书查询) -->
		<if test="condition.energyNo != null and condition.energyNo != ''">
			<![CDATA[AND (ENERGY_NO LIKE CONCAT('%',#{condition.energyNo},'%') ]]>
			<![CDATA[OR QUALIFICATION_NO LIKE CONCAT('%',#{condition.energyNo},'%') ]]>
			<![CDATA[OR SAFETY_LICENSES_NO LIKE CONCAT('%',#{condition.energyNo},'%') ]]>
			<![CDATA[OR QMS_NO LIKE CONCAT('%',#{condition.energyNo},'%') ]]>
			<![CDATA[OR CCC_NO LIKE CONCAT('%',#{condition.energyNo},'%') ]]>
			<![CDATA[OR PRODUCTION_LICENSE_NO LIKE CONCAT('%',#{condition.energyNo},'%') )]]>
		</if>
		<!-- 会员类型 -->
		<if test="condition.type !=null">
			<![CDATA[AND TYPE = #{condition.type}]]>
		</if>
		<if test="condition.typeB !=null">
			<![CDATA[AND TYPE != #{condition.typeB}]]>
		</if>
		<!-- 会员状态 -->
		<if test="condition.checkState !=null">
			<![CDATA[AND CHECK_STATE = #{condition.checkState}]]>
		</if>
		<!-- 会员状态 -->
		<if test="condition.state !=null">
			<![CDATA[AND STATE = #{condition.state}]]>
		</if>
		<!-- 是否完善资料 -->
		<if test="condition.flag !=null and condition.flag!=''">
			<![CDATA[AND FLAG = #{condition.flag}]]>
		</if>
		<!-- 会员注册时间段 -->
		<if
			test="condition.startDate != null  and condition.startDate != '' ">
			<![CDATA[AND REG_DATE >=CONCAT(#{condition.startDate}," 00:00:00" ) ]]>
		</if>
		<!-- 会员注册时间段 -->
		<if
			test="condition.endDate != null and condition.endDate != ''">
			<![CDATA[AND REG_DATE <= CONCAT(#{condition.endDate}," 23:59:59") ]]>
		</if>
		<!-- 会员认证时间段 -->
		<if
			test="condition.startAuthorDate != null  and condition.startAuthorDate != '' ">
			<![CDATA[AND AUTHOR_DATE >=CONCAT(#{condition.startAuthorDate}," 00:00:00" ) ]]>
		</if>
		<!-- 会员认证时间段 -->
		<if
			test="condition.endAuthorDate != null  and condition.endAuthorDate != ''">
			<![CDATA[AND AUTHOR_DATE <= CONCAT(#{condition.endAuthorDate}," 23:59:59") ]]>
		</if>
		<!-- 筛选测试账号 -->
		<if
			test="condition.filter == 1">
			<![CDATA[AND NAME NOT IN('测试门窗厂','测试型材厂','测试玻璃厂') ]]>
		</if>
			<![CDATA[ ORDER BY STATE,REG_DATE DESC,UPDATE_DATE DESC]]>
		<!-- <if test="condition.sort !=null">
			<![CDATA[ ORDER BY STATE,REG_DATE,AUTHOR_DATE DESC]]>
		</if>
		<if test="condition.sort ==null">
			<![CDATA[ ORDER BY STATE,REG_DATE DESC]]>
		</if> -->
	</select>
	<select id="addAccountNum" resultMap="MemberResultMap"
		parameterType="String">
		<![CDATA[UPDATE M_MEMBER SET ACCOUNT_NUM=(CASE WHEN ACCOUNT_NUM IS NULL THEN 0 ELSE ACCOUNT_NUM END)+1  WHERE MEMBER_NO=#{id}]]>
	</select>
	<!-- 条件查询会员 -->
	<select id="apiQueryMembers" resultMap="MemberResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT *
		 FROM M_MEMBER WHERE NAME NOT IN('测试门窗厂','测试型材厂','测试玻璃厂') AND CHECK_STATE=2 AND STATE !=1]]>
		<!-- 会员名称 -->
		<if test="condition.name != null and condition.name != ''">
			<![CDATA[AND NAME LIKE CONCAT('%',#{condition.name},'%')]]>
		</if>
		<if test="condition.city != null and condition.city != ''">
			<![CDATA[AND AREA LIKE CONCAT('%',#{condition.city},'%')]]>
		</if>
		<!-- 会员类型 -->
		<if test="condition.type !=null">
			<![CDATA[AND TYPE = #{condition.type}]]>
		</if>
		<![CDATA[ ORDER BY convert(name using gb2312) asc]]>
	</select>
</mapper>
