<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.member.IMemberLogDao">
	<resultMap id="MemberLogResultMap"
		type="com.sxj.supervisor.entity.member.MemberLogEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="memberName" column="MEMBER_NAME" jdbcType="VARCHAR" />
		<result property="nowPage" column="NOW_PAGE" jdbcType="VARCHAR" />
		<result property="prePage" column="PRE_PAGE" jdbcType="VARCHAR" />
		<result property="nextpage" column="NEXT_PAGE" jdbcType="VARCHAR" />
		<result property="nowName" column="NOW_NAME" jdbcType="VARCHAR" />
		<result property="preName" column="PRE_NAME" jdbcType="VARCHAR" />
		<result property="nextName" column="NEXT_NAME" jdbcType="VARCHAR" />
		<result property="waitTime" column="WAIT_TIME" jdbcType="VARCHAR" />
		<result property="callTime" column="CALL_TIME" jdbcType="TIMESTAMP" />
		<result property="ip" column="IP" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 条件查询 -->
	<select id="queryLogs" resultMap="MemberLogResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * FROM M_MEMBER_LOG WHERE 1=1]]>
		<!-- 会员号 -->
		<if test="condition.memberNo != null and condition.memberNo !=''">
			<![CDATA[ AND MEMBER_NO=#{condition.memberNo}]]>
		</if>
		<if
			test="condition.startTime != null and condition.endTime != null and condition.startTime != '' and condition.endTime != ''">
			<![CDATA[ AND CALL_TIME >=CONCAT(#{condition.startTime}," 00:00:00" ) AND CALL_TIME <= CONCAT(#{condition.endTime}," 23:59:59")]]>
		</if>
		<![CDATA[ ORDER BY CALL_TIME DESC]]>
	</select>
</mapper>
