<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.supervisor.dao.member.IMemberRoleDao">
	<resultMap id="MemberRoleResultMap"
		type="com.sxj.supervisor.entity.member.MemberRoleEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="functionId" column="FUNCTION_ID" jdbcType="VARCHAR" />
		<result property="accountId" column="ACCOUNT_ID" jdbcType="VARCHAR" />
		<result property="memberId" column="MEMBER_ID" jdbcType="VARCHAR" />
	</resultMap>

	<!-- 获取权限列表 -->
	<select id="getRoles" resultMap="MemberRoleResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT ID,FUNCTION_ID,ACCOUNT_ID,MEMBER_ID FROM M_MEMBER_ROLE WHERE 1=1]]>
		<if test="condition.accountId != null and condition.accountId!=''">
			<![CDATA[ AND ACCOUNT_ID = #{condition.accountId}]]>
		</if>
		<if test="condition.memberId != null and condition.memberId!=''">
			<![CDATA[ AND MEMBER_ID = #{condition.memberId}]]>
		</if>
	</select>

	<delete id="deleteRolesByAccount" parameterType="String">
		<![CDATA[DELETE FROM M_MEMBER_ROLE WHERE ACCOUNT_ID=#{accountId}]]>
	</delete>

	<delete id="deleteRolesByMember" parameterType="String">
		<![CDATA[DELETE FROM M_MEMBER_ROLE WHERE MEMBER_ID=#{memberId}]]>
	</delete>

	<!-- 获取权限操作列表 -->
	<select id="getRoleFunctions"
		resultMap="com.sxj.supervisor.dao.member.IMemberFunctionDao.MemberFunctionResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[select f.ID,f.LEVEL,f.PARENT_ID,f.TITLE,f.URL,f.STYLE from M_MEMEBR_FUNCTION f 
		INNER JOIN M_MEMBER_ROLE r on f.ID=r.FUNCTION_ID WHERE 1=1 ]]>
		<if test="condition.accountId != null and condition.accountId !=''">
			<![CDATA[ AND r.ACCOUNT_ID = #{condition.accountId}]]>
		</if>
		<if test="condition.accountId != null and condition.accountId !=''">
			<![CDATA[ AND r.MEMBER_ID = #{condition.memberId}]]>
		</if>
		<!-- 申请会员ID -->
		<if test="condition.parentId != null and condition.parentId!=''">
			<![CDATA[ AND f.PARENT_ID = #{condition.parentId}]]>
		</if>
	</select>

	<!-- 获取权限操作列表 -->
	<select id="getAllRoleFunction"
		resultMap="com.sxj.supervisor.dao.member.IMemberFunctionDao.MemberFunctionResultMap"
		parameterType="String">
		<![CDATA[select DISTINCT f.ID,f.LEVEL,f.PARENT_ID,f.TITLE,f.URL,f.STYLE from M_MEMBER_FUNCTION f 
		INNER JOIN M_MEMBER_ROLE r on f.ID=r.FUNCTION_ID inner join
		 M_MEMBER_ACCOUNT a ON a.ID=r.ACCOUNT_ID WHERE a.ACCOUNT_NO=#{account} order by f.DESC]]>
	</select>
</mapper>