<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>私享家绿色门窗平台</title>
<meta name="keywords" content="私享家绿色门窗平台,门窗,型材厂,玻璃厂,门窗">
<meta name="description" content="私享家绿色门窗平台,为门窗行业的玻璃厂,型材厂提供产品盘点,物流跟踪,质量溯源服务。致力于推动江苏省房地产建筑行业绿色环保事业。">
<link href="${b.staticPath}style/regin.css" rel="stylesheet" type="text/css" />
<script src="${b.staticPath}js/jquery.js"></script>
<@b.errorInfo/>
<script>
function next(){
	if (!checkSubmitMobil()){
		return false;
	}
    $.post("check_ms.htm",{ms:$("#ms").val()},function(data){
    	if (data.flag=="true"){
    		 $("#check_m").removeClass("msg-gray").removeClass("msg-error");
    		 $("#check_m").addClass("msg-suc");
    		 $("#check_m").text("验证成功");
    		$("#next").show();
    	}else{
    	 	$("#check_m").removeClass("msg-gray").removeClass("msg-suc");
			$("#check_m").addClass("msg-error");
			$("#check_m").text("验证码错误!");
    		return false;
    	}
    })
}
function finish(){
	if (!check_pwd()){
		return false;
	}
	$.post("edit_pwd.htm",{id:member_id,password:$("#password").val()},function(data){
		$("#finish").show();
		timer(4);
	})
}
//发送短信
function send_ms(obj){
	  var phoneNo=$("#phoneNo").val();
	  if (!checkSubmitMobil()){
		  return false;
	  }
	  $("#time_yz").show();
	  $.post("send_ms.htm",{phoneNo:phoneNo},function(data){
		     $(obj).attr("disabled", "disabled"); 
			 $(obj).addClass("button-disable");
			 time_yz(29,obj)
	  })
}
//手机号码验证
function checkSubmitMobil() {
	  if ($("#phoneNo").val() == "") {
	  $("#phone_text").show();
	  $("#phone_text").removeClass("msg-gray").removeClass("msg-suc");
	  $("#phone_text").addClass("msg-error");
	  $("#phone_text").text("手机号码不能为空");
	  return false;
	  }

	  if (!$("#phoneNo").val().match(/^((13[0-9])|(147)|(15[^4,\D])|(18[0,5-9]))\d{8}$/)) {
	  $("#phone_text").show();
	  $("#phone_text").removeClass("msg-gray").removeClass("msg-suc");
	  $("#phone_text").addClass("msg-error");
	  $("#phone_text").text("手机号码格式不正确！请重新输入！");
	  return false;
	  }
	  if (!phone_flag){
		  $("#phone_text").show();
		  $("#phone_text").removeClass("msg-gray").removeClass("msg-suc");
		  $("#phone_text").addClass("msg-error");
		  $("#phone_text").text("手机号认证失败！请重新填写");
		  return false;
	  }
	  return true;
	  } 

var phone_flag=true;
var member_id;
$(function(){
	 $("#phoneNo").focus(function(){
		 $("#phone_text").show();
	 })
	 $("#ms").focus(function(){
		  $("#check_m").show();
	 })
	 
	  $("#phoneNo").blur(function(){
			 var phone=$("#phoneNo").val();
			 if (phone != ""){
			 $.post("check_phone.htm",{phone:phone},function(data){
				 if (data.flag == "true"){
					// $("#phone_text").html('<span style="color:green">手机号码验证成功</span>');
				 $("#phone_text").removeClass("msg-gray").removeClass("msg-error");
				 $("#phone_text").addClass("msg-suc");
				 $("#phone_text").text("手机号码验证成功");
					 member_id=data.id;
					 phone_flag=true;
				 }else{
					// $("#phone_text").html('<span style="color:red">手机号码未注册</span>');
					$("#phone_text").removeClass("msg-gray").removeClass("msg-suc");
				 $("#phone_text").addClass("msg-error");
				 $("#phone_text").text("手机号码未注册!");
					 phone_flag=false;
				 }
				 
			 })
			 }
		  });
})
function check_pwd(){
	var pwd=$("#password").val();
	var pwd_cf=$("#password_confirm").val();
	if (pwd=="" ){
		$("#re_pwd_length").hide()
		$("#ts").hide();
		$("#re_pwd").show();
		$("#re_pwd_true").hide();
		return false;
	}
	if (pwd.length<6){
		$("#ts").hide();
		$("#re_pwd").hide();
		$("#re_pwd_true").hide();
		$("#re_pwd_length").show();
		return false;
	}
	if ( pwd_cf==""){
		$("#re_pwd_false").hide();
		$("#re_pwd_ok").show();
		$("#re_pwd_true").hide();
		return false;
	}
	$("#re_pwd_length").hide()
	$("#re_pwd_false").hide();
	$("#ts").hide();
	$("#re_pwd").hide();
	$("#re_pwd_ok").hide();
	$("#re_pwd_true").show();
	if (pwd != pwd_cf){
		$("#re_pwd_false").show();
		$("#re_pwd_true").hide();
		return false;
	}
	$("#re_pwd_false").hide();
	$("#re_pwd_true").show();
	return true;
}
var timer1;
function timer(intDiff){
	   timer1=window.setInterval(function(){
	    var day=0,
	        hour=0,
	        minute=0,
	        second=0;//时间默认值       
	    if(intDiff > 0){
	        day = Math.floor(intDiff / (60 * 60 * 24));
	        hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
	        minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
	        second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
	    }
	    if (minute <= 9) minute = '0' + minute;
	    if (second <= 9) second = '0' + second;
	    /*
	    $('#day_show').html(day+"天");
	    $('#hour_show').html('<s id="h"></s>'+hour+'时');
	    $('#minute_show').html('<s></s>'+minute+'分');
	    $('#second_show').html('<s></s>'+second+'秒');
	    */
	    $("#time").text(second.split("0")[1]+"秒后自动跳转到")
	    if (second==0){
	    	 clearInterval(timer1);
	    	 window.location.href="${basePath}to_login.htm"; 
	    }
	    intDiff--;
	    }, 1000);
	}
var timer2;
function time_yz(intDiff,obj){
	   timer2=window.setInterval(function(){
	    var day=0,
	        hour=0,
	        minute=0,
	        second=0;//时间默认值       
	    if(intDiff > 0){
	        day = Math.floor(intDiff / (60 * 60 * 24));
	        hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
	        minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
	        second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
	    }
	    if (minute <= 9) minute = '0' + minute;
	    if (second <= 9) second = '0' + second;
	    /*
	    $('#day_show').html(day+"天");
	    $('#hour_show').html('<s id="h"></s>'+hour+'时');
	    $('#minute_show').html('<s></s>'+minute+'分');
	    $('#second_show').html('<s></s>'+second+'秒');
	    */
	    $("#time_yz").text(second+"秒后重新获取验证码")
	    if (second==0){
	    	 $(obj).removeAttr("disabled", "disabled");
	    	 $(obj).removeClass("button-disable");
	    	 clearInterval(timer2);
	    }
	    intDiff--;
	    }, 1000);
	} 
</script>
</head>
<body>
<div id="header" class="fence">
  <h1 class="fence-wide ly-clearFix">
<a href="login.html" class="logo"><img src="${b.staticPath}images/logo.jpg" alt="私享家绿色门窗平台" title="私享家绿色门窗平台" /></a>
<div class=" topBan pr"><span class="pa logOut"><a href="#"></a></span></div>
</h1>
</div>
<div class="joinBox">
<div class="joinSign">
<div class="passBox">
    <h1 class="title fontYH f20 fb">找回密码</h1>
    <div class="findInfo">
    <div class="ly-clearFix">
     <div class="item">
    <label>联系人手机号</label>
    <input class="input input-w180h30" type="text" title="联系人手机号" id="phoneNo"/>
    <div class="tip msg-gray f12" id="phone_text" style="display:none;">请输入您已验证的手机号</div>
    <button class="button button-gray f12" onclick="send_ms(this);return false;">获取短信验证码</button>
  </div>
<div class="item">
    <label>手机验证码</label>
    <input class="input input-w180h30" type="text" title="手机验证码"  id="ms"/>
    <div class="tip msg-gray f12"  style="display:none;" id="check_m">请输入正确的验证码</div>
   <em class="color-green f12" id="time_yz" style="display:none;">30秒后重新获取验证码</em>
    </div>
<div class="item"><label>&nbsp;</label><button class="button button-orange" onclick="next();return false;">下一步</button>
</div>
    </div>
    <div id="next"  style="display:none;">
   <div class="step"><img src="${b.staticPath}images/icon-find.png" width="86" height="86" /></div>
   <div class="ly-clearFix">
     <div class="item">
       <label>设置新密码</label>
       <input class="input input-w180h30" type="password" title="设置新密码" id="password"/>
           <div class="tip msg-gray f12" id="ts"  style="display:display;">6-20位字符，可使用字母、数字或符号的组合，不建议使用纯字母、纯数字、纯符号。</div>
            <div class="tip msg-error f12" style="display:none;" id="re_pwd">密码不能为空</div>
             <div class="tip msg-error f12" style="display:none;" id="re_pwd_length">密码长度不能小于6</div>
            <div class="tip  f12" style="display:none;color:green;" id="re_pwd_true">密码验证通过</div>
     </div>
     <div class="item">
       <label>确认新密码</label>
       <input class="input input-error input-w180h30" type="password" title="确认新密码" id="password_confirm"/>
           <div class="tip msg-error f12" style="display:none;" id="re_pwd_false">两次填写的密码不一致</div>
           <div class="tip msg-error f12" style="display:none;" id="re_pwd_ok">确认密码不能为空</div>
           <div class="tip  f12" style="display:none;color:green;" id="re_pwd_true">密码验证通过</div>
     </div>
     <div class="item">
       <label>&nbsp;</label>
       <button class="button button-orange" onclick="finish();return false;">确认提交</button>
     </div>
   </div>
   </div>
   <div id="finish" style="display:none;">
   <div class="step"><img src="${b.staticPath}images/icon-find.png" width="86" height="86" /></div>
   <div class="msg-suc msgbar ly-clearFix p10">
     <div class="icon icon32 icon-32-suc ly-left">&nbsp;</div>
     <div class="msgCont ly-left">
       <dl>
         <dt class="fontYH f20 mb10">恭喜，您的密码已经设置成功</dt>
         <dd class="f12"><span id="time">5秒后自动跳转到</span><a href="${basePath}to_login.htm" class="lnk-underline ml5 mr5">会员登录</a>。您也可以立即<a href="${basePath}to_login.htm" class="lnk-underline ml5 mr5">回到首页</a>。</dd>
       </dl>
     </div>
   </div>
   </div>
    </div>
</div>
</div>
<div id="footer">
  <div class="fence f12">&copy; 2014 私享家绿色门窗平台 版权所有 经营许可证编号:<a href="#" target="_blank">苏B2-20140088</a>苏ICP备14025589号 </div>
</div>
</body>
</html>
