<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>私享家绿色门窗平台</title>
<meta name="keywords" content="私享家绿色门窗平台,门窗,型材厂,玻璃厂,门窗">
<meta name="description" content="私享家绿色门窗平台,为门窗行业的玻璃厂,型材厂提供产品盘点,物流跟踪,质量溯源服务。致力于推动江苏省房地产建筑行业绿色环保事业。">
<link href="${b.staticPath}style/regin.css" rel="stylesheet" type="text/css" />
<script src="${b.staticPath}js/jquery.js"></script>
</head>
<body>
<@b.header />
<div class="joinBox">
<div class="joinSign">
<div class="signBox ly-clearFix">
<div class="aside ly-left">&nbsp;</div>
<div class="regInfo ly-left">
	<form id="login_form" action="${basePath}login.htm" method="post">
	  <div class="item">
	    <label>公司名称</label>
	    <input class="input input-w240h36" type="text" autocomplete="off" placeholder="" title="" id="" name="memberName" value="${memberName}" />
	  </div>
	<div class="item">
	    <label>登录帐户</label>
	    <input class="input input-w240h36" type="text" autocomplete="off" placeholder="" title="" id="" name="accountName" value="${accountName}" />
	  </div>
	<div class="item">
	  <label><a href="find-password.html" class="ly-right">忘记密码？</a>登录密码</label>
	  <input class="input input-w240h36" type="password" name="password" autocomplete="off" placeholder="" title="" value="" />
	  <div class="tip msg-error f12" style="display:none;">密码不正确，请输入正确的密码</div>
	</div>
	<a href="javascript:login();" class="button button-orange btn-regin mt5">登录</a>
	<div class="signReg color-gray6 f12">还不是私享家会员？<a href="regist.htm" class="lnk-green" title="免费注册私享家帐号" tabindex="6">免费注册&gt;</a></div>
	</form>
</div>
</div>
</div>
</div>
<@b.footer />
</body>
<script>
function login()
{
	$("#login_form").submit();
	
}
</script>
</html>
