<div class="leftMenu">
<#list list as model>
<h2 class="fontYH f18" style="border-bottom:1px solid #B5BFCB">
<#if model.function.id=99>
<span class="${model.function.style}"></span><a url="${basePath}${model.function.url}" href="javascript:clickFunction('${basePath}${model.function.url}')" class="homelink">${model.function.title}</a></h2>
<#else>
<span class="${model.function.style}"></span>${model.function.title}</h2>
</#if>
<#if  model.children?exists && (model.children?size>0) >
<ul>
<#list model.children as mc>
<#if  mc.id==6>
<#if contractMessageCount??&&contractMessageCount&gt;0>
<span class="new-message" id="contract_message">${contractMessageCount}</span>
<#else>
<span class="new-message" id="contract_message" style="display: none;">${contractMessageCount}</span>
</#if>
<#elseif mc.id==8>
<#if payMessageCount??&&payMessageCount&gt;0>
<span class="new-message" id="pay_message">${payMessageCount}</span>
<#else>
<span class="new-message" id="pay_message" style="display: none;">${payMessageCount}</span>
</#if>
<#elseif mc.id==22>
<#if transMessageCount??&&transMessageCount&gt;0>
<span class="new-message" id="trans_message">${transMessageCount}</span>
<#else>
<span class="new-message" id="trans_message" style="display: none;">${transMessageCount}</span>
</#if>
<#elseif mc.id==21>
<#if sysMessageCount??&&sysMessageCount&gt;0>
<span class="new-message" id="sys_message">${sysMessageCount}</span>
<#else>
<span class="new-message" id="sys_message" style="display: none;">${sysMessageCount}</span>
</#if>
<#elseif mc.id==23>
<#if tenderMessageCount??&&tenderMessageCount&gt;0>
<span class="new-message" id="tender_message">${tenderMessageCount}</span>
<#else>
<span class="new-message" id="tender_message" style="display: none;">${tenderMessageCount}</span>
</#if>
</#if>
<li id="${mc.id}_menu" class=""><a url="${basePath}${mc.url}" href="javascript:clickFunction('${basePath}${mc.url}')">${mc.title}</a></li>
</#list>
</ul>
</#if>
</#list>
</div>
<script>
$(document).ready(function(){
	$(".leftMenu li").removeClass("on");
	$(".leftMenu a").each(function(){
		var href=window.location.href;
		if(href.indexOf($(this).attr("url"))>0){
			$(this).parent().addClass("on");
			return false;
		}			
	});
	menuMessage();
	window.setInterval(menuMessage, 5000);
});
function getUrlParam(name){
	var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
	var r = window.location.search.substr(1).match(reg);  //匹配目标参数
	if (r!=null) return unescape(r[2]); return null; //返回参数值
}
function clickFunction(url){
	var state="${Session.userinfo.member.checkState.id}";
	if(state=='0'){
		url=url+"?"+Math.random();
		window.location.href=url;
	}
	else{
		$.get("${basePath}member/checkEditState.htm?"+Math.random(),function(data){
			if(data){
				if(url.indexOf("?")>0){
					url=url+"&"+Math.random();
				}else{
					url=url+"?"+Math.random();
				}
				window.location.href=url;
			}else
				messageInfo("会员未认证，请完善资料！");
		});
	}
}

function menuMessage() {
	$.get("${basePath}menuMessageCount.htm?ram="+Math.random(), function(data){
		if(data.isNotLogin==1){
			window.location.href="${basePath}to_login.htm";
			return;
		}
		
		 if(typeof(data.contractMessageCount) != "undefined"&&data.contractMessageCount>0){
			 $("#contract_message").text(data.contractMessageCount);
			 $("#contract_message").show();
		 }else{
			 $("#contract_message").text("");
			 $("#contract_message").hide();
		 }
		 
		 if(typeof(data.payMessageCount) != "undefined"&&data.payMessageCount>0){
			 $("#pay_message").text(data.payMessageCount);
			 $("#pay_message").show();
		 }else{
			 $("#pay_message").text("");
			 $("#pay_message").hide();
		 }
		 
		 if(typeof(data.transMessageCount) != "undefined"&&data.transMessageCount>0){
			 $("#trans_message").text(data.transMessageCount);
			 $("#trans_message").show();
		 }else{
			 $("#trans_message").text("");
			 $("#trans_message").hide();
		 }
		 
		 if(typeof(data.sysMessageCount) != "undefined"&&data.sysMessageCount>0){
			 $("#sys_message").text(data.sysMessageCount);
			 $("#sys_message").show();
		 }else{
			 $("#sys_message").text("");
			 $("#sys_message").hide();
		 }
		 
		 if(typeof(data.tenderMessageCount) != "undefined"&&data.tenderMessageCount>0){
			 $("#tender_message").text(data.tenderMessageCount);
			 $("#tender_message").show();
		 }else{
			 $("#tender_message").text("");
			 $("#tender_message").hide();
		 }
		
	 });
}
</script>