<#if list??>
<#list list as model>
<h2 class="fontYH f18">
<span class="${model.function.style}"></span>${model.function.title}</h2>
<ul>
 <#list model.children as mc>
<#if Session.function==mc.id>
<li id="${mc.id}_menu" class="on"><a href="${basePath}${mc.url}?function=${mc.id}">${mc.title}</a></li>
<#else>
<li id="${mc.id}_menu" class=""><a href="${basePath}${mc.url}?function=${mc.id}">${mc.title}</a></li>
</#if>
</#list>
</ul>
</#list>
<#else>
<h2 class="fontYH f18">
<span class="icon icon-member"></span>会员中心</h2>
<ul>
</#if>
<script>
$(document).ready(function($) {
	var functionId=getUrlParam("function");
	$("#leftList").find("li").removeClass("on");
	$("#"+functionId+"_menu").addClass("on");
	});
function getUrlParam(name){
	var reg = new RegExp("(^|&)"+ name +"=([^&]*)(&|$)"); //构造一个含有目标参数的正则表达式对象
	var r = window.location.search.substr(1).match(reg);  //匹配目标参数
	if (r!=null) return unescape(r[2]); return null; //返回参数值
} 
</script>