<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>私享家绿色门窗平台</title>
<meta name="keywords" content="私享家绿色门窗平台,门窗,型材厂,玻璃厂,门窗">
<meta name="description" content="私享家绿色门窗平台,为门窗行业的玻璃厂,型材厂提供产品盘点,物流跟踪,质量溯源服务。致力于推动江苏省房地产建筑行业绿色环保事业。">
<link href="${b.staticPath}style/regin.css" rel="stylesheet" type="text/css" />
</head>
<body>
<div id="header" class="fence">
  <h1 class="fence-wide ly-clearFix"><a href="register.html" class="logo"><img src="../images/logo.jpg" alt="私享家绿色门窗平台" title="私享家绿色门窗平台" /></a> <div class=" topBan pr"><span class="pa logOut"><a href="#">注销帐户并退出</a></span></div> </h1>
</div>
<div class="joinBox">
<div class="joinSign">
<div class="header">
<h1 class="fontYH f18">私享家绿色门窗平台服务协议</h1>
</div>
<div class="protocal">
<dl class="proCont mb15">
<dt class="f20 tc fontYH mb5 fb">私享家绿色门窗平台服务条款</dt>
<dd class="color-gray6 tc mb15">发布时间： 2014-8-19</dd>
<dd class="t2">江苏私享家商贸有限公司依据以下条件和条款为您提供所享有的服务，请仔细阅读并遵守。 </dd>
<dd class="t2">
欢迎阅读私享家绿色门窗平台（下称：“私享家平台”）服务条款协议(下称“本协议”)。本协议阐述之条款和条件适用于您使用私享家绿色门窗平台（所涉域名为 ：menchuang.org.cn，下同），所提供的在江苏省门窗行业上下游企业间(B-TO-B)的交易和货物物流交付跟踪的各种工具和服务(下称“服务”)。<span>
</span></dd>
</dl>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">一、接受条款</h3>
<ol>
<li>本协议内容包括协议正文及所有私享家平台已经发布或将来可能发布的各类规则。所有规则为协议不可分割的一部分，与协议正文具有同等法律效力。 </li>
<li>以任何方式进入私享家平台并使用服务即表示您已充分阅读、理解并同意接受本协议的条款和条件(以下合称“条款”)。</li>
<li>私享家平台有权根据业务需要酌情修订“条款”，并以网站公告的形式进行更新，不再单独通知予您。经修订的“条款”一经在私享家平台公布，即产生效力。如您不同意相关修订，请您立即停止使用“服务”。如您继续使用“服务”，则将视为您已接受经修订的“条款”，当您与私享家平台发生争议时，应以最新的“条款”为准。</li>
</ol>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">二、注册</h3>
<ol>
<li class="fb">服务使用对象 </li>
<p class="t2">您确认，在您完成注册程序或以其他私享家平台允许的方式实际使用服务时，您应当是具备完全民事权利能力和与所从事的民事行为相适应的行为能力的自然人、法人或其他组织。若您不具备前述主体资格，请勿使用服务，否则您及您的监护人应承担因此而导致的一切后果，且私享家平台有权注销（永久冻结）您的账户，并向您及您的监护人索偿。如您代表一家公司或其他法律主体在私享家平台登记，则您声明和保证，您有权使该公司或该法律主体受本协议“条款”的约束。 </p>
<li class="fb">注册账户</li>
<p class="t2"><span class="mr5">2.1</span>在您按照注册页面提示填写信息、阅读并同意本协议且完成全部注册程序后，或在您按照激活页面提示填写信息、阅读并同意本协议且完成全部激活程序后，或您以其他私享家平台允许的方式实际使用私享家平台服务时，您即受本协议的约束。您可以使用您提供或确认的手机号码或者私享家平台允许的其它方式作为登录手段进入私享家平台。 </p>
<p class="t2"><span class="mr5">2.2</span>您可以对账户设置公司账户的名称，但您设置的公司名称不得侵犯或涉嫌侵犯他人合法权益。如您设置的公司名称涉嫌侵犯他人合法权益，私享家平台有权终止向您提供服务，并注销您的账户。账户注销后，相应的昵称将开放给其他有权用户登记使用。</p>
<p class="t2"><span class="mr5">2.3</span>在完成注册或激活流程时，您应当按照法律法规要求，按相应页面的提示准确提供并及时更新您的资料，以使之真实、及时，完整和准确。如有合理理由怀疑您提供的资料错误、不实、过时或不完整的，私享家平台有权向您发出询问及/或要求改正的通知，并有权直接做出删除相应资料的处理，直至中止、终止对您提供部分或全部私享家平台服务，私享家平台对此不承担任何责任，您将承担因此产生的任何直接或间接损失及不利后果。</p>
</ol>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">三、账户安全</h3>
<p class="t2">您须自行负责对您的私享家平台登录名、子帐号登录名和密码保密，且须对该登录名、子帐号登录名和密码下发生的所有活动（包括但不限于信息披露、发布信息、网上点击同意或提交各类规则协议、网上续签协议或购买服务等）承担责任。您同意：(a)如发现任何人未经授权使用您的私享家平台登录名、子帐号登录名和密码，或发生违反保密规定的任何其他情况，您会立即通知私享家平台，并授权私享家平台将该信息同步给私享家其他平台；及(b)确保您在每个上网时段结束时，以正确步骤离开网站。私享家平台不能也不会对因您未能遵守本款规定而发生的任何损失或损毁负责。您理解私享家平台对您的请求采取行动需要合理时间，私享家平台对在采取行动前已经产生的后果（包括但不限于您的任何损失）不承担任何责任。除非有法律规定或司法裁定，且征得私享家平台的同意，否则，您的私享家平台登录名、子帐号登录名和密码不得以任何方式转让、赠与或继承（与账户相关的财产权益除外）。 </p>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">四、服务终止</h3>
<ol>
<li class="fb">服务终止</li>
<p class="t2"><span class="mr5">1.1</span>您同意，私享家平台可自行全权决定以任何理由(包括但不限于私享家平台认为您已违反本协议的字面意义和精神，或您以不符合本协议的字面意义和精神的方式行事)终止您的“服务”密码、账户(或其任何部分)或您对“服务”的使用。您同意，私享家平台应基于合理的怀疑且经电子邮件通知的情况下实施上述终止服务的行为。您进一步承认和同意，私享家平台根据本协议规定终止您服务的情况下可立即使您的账户无效，或注销您的账户以及在您的账户内的所有相关资料和档案，和/或禁止您进一步接入该等档案或“服务”。账户终止后，私享家平台没有义务为您保留原账户中或与之相关的任何信息，或转发任何未曾阅读或发送的信息给您或第三方。此外，您同意，私享家平台不会就终止向您提供“服务”而对您或任何第三者承担任何责任。</p>
<p class="t2"><span class="mr5">1.2</span>您有权向私享家平台要求注销您的账户，经私享家平台审核同意的，私享家平台将注销您的账户，届时，您与私享家平台基于本协议的合同关系即终止。您的账户被注销后，私享家平台没有义务为您保留或向您披露您账户中的任何信息，也没有义务向您或第三方转发任何您未曾阅读或发送过的信息。 </p>
<p class="t2"><span class="mr5">1.3</span>您理解并同意，您与私享家平台的合同关系终止后：</p> 
<p class="t2"><span class="ml5 mr5">a.</span>私享家平台有权继续保存您的资料。 </p>
<p class="t2"><span class="ml5 mr5">b.</span>您在使用服务期间存在违法行为或违反本协议和/或规则的行为的，私享家平台仍可依据本协议向您主张权利。 </p>
<p class="t2"><span class="ml5 mr5">c.</span>您在使用服务期间因使用服务与其他用户之间发生的关系，不因本协议的终止而终止，其他用户仍有权向您主张权利，您应继续按您的承诺履行义务。</p>
</ol>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">五、私享家平台服务和地位</h3>
<ol>
<li>通过私享家平台提供的平台服务，您可在私享家平台上备案交易合同信息、查询交易合同和服务信息、跟踪合同执行的物流信息，参加私享家平台组织的活动以及使用其它信息服务及技术服务。</li>
<li>私享家平台不涉及用户间因交易而产生的法律关系及法律纠纷，不会且不能牵涉进交易各方的交易当中。敬请注意，私享家平台不能控制或保证商贸交易流程中的真实性、合法性、准确性，亦不能控制或保证交易所涉及的物品的质量、安全或合法性，以及相关交易各方履行在贸易协议项下的各项义务的能力。私享家平台不能也不会控制交易各方能否履行协议义务。此外，您应注意到，与以欺诈手段行事的人进行交易的风险是客观存在的。私享家平台希望您在使用私享家平台时，小心谨慎并运用常识。 </li>
</ol>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">六、服务使用规范</h3>
<ol>
<li class="fb">关于您的资料的规则</li>
<p class="t2"><span class="mr5">1.1</span>“您的资料”包括您在注册、备案交易合同或交易等过程中，您应对“您的资料”负全部责任，而私享家平台仅作为您在网上发布和刊登“您的资料”的被动渠道。</p>
<p class="t2"><span class="mr5">1.2</span>您同意并承诺，“您的资料”和您供在私享家平台上交易的任何“物品”（泛指一切可供依法交易的、有形的或无形的、以各种形态存在的某种具体的物品，或某种权利或利益，或某种票据或证券，或某种服务或行为。本协议中“物品”一词均含此义）:</p>
<p class="t2"><span class="ml5 mr5">a.</span>不会有欺诈成份，与售卖伪造或盗窃无涉；</p>
<p class="t2"><span class="ml5 mr5">b.</span>不会侵犯任何第三者对该物品享有的物权，或版权、专利、商标、商业秘密或其他知识产权，或隐私权、名誉权；</p>
<p class="t2"><span class="ml5 mr5">c.</span>不会违反任何法律、法规、条例或规章(包括但不限于关于规范出口管理、凭许可证经营、贸易配额、保护消费者、不正当竞争或虚假广告的法律、法 规、条例或规章)、本协议及相关规则；</p>
<p class="t2"><span class="ml5 mr5">d.</span>不会含有诽谤（包括商业诽谤）、非法恐吓或非法骚扰的内容；</p>
<p class="t2"><span class="ml5 mr5">e.</span>不会含有淫秽、或包含任何儿童色情内容；</p>
<p class="t2"><span class="ml5 mr5">f.</span>不会含有蓄意毁坏、恶意干扰、秘密地截取或侵占任何系统、数据或个人资料的任何病毒、伪装破坏程序、电脑蠕虫、定时程序炸弹或 其他电脑程序；</p>
<p class="t2"><span class="ml5 mr5">g.</span>不会直接或间接与下述各项货物或服务连接，或包含对下述各项货物或服务的描述：(i)本协议项下禁止的货物或服务；或(ii)您无权连接或包含的货物或服务。此外，您同意不会：（ⅲ）在与任何连锁信件、大量胡乱邮寄的电子邮件、滥发电子邮件或任何复制或多余的信息有关的方面使用“服务”；(ⅳ)未经其他人士同意，利用“服务”收集其他人士的电子邮件地址及其他资料；或（ⅴ）利用“服务”制作虚假的电子邮件地址，或以其他形式试图在发送人的身份或信息的来源方面误导其他人士；</p>
<p class="t2"><span class="ml5 mr5">h.</span>不含有私享家平台认为应禁止或不适合通过私享家平台宣传或交易。</p>
<p class="t2"><span class="mr5">1.3</span>您同意，您不会对任何资料作商业性利用，包括但不限于在未经私享家平台事先书面批准的情况下，刊登在私享家平台上展示的任何资料并用于商业用途。</p>
<li class="fb">违反规则的后果</li>
<p class="t2"><span class="mr5">2.1</span>倘若私享家平台认为“您的资料”可能使私享家平台承担任何法律或道义上的责任，则私享家平台可自行全权决定对“您的资料”采取私享家平台认为必要或适当的任何行动，包括但不限于删除该类资料。您特此保证，您对提交给私享家平台的“您的资料”拥有全部权利，包括全部版权。您确认，私享家平台没有责任去认定或决定您提交给私享家平台的资料哪些是应当受到保护的，对享有“服务”的其他用户使用“您的资料”，私享家也不必负责。</p>
<p class="t2"><span class="mr5">2.2</span>对于您涉嫌违反承诺的行为对任意第三方造成损害的，您均应当以自己的名义独立承担所有的法律责任，并应确保私享家平台免责。</p>
<p class="t2"><span class="mr5">2.3</span>在不限制其他补救措施的前提下，发生下述任一情况，私享家平台可立即发出警告，暂时中止、永久中止或终止您的会员资格，以及您在网站上展示的任何其他资料：(i)您违反本协议；(ii)私享家平台无法核实或鉴定您向私享家平台提供的任何资料；或(iii)私享家平台相信您的行为可能会使您、私享家平台用户或通过私享家平台提供服务的第三者服务供应商发生任何法律责任。在不限制任何其他补救措施的前提下，若发现您从事涉及私享家平台网站的诈骗活动，私享家平台可暂停或终止您的账户。</p>
<p class="t2"><span class="mr5">2.4</span>经生效法律文书确认用户存在违法或违反本协议行为或者私享家平台自行判断用户涉嫌存在违法或违反本协议行为的，私享家平台有权在私享家平台上以网络发布形式公布用户的违法行为并做出处罚（包括但不限于限权、终止服务等）。</p>
</ol>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">七、您授予的许可使用权</h3>
<p class="t2">您完全理解并同意不可撤销地授予私享家平台及其关联公司下列权利：</p>
<ol>
<li>对于您提供的资料，您授予私享家平台及其关联公司独家的、全球通用的、永久的、免费的许可使用权利(并有权在多个层面对该权利进行再授权)，使私享家平台及其关联公司有权(全部或部份地)使用、复制、修订、改写、发布、翻译、分发、执行和展示"您的资料"或制作其派生作品，和/或以现在已知或日后开发的任何形式、媒体或技术，将"您的资料"纳入其他作品内。</li>
<li>当您违反本协议或与私享家平台签订的其他协议的约定，私享家平台有权以任何方式通知关联公司，要求其对您的权益采取限制措施，要求关联公司中止、终止对您提供部分或全部服务，且在其经营或实际控制的任何网站公示您的违约情况。 </li>
<li>同样，当您向私享家平台关联公司作出任何形式的承诺，且相关公司已确认您违反了该承诺，则私享家平台有权立即按您的承诺约定的方式对您的账户采取限制措施，包括但不限于中止或终止向您提供服务，并公示相关公司确认的您的违约情况。您了解并同意，私享家平台无须就相关确认与您核对事实，或另行征得您的同意，且私享家平台无须就此限制措施或公示行为向您承担任何的责任。</li>
</ol>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">八、隐私</h3>
<p class="t2">尽管有第七条所规定的许可使用权，但基于保护您的隐私是私享家平台的一项基本原则，为此私享家平台还将根据私享家平台的隐私声明使用"您的资料"。私享家平台隐私声明的全部条款属于本协议的一部份，因此，您必须仔细阅读。请注意，您一旦自愿地在私享家平台披露"您的资料"，该等资料即可能被其他人士获取和使用。 </p>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">九、责任范围和责任限制</h3>
<ol>
<li>您明确理解和同意，私享家平台不对因下述任一情况而发生的任何损害赔偿承担责任，包括但不限于利润、商誉、使用、数据等方面的损失或其他无形损失的损害赔偿(无论私享家平台是否已被告知该等损害赔偿的可能性)：(i)使用或未能使用“服务”；(ii)因通过或从“服务”购买或获取任何货物、样品、数据、资料或服务，或通过或从“服务”接收任何信息或缔结任何交易所产生的获取替代货物和服务的费用；(iii)未经批准接入或更改您的传输资料或数据；(iv)任何第三者对“服务”的声明或关于“服务”的行为；或(v)因任何原因而引起的与“服务”有关的任何其他事宜，包括疏忽。</li>
<li>当您违反本协议或与私享家平台签订的其他协议的约定，私享家平台有权以任何方式通知关联公司，要求其对您的权益采取限制措施，要求关联公司中止、终止对您提供部分或全部服务，且在其经营或实际控制的任何网站公示您的违约情况。 </li>
<li>私享家平台会尽一切努力使您在使用私享家平台的过程中得到乐趣。遗憾的是，私享家平台不能随时预见到任何技术上的问题或其他困难。该等困难可能会导致数据损失或其他服务中断。为此，您明确理解和同意，您使用“服务”的风险由您自行承担，且“服务”以“按现状”和“按可得到”的状态提供。私享家平台明确声明不作任何种类的明示或暗示的保证，包括但不限于关于适销性、适用于某一特定用途和无侵权行为等方面的保证。私享家平台对下述内容不作保证：(i)“服务”会符合您的要求；(ii)“服务”不会中断，且适时、安全和不带任何错误；(iii)通过使用“服务”而可能获取的结果将是准确或可信赖的；及(iv)您通过“服务”而购买或获取的任何产品、服务、资料或其他材料的质量将符合您的预期。通过使用“服务”而下载或以其他形式获取任何材料是由您自行全权决定进行的，且与此有关的风险由您自行承担，对于因您下载任何该等材料而发生的您的电脑系统的任何损毁或任何数据损失，您将自行承担责任。您从私享家平台或通过或从“服务”获取的任何口头或书面意见或资料，均不产生未在本协议内明确载明的任何保证责任。 </li>
</ol>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">十、赔偿</h3>
<p class="t2">您同意，如因您违反本协议或经在此提及而纳入本协议的其他文件，或因您违反法律侵害了第三方的合法权利，或因您违反法律须承担行政或刑事责任，而使第三方或行政、司法机关对私享家平台及其子公司、关联公司、分公司、董事、职员、代理人提出索赔或处罚要求（包括司法费用和其他专业人士的费用），您必须全额赔偿给私享家平台及其子公司、关联公司、分公司、董事、职员、代理人，并使其等免遭损失。</p>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">十一、链接</h3>
<p class="t2">“服务”或第三者均可提供与其他万维网网站或资源的链接。由于私享家平台并不控制该等网站和资源，您承认并同意，私享家平台并不对该等外在网站或资源的可用性负责，且不认可该等网站或资源上或可从该等网站或资源获取的任何内容、宣传、产品、服务或其他材料，也不对其等负责或承担任何责任。您进一步承认和同意，对于任何因使用或信赖从此类网站或资源上获取的此类内容、宣传、产品、服务或其他材料而造成（或声称造成）的任何直接或间接损失，私享家平台均不承担责任。 </p>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">十二、通知</h3>
<ol>
<li>您应当准确填写并及时更新您提供的电子邮件地址、联系电话、联系地址、邮政编码等联系方式，以便私享家平台或其他用户与您进行有效联系，因通过这些联系方式无法与您取得联系，导致您在使用私享家平台服务过程中产生任何损失或增加费用的，应由您完全独自承担。您了解并同意，您有义务保持你提供的联系方式的有效性，如有变更需要更新的，您应按私享家平台的要求进行操作。</li>
<li>除非另有明确规定，任何您与私享家平台之间的通知应以电子邮件形式发送，(就私享家平台而言)电子邮件地址为admin@menchuang.org.cn，或(就您而言)发送到您在登记注册过程中向私享家平台提供的电子邮件地址，或有关方指明的该等其他地址。在电子邮件发出二十四(24)小时后，通知应被视为已送达，除非发送人被告知相关电子邮件地址已作废。或者，私享家平台可通过邮资预付挂号邮件并要求回执的方式，将通知发到您在登记过程中向私享家平台提供的地址。在该情况下，在付邮当日三(3)天后通知被视为已送达。</li>
</ol>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">十三、不可抗力</h3>
<p class="t2">对于因私享家平台合理控制范围以外的原因，包括但不限于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使私享家平台延迟或未能履约的，私享家平台不对您承担任何责任。</p>
</div>
<div class="proCont mb15">
<h3 class="fb f16 fontYH">十四、法律适用、管辖及其他</h3>
<ol>
<li>对于因私享家平台合理控制范围以外的原因，包括但不限于自然灾害、罢工或骚乱、物质短缺或定量配给、暴动、战争行为、政府行为、通讯或其他设施故障或严重伤亡事故等，致使私享家平台延迟或未能履约的，私享家平台不对您承担任何责任。</li>
<li>本协议之效力、解释、变更、执行与争议解决均适用中华人民共和国大陆地区法律，如无相关法律规定的，则应参照通用国际商业惯例和（或）行业惯例。 </li>
<li>您与私享家平台仅为独立订约人关系。本协议无意结成或创设任何代理、合伙、合营、雇佣与被雇佣或特性授权与被授权关系。 </li>
<li>您同意私享家平台因经营业务需要有权将本协议项下的权力义务就部分或全部进行转让，而无须再通知予您并取得您的同意。</li>
<li>因本协议或私享家平台服务所引起或与其有关的任何争议应向私享家平台所在地人民法院提起诉讼。</li>
<li>本协议取代您和私享家平台先前就相同事项订立的任何书面或口头协议。倘若本协议任何条款被裁定为无效或不可强制执行，该项条款应被撤销，而其余条款应予遵守和执行。条款标题仅为方便参阅而设，并不以任何方式界定、限制、解释或描述该条款的范围或限度。私享家平台未就您或其他人士的某项违约行为采取行动，并不表明私享家平台撤回就任何继后或类似的违约事件采取动的权利。</li>
</ol>
</div>
<div class="tc"><a href="javascript:window.opener=null;window.close();" class="button button-orange btn-regin">关闭</a></div>
</div>
</div>	
<div id="footer" class="f12">&copy; 2014 私享家绿色门窗平台&nbsp;版权所有<span class="ml10"><a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备14040094号-1</a></span></div>
</div>
</body>
</html>
