<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>私享家绿色门窗平台</title>
<meta name="keywords" content="私享家绿色门窗平台,门窗,型材厂,玻璃厂,门窗">
<meta name="description" content="私享家绿色门窗平台,为门窗行业的玻璃厂,型材厂提供产品盘点,物流跟踪,质量溯源服务。致力于推动江苏省房地产建筑行业绿色环保事业。">
<link href="${b.staticPath}style/regin.css" rel="stylesheet" type="text/css" />
<SCRIPT LANGUAGE="JavaScript"> 
function AddFavorite(sURL, sTitle)
{
    try
    {
        window.external.addFavorite(sURL, sTitle);
    }
    catch (e)
    {
        try
        {
            window.sidebar.addPanel(sTitle, sURL, "");
        }
        catch (e)
        {
            alert("加入收藏失败，请使用Ctrl+D进行添加");
        }
    }
}
</SCRIPT>

</head>
<body id="signBox">
<div id="header">
  <h1 class="fence-wide"><a href="http://www.menchuang.org.cn/to_login.htm" class="logo" title="私享家绿色门窗平台">私享家绿色门窗平台</a></h1>
</div>
<div class="fence regSuc">
<div class="fence-wide">
<div class="signBox fontYH">
      <div class="sucBox msg-suc ly-clearFix">
          <div class="icon icon32 mt5 icon-32-suc ly-left">&nbsp;</div>
          <div class="msgCont ml15 ly-left">
            <dl>
              <dt class="fontYH f24 mb15">恭喜，您已经申请成功！</dt>
              <dd class="f16 color-gray6 mb20">私享家会尽快与您联系，谢谢。</dd>
              <dd class="pt10 mb10"><a class="btn-link mr20" href="http://www.menchuang.org.cn/">返回首页</a><a class="btn-save ml20" onclick="AddFavorite('http://www.mengchuang.org.cn')" title="私享家绿色门窗平台">收藏本站</a></dd>
            </dl>
          </div>
      </div>
</div>
</div>
</div>
<div id="footer" class="f12">&copy; 2014 私享家绿色门窗平台&nbsp;版权所有<span class="ml10"><a href="http://www.miitbeian.gov.cn/" target="_blank">苏ICP备14040094号-1</a></span></div>
</body>
</html>

























