<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>私享家绿色门窗平台</title>
<meta name="keywords" content="私享家绿色门窗平台,门窗,型材厂,玻璃厂,门窗">
<meta name="description" content="私享家绿色门窗平台,为门窗行业的玻璃厂,型材厂提供产品盘点,物流跟踪,质量溯源服务。致力于推动江苏省房地产建筑行业绿色环保事业。">
<link href="${b.staticPath}style/regin.css" rel="stylesheet" type="text/css" />
<link href="${b.staticPath}style/style.css" rel="stylesheet" type="text/css" />
<script src="${b.staticPath}js/jquery.js" type="text/javascript"></script>
<script src="${b.staticPath}js/jquery.bigautocomplete.js"></script>
<style>
.bg{height:200px;width:400px;background-color:#ccdcdc;border-radius:8px;}
.codebg{height: 140px;width: 350px;
	background-color: #fff;
	padding: 20px;
	font-family: "微软雅黑";
	top:10px;
}
.delete-ch{
	width: 30px;
	height: 30px;
	float: right;
	background: url(${b.staticPath}images/view/icons+.png) no-repeat -46px -4px;
}
.input-w50h-ch{width:60px; height:22px; line-height:22px}
.button-yes{
	color: #06F;
	background-color: #0C6;
	color: #FFF;
	text-decoration: none;
	padding: 5px 15px;
	border-radius: 3px;
}
</style>
<@b.dialogBox />
</head>
<body>
<@b.header />
<div class="joinBox">
<div class="joinSign fence-wide">
<div class="header">
<span class="ly-right f12">我已经注册，现在就<a href="${basePath}to_login.htm" >登录</a></span>
<h1 class="fontYH f18">欢迎注册成为私享家绿色门窗平台用户</h1></div>
<div class="regBox ly-clearFix">
<div class="regInfo ly-left">
<@csrf.form action="regist_save.htm" method="post" id="regist_box">
<div class="item">
<label><span class="color-red mr5 fb">*</span>公司名称</label>
<input class="input input-w270h36" type="text" autocomplete="off" placeholder="" title="公司名称-作为登录用的超级账号名" id="name" name="name" value="${member.name}" />
<div class="tipMsg msg-gray" id="name_text" style="display:none;">请输入您的公司名称</div>
</div>
<div class="item">
<label><span class="color-red mr5 fb">*</span>公司类型</label>
<!-- <span class="mr20"><input name="type" type="radio" value="${type[3].id}" /> -->
<!-- ${type[3].getName()}</span>/ -->
<span class="mr20"><input name="type" type="radio" value="${type[0].id}" />
${type[0].getName()}</span>/
<span>
<input name="type" type="radio" value="${type[1].id}" />${type[1].getName()}</span>
<span><input name="type" type="radio" value="${type[2].id}" />${type[2].getName()}</span>
<span><input name="type" type="radio" value="${type[4].id}" />${type[4].getName()}</span>
<span><input name="type" type="radio" value="${type[5].id}" />${type[5].getName()}</span>
<span><input name="type" type="radio" id="dls" value="${type[6].id}" />${type[6].getName()}</span>
<span><input name="type" type="radio" id="jxs" value="${type[7].id}" />${type[7].getName()}</span>
 <div class="tipMsg msg-error" id="type_text" style="display:none;">请选择公司类型</div></div>
 <div class="item f12" style="display:none;" id="isHave"><label>&nbsp;</label>
 <input type="hidden" id="isHaveInfo" name="isHave" />
 <input type="checkbox" class="checkbox" id="isCheck" />是否拥有生产附框厂的资质</div>
<div class="item" style="display:none;" id="parent">
  <label><span class="color-red mr5 fb">*</span>关联型材厂</label>
  <input class="input input-w270h36" type="text"  title="型材厂" id="parentName" name="parentName" />
  <input type="hidden"  title="型材厂" id="parentId" name="parentNo" />
  <div class="tipMsg msg-gray" id="parentMsg" style="display:none;">请输入关联型材厂</div>
</div>
<div class="item">
<label><span class="color-red mr5 fb">*</span>公司所在地</label>
<span class="mr10">江苏省</span><select name="area">
  <#list list as are>
  <option value="32:江苏省,${are.id}:${are.name}">${are.name}</option>
  </#list>
</select></div>
<div class="item">
  <label><span class="color-red mr5 fb">*</span>联系人</label>
  <input class="input input-w180h36" type="text" autocomplete="off" placeholder="" title="联系人" id="contacts" name="contacts" value="${member.contacts}" />
  <div class="tipMsg msg-gray" style="display:none;" id="ct">请输入公司联系人</div>
</div>
<div class="item">
  <label><span class="color-red mr5 fb">*</span>联系人手机</label>
  <input class="input input-w180h36" type="text" autocomplete="off" placeholder="" title="联系人手机" id="phoneNo" name="phoneNo" value="${member.phoneNo}" />
  <input type="button" class="button button-gray f12 " id="sendms" value="获取短信验证码" onclick="showImg();" />
<!--   <span class="button button-gray f12 " id="sendms" onclick="send_ms(this);return false;">获取短信验证码</span> -->
  <div class="tipMsg msg-gray" id="moileMsg" style="display:none;">通过验证后，您可以用该手机号找回密码</div>
</div>

<div class="item">
  <label><span class="color-red mr5 fb">*</span>短信验证码</label>
  <input class="input-w50h36" type="text" autocomplete="off" placeholder="" title="短信验证码" id="ms" name="ms" value=""/>
  <em class="color-green f12" id="time" style="display:none;">60秒后重新获取验证码</em>
  <div id="sm_erro" class="tipMsg msg-error" style="display:none;"></div>
  </div>
<div class="item f12"><label>&nbsp;</label><input type="checkbox" class="checkbox"  checked="true" id="readme">我已阅读并同意<a href="${basePath}member/registInfo.htm" target="_blank" class="lnk-blue"  >《私享家注册协议》</a><div class="tipMsg msg-error" style="display:none;" id="erro_text">请同意注册协议</div></div>
<div class="item" disabled="none"><label>&nbsp;</label>
<a href="" class="button button-orange btn-regin" onclick="regist();return false;">同意协议并注册</a>
</div>
</@csrf.form>
</div>
<div class="aside ly-left"><div class="abouttext">　私享家绿色门窗平台，是江苏省首家门窗行业垂直类B2B电商交易平台，致力于互联网和新型信息技术与传统制造产业的联合发展。<p></p>

　　私享家运用互联网、物联网手段，服务门窗行业，整合门窗行业上下游供应商和采购者。帮助供应商开展网络营销电子商务，帮助采购者通过私享家平台采购放心的建材产品。<p></p>

　　私享家汇集众多国内互联网行业<br />优秀人才，门窗行业资深专家，<br />金融行业精英团队等有识<br />之士，打造了一个创新进取、<br />和谐高效的团队，为门窗<br />企业带来更多价值，提供<br />有效的工程信息、权威的行业<br />资讯，互联网供应链金融，<br />技术支持等相关增值服务。<br />私享家与门窗企业携手共赢，<br />促进产业链各个环节的沟通<br />贸易与发展。</div></div>

</div>

</div></div>
<@b.footer />
<!-- <div id="divImg" style="display: none;">
<div class="codebg">
<table style="margin:30px;">
  <tr style="height: 24px; line-height: 24px;padding: 2px;margin: 0;">
      <td width="30%" style="text-align: right;padding-right: 10px;"><label>图片验证码 </label></td>
      <td width="28%"><input class="input-w50h-ch" type="text" title="图片验证码" id="img" name="" value="" /><input type="hidden" id="imgStr" /></td>
      <td width="42%"><img id = "authImag1" style="height: 24px;cursor:pointer;" title="点击刷新验证码"  clstag="regist|keycount|personalreg|06" onclick="refresh1()" /> </td>
   </tr>
  	<tr>
      <td colspan="3" style="text-align:  center;padding-top: 4px;"><div id="imgMsg" class="tipMsg msg-error" style="display: none;width: 100%">请输入验证码</div></td>
  </tr>
  	<tr style="line-height: 35px">
      <td>&nbsp;</td>
      <td><div><a class="button-yes" href="#" onclick="sendms();">确定</a></div></td>
      <td>&nbsp;</td>
  </tr>
</table>
</div>
</div> -->
<div id="divImg" class="mydiv" style="display:none;">
			<div style="height:50px;line-height:50px;margin-left: 60px">
		       <div style="width: 160px;float: left;"><span style="background-color:#ffffff;width:80px;text-align:right;display:inline-block;padding:2px">图片验证码</span>
			   <input class="input-w50h-ch" type="text" title="图片验证码" id="img" name="" value="" /><input type="hidden" id="imgStr" /></div>
			 <div  style="float: left;margin-top: 16px;"><img id = "authImag1" style="height: 24px;cursor:pointer;" title="点击刷新验证码"  clstag="regist|keycount|personalreg|06" onclick="refresh1()" /></div>
			</div>
			<div style="height:22px;line-height:22px;">
		       <div id="imgMsg" class="tipMsg msg-error" style="display: none;">请输入验证码</div>
			</div>
			<div style="padding:10px 148px 20px">
		       <button class="button button-pop" onclick="sendms()">确定</button>
			</div>
		</div>
</body>
<script>
 var message;
 var reName=true;
 var fullName=true;
 var fullContacts=true;
 var intDiff = parseInt(59);//倒计时总秒数量
  function regist(){
	 var flag=false;
	 var typeVal=$("input[name='type']:checked").val();
	 if ($("#contacts").val()=="" || $("#contacts").val()==null){
		 $("#ct").show();
		 wrong("#ct");
		 $("#ct").text("联系人不能为空");
		 flag=true;
	 }
  	if (typeVal==null){
		$("#type_text").show();
		 flag=true;
	 }
	 if (!checkSubmitMobil()){
		 flag=true;
	 }
	 if($("#readme").attr("checked")!="checked"){
		 $("#erro_text").show();
		 flag=true;
	 }
	 if (reName){
		 $("#name_text").show();
		 wrong("#name_text");
		 $("#name_text").text("公司名称不能为空");
		 flag=true;
	 }
	 if (fullName){
		 $("#name_text").show();
		 wrong("#name_text");
		 $("#name_text").text("公司名称过长");
		 flag=true;
	 }
	 if(typeVal==6||typeVal==7){
		 var parentName=$("#parentName").val();
		 if(parentName==""){
			 $("#parentMsg").show();
			 wrong("#parentMsg");
			 $("#parentMsg").text("请输入关联型材厂。");
			 flag=true;
		 }
	 }
	 if($("#phoneNo").val()==""){
		 $("#moileMsg").show();
		 wrong("#moileMsg");
		 $("#moileMsg").text("手机号码不能为空！请输入正确的手机号码！");
		 flag=true;
	 }
	 $("#sm_erro").show();
	 if ($("#ms").val()==""){
		 wrong("#sm_erro");
		 $("#sm_erro").text("请输入验证码");
		 flag=true;
	 }
	 if (!send_flag){
		 wrong("#sm_erro");
		 $("#sm_erro").text("请先获取验证码");
		 flag=true;
	 }
	 if ($("#ms").val()==""){
		 wrong("#sm_erro");
		 $("#sm_erro").text("验证码不能为空");
		 flag=true;
	 }else 
	 if (!$("#ms").val().match(/^\d{6}$/)){
		 wrong("#sm_erro");
		 $("#sm_erro").text("请填写六位验证码");
		 flag=true;
	 }
	 var param=$("#ms").val();
	 if (flag){
		 return false;
	 }
	 $.get("${basePath}member/check_ms.htm?ms="+param+"&phoneNo="+$("#phoneNo").val(),function(data){
		 if(data.flag=="false"){
			 wrong("#sm_erro");
		     $("#sm_erro").text("验证码错误");
			 return false;
		 }else{
			 right("#sm_erro");
			 $("#sm_erro").text("");
			 $("#regist_box").submit();
		 }
	 });
  }
 
  $(function(){
	  setTimeout(refresh1,500);
		$("#name").bind("focus",function(){
			$("#name_text").show();
		})
		$("#contacts").bind("focus",function(){
			     $("#ct").show();
		})
		$("#contacts").bind("blur",function(){
			var contacts=$("#contacts").val();
			if(contacts.length>20){
				fullContacts=true;
				 $("#ct").show();
				 wrong("#ct");
				 $("#ct").text("联系人名称不能超过20个字符");
			}else if ($("#contacts").val()=="" || $("#contacts").val()==null){
				 $("#ct").show();
			     wrong("#ct");
				 $("#ct").text("联系人不能为空");
			     fullContacts=false;
			 }else{
				 $("#ct").text("");
				 right("#ct");
				 fullContacts=false;
			 }
		})
		$("#ms").bind("blur",function(){
			$("#sm_erro").show();
			if ($("#ms").val()==""){
				 wrong("#sm_erro");
				 $("#sm_erro").text("请输入验证码");
				 flag=true;
			 }else
			 if (!send_flag){
				 wrong("#sm_erro");
				 $("#sm_erro").text("请先获取验证码");
				 flag=true;
			 }else
			 if ($("#ms").val()==""){
				 wrong("#sm_erro");
				 $("#sm_erro").text("验证码不能为空");
				 flag=true;
			 }else 
			 if (!$("#ms").val().match(/^\d{6}$/)){
				 wrong("#sm_erro");
				 $("#sm_erro").text("请填写六位验证码");
				 flag=true;
			 }else{
				 right("#sm_erro");
				 $("#sm_erro").text("");
			 }
		})
		$("#phoneNo").bind("focus",function(){
			$("#moileMsg").show();
		})
	  $("[name='type']").click(function(){
		  $("#type_text").hide();
		  $(this).each(function(){
				var val=this.value;
				if(val==2){
					$('#isHave').show();
				}else{
					$('#isHave').hide();
				}
				if(val==6 || val==7){
					$('#parent').show();
				}else{
					$('#parent').hide();
				}
			})
	  })
	  $("#name").blur(function(){
		 var name=$("#name").val();
		 if(name.length>40){
			 fullName=true;
			 $("#name_text").show();
			 wrong("#name_text");
			 $("#name_text").text("公司名称过长");
		 }else if(name != ""){
		 $.post("check_member.htm",{name:name},function(data){
			 if (data.text != undefined){
				  wrong("#name_text")
				 $("#name_text").text(data.text);
			 }else{
				 right("#name_text");
				 $("#name_text").text("");
				 reName=false;
			 }
		 })
		 fullName=false;
		 }else{
			 reName=true;
			 $("#name_text").show();
			 wrong("#name_text");
			 $("#name_text").text("公司名称不能为空");
		 }
		
	  });
	  $("#phoneNo").blur(function(){
		  checkSubmitMobil();
	  });
	  $("#isCheck").click(function(){
		  if ($("#isCheck").attr('checked')) {  
			  $("#isHaveInfo").val("1");
			}else{
				$("#isHaveInfo").val("0");
			}
	  });
	  
	  //获取型材厂会员
	  $(document).keydown(function(event){
			if(event.keyCode==9){
				//隐藏
				$("#bigAutocompleteContent").hide();
			}
		});
			
		$("#parentName").bigAutocomplete({
			width: '256',
			url : "${basePath}autoCompleMember.htm?memberType=2",
			callback : function(data) {
				if (data){
					$("#parentId").val(data.result);
				}
			},
			beforeShow : function(data) {
				var memberNameB = $("#parentName").val();

			}
		});
		$("#closeImg").click(function() {
			$("#imgMsg").hide();
			$("#img").val("");
			var li = $("#divImg").attr("index");
			layer.close(li)
		});
  });
  //发送短信
  var send_flag=false;
  
  function send_ms(){
	 var obj=$("#sendms");
	  send_flag=true;
	  var phoneNo=$("#phoneNo").val();
	  var img=$("#img").val();
	  
	  $.post("send_ms.htm",{phoneNo:phoneNo,img:img},function(data){
	     if(data.error){
	    	 $("#moileMsg").show();
			 wrong("#moileMsg");
			$("#moileMsg").text(data.error); 
	     }else{
	    	 $(obj).attr("disabled", "disabled"); 
			 $(obj).addClass("button-disable");
			 $("#time").show();
		     timer(intDiff,obj)
	     }
	  });
  }
  var timer1;
  function timer(intDiff,obj){
	   timer1=window.setInterval(function(){
	    var day=0,
	        hour=0,
	        minute=0,
	        second=0;//时间默认值       
	    if(intDiff > 0){
	        day = Math.floor(intDiff / (60 * 60 * 24));
	        hour = Math.floor(intDiff / (60 * 60)) - (day * 24);
	        minute = Math.floor(intDiff / 60) - (day * 24 * 60) - (hour * 60);
	        second = Math.floor(intDiff) - (day * 24 * 60 * 60) - (hour * 60 * 60) - (minute * 60);
	    }
	    if (minute <= 9) minute = '0' + minute;
	    if (second <= 9) second = '0' + second;
	    /*
	    $('#day_show').html(day+"天");
	    $('#hour_show').html('<s id="h"></s>'+hour+'时');
	    $('#minute_show').html('<s></s>'+minute+'分');
	    $('#second_show').html('<s></s>'+second+'秒');
	    */
	    $("#time").text(second+"秒后重新获取验证码")
	    if (second==0){
	    	 $(obj).removeAttr("disabled", "disabled");
	    	 $(obj).removeClass("button-disable");
	    	 clearInterval(timer1);
	    	 $("#time").text("")
	    }
	    intDiff--;
	    }, 1000);
	} 
  //手机号码验证
  function checkSubmitMobil() {
	  $("#moileMsg_hidden").hide();
	  if ($("#phoneNo").val() == "") {
	  $("#moileMsg").show();
	 wrong("#moileMsg");
	 $("#moileMsg").text("手机号码不能为空！请输入正确的手机号码！");
	  return false;
	  }

	  if (!$("#phoneNo").val().match(/^((13[0-9])|(17[0-9])|(147)|(15[^4,\D])|(18[0-9]))\d{8}$/)) {
	  $("#moileMsg").show();
	  wrong("#moileMsg");
	  $("#moileMsg").text("手机号码格式不正确！请重新输入！");
	  return false;
	  }
	  var phone_flag=false;
	  $.ajax({
		   type: "POST",
		   async:false,
		   url: "check_phone.htm",
		   data: "phone="+$("#phoneNo").val(),
		   success: function(msg){
		     if (msg.flag=="true"){
		    	 phone_flag=true;
		     }
		   }
		 });
	  if (phone_flag){
		  $("#moileMsg").show();
		  wrong("#moileMsg");
		  $("#moileMsg").text("该手机号码已使用！");
		  return false;
	  }
	  $("#moileMsg").show();
	//  $("#moileMsg").html("<font color='green'>手机号输入正确！</font>");
	 right("#moileMsg");
	 $("#moileMsg").text("");
	  return true;
	  
 } 
 function wrong(obj){
	 $(obj).removeClass("tipMsg msg-gray");
	 $(obj).removeClass("icon icon16 icon-16-suc");
	 $(obj).addClass("tipMsg msg-error");
 }
 function right(obj){
	 $(obj).removeClass("tipMsg msg-gray");
	 $(obj).removeClass("tipMsg msg-error");
	 $(obj).addClass("icon icon16 icon-16-suc");
 }
//获取图片验证码
 function refresh1() {
	   document.getElementById("authImag1").src = "${basePath}getAuthImg.htm?now=" + new Date();
	   setTimeout(setRegisterRand,800);
	  
}
//获取图片验证码字符
function setRegisterRand(){
var o=new Object();
	 $.post('${basePath}getImgStr.htm',function(data){
       $('#imgStr').val(data.imgStr);
   });
}
var show;
function showImg(){
	 if (!checkSubmitMobil()){
		  return false;
	  }
	refresh1();
	$("#img").val("");
// 	dialogBoxOutId($("#divImg"));
	 show  =layer.open({
	    type: 1,
	    area: ['400px', '180px'],
	    title: "图片验证码", //不显示标题
	    content: $("#divImg")
	});
}
function sendms(){
	var imgStr = $("#imgStr").val();
	  var phoneNo=$("#phoneNo").val();
	  var img=$("#img").val();
	 
	  if(!img){
			$("#imgMsg").show();
			wrong("#imgMsg");
			$("#imgMsg").text("请输入验证码");
			return false;
		  }
		  if(img.toLowerCase() !=imgStr){
			$("#imgMsg").show();
			wrong("#imgMsg");
			$("#imgMsg").text("您输入的验证码错误"); 
			return false;
		  }else{
			  layer.close(show);
			  $("#imgMsg").hide();
			  send_ms();
		  }
}
</script>

</html>
