<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.science.dao.export.IDocDao">
	<resultMap id="DocResultMap" type="com.sxj.science.entity.export.DocEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="windowId" column="WINDOW_ID" jdbcType="VARCHAR" />
		<result property="projectId" column="PROJECT_ID" jdbcType="VARCHAR" />
		<result property="projectName" column="PROJECT_NAME" jdbcType="VARCHAR" />
		<result property="itemId" column="ITEM_ID" jdbcType="VARCHAR" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="filePath" column="FILE_PATH" jdbcType="VARCHAR" />
		<result property="windowCode" column="WINDOW_CODE" jdbcType="VARCHAR" />
		<result property="color" column="COLOR" jdbcType="VARCHAR" />
		<result property="quantity" column="QUANTITY" jdbcType="INTEGER" />
		<result property="series" column="SERIES" jdbcType="VARCHAR" />
		<result property="windowFaca" column="WINDOW_FACA" jdbcType="VARCHAR" />
		<result property="width" column="WIDTH" jdbcType="VARCHAR" />
		<result property="height" column="HEIGHT" jdbcType="VARCHAR" />
	</resultMap>
	<select id="query" resultMap="DocResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * from S_DOC d WHERE 1 = 1]]>
		<if test="condition.itemId != null and condition.itemId !=''">
			<![CDATA[ and d.ITEM_ID =#{condition.itemId}]]>
		</if>
		<if test="condition.itemIds != null and condition.itemIds !=''">
		  <![CDATA[ and d.ITEM_ID IN ]]>
			<foreach item="item" collection="condition.itemIds" open="(" close=")"
			separator=",">
			#{item}
			</foreach>
		</if>
	</select>
	
	<!-- 条件查询备案 -->
	<select id="getDocByItemIds" resultMap="DocResultMap"
		parameterType="java.util.Map">
		<![CDATA[SELECT * FROM S_DOC WHERE 1=1  ]]>
		<!-- 	公司名称 -->
		<if test="itemIds != null">
			<![CDATA[ AND ITEM_ID IN ]]>
			<foreach item="item" collection="itemIds" open="(" close=")"
			separator=",">
			#{item}
			</foreach> 
		</if>
	</select>
</mapper>