<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.science.dao.export.IProjectDao">
	<resultMap id="ProjectResultMap" type="com.sxj.science.entity.export.ProjectEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="projectNo" column="PROJECT_NO" jdbcType="VARCHAR" />
		<result property="memberNo" column="MEMBER_NO" jdbcType="VARCHAR" />
		<result property="memberName" column="MEMBER_NAME" jdbcType="VARCHAR" />
		<result property="zhaoBiaoNo" column="ZHAOBIAO_NO" jdbcType="VARCHAR" />
		<result property="beiAnNo" column="BEIAN_NO" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="fileCount" column="FILE_COUNT" jdbcType="INTEGER" />
		<result property="batchCount" column="BATCH_COUNT" jdbcType="INTEGER" />
		<result property="state" column="STATE" jdbcType="INTEGER" />
		<result property="uploadTime" column="UPLOAD_TIME"  jdbcType="TIMESTAMP" />
	</resultMap>
	
	<select id="query" resultMap="ProjectResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT distinct p.* from S_PROJECT p left join S_ITEM i on p.ID=i.PROJECT_ID WHERE 1 = 1]]>
		<if test="condition.name != null and condition.name != ''">
			<![CDATA[ AND (p.NAME LIKE CONCAT('%',#{condition.name},'%') OR i.NAME LIKE CONCAT('%',#{condition.name},'%'))]]>
		</if>
		<if test="condition.projectNo != null and condition.projectNo != ''">
			<![CDATA[ AND p.PROJECT_NO LIKE CONCAT('%',#{condition.projectNo},'%')]]>
		</if>
		<if test="condition.memberName != null and condition.memberName != ''">
			<![CDATA[ AND p.MEMBER_NAME LIKE CONCAT('%',#{condition.memberName},'%')]]>
		</if>
		<if test="condition.zhaoBiaoNo != null and condition.zhaoBiaoNo != ''">
			<![CDATA[ AND p.ZHAOBIAO_NO LIKE CONCAT('%',#{condition.zhaoBiaoNo},'%')]]>
		</if>
		<if test="condition.beiAnNo != null and condition.beiAnNo != ''">
			<![CDATA[ AND p.BEIAN_NO LIKE CONCAT('%',#{condition.beiAnNo},'%')]]>
		</if>
		<![CDATA[  ORDER BY p.UPLOAD_TIME DESC]]>
	</select>
	
	<select id="queryFileCount" resultType="Integer"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT SUM(p.BATCH_COUNT) from S_PROJECT p left join S_ITEM i on p.ID=i.PROJECT_ID WHERE 1 = 1]]>
		<if test="condition.name != null and condition.name != ''">
		<![CDATA[ AND (p.NAME LIKE CONCAT(#{condition.name},'%') OR i.NAME LIKE CONCAT(#{condition.name},'%'))]]>
		</if>
	</select>
	
	<select id="openQueryProject" resultMap="ProjectResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * from S_PROJECT p WHERE 1 = 1]]>
		<if test="condition.name != null and condition.name != ''">
			<![CDATA[ AND p.NAME LIKE CONCAT('%',#{condition.name},'%' ]]>
		</if>
		<if test="condition.projectNo != null and condition.projectNo != ''">
			<![CDATA[ AND p.PROJECT_NO LIKE CONCAT('%',#{condition.projectNo},'%')]]>
		</if>
		<if test="condition.memberName != null and condition.memberName != ''">
			<![CDATA[ AND p.MEMBER_NAME LIKE CONCAT('%',#{condition.memberName},'%')]]>
		</if>
		<if test="condition.zhaoBiaoNo != null and condition.zhaoBiaoNo != ''">
			<![CDATA[ AND p.ZHAOBIAO_NO LIKE CONCAT('%',#{condition.zhaoBiaoNo},'%')]]>
		</if>
		<if test="condition.beiAnNo != null and condition.beiAnNo != ''">
			<![CDATA[ AND p.BEIAN_NO LIKE CONCAT('%',#{condition.beiAnNo},'%')]]>
		</if>
		<![CDATA[  ORDER BY p.UPLOAD_TIME DESC]]>
	</select>
</mapper>