<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.sxj.science.dao.export.IScienceDao">
	<resultMap id="ScienceResultMap" type="com.sxj.science.entity.export.ScienceEntity">
		<id property="id" column="ID" jdbcType="VARCHAR" />
		<result property="used" column="USED" jdbcType="VARCHAR" />
		<result property="name" column="NAME" jdbcType="VARCHAR" />
		<result property="type" column="TYPE" jdbcType="VARCHAR" />
		<result property="length" column="LENGTH" jdbcType="INTEGER" />
		<result property="quantity" column="QUANTITY" jdbcType="INTEGER" />
		<result property="remark" column="REMARK" jdbcType="VARCHAR" />
		<result property="docId" column="DOC_ID" jdbcType="VARCHAR" />
	</resultMap>
	<delete id="deleteScience" parameterType="String">
		<![CDATA[DELETE FROM S_SCIENCE WHERE DOC_ID IN ]]>
		<foreach item="item" collection="array" open="(" close=")"
			separator=",">
			#{item}
		</foreach>
	</delete>
	<delete id="deleteScienceByDocId" parameterType="String">
		<![CDATA[DELETE FROM S_SCIENCE WHERE DOC_ID =#{docId}]]>
	</delete>
	<select id="query" resultMap="ScienceResultMap"
		parameterType="com.sxj.util.persistent.QueryCondition">
		<![CDATA[SELECT * from S_SCIENCE d WHERE 1 = 1]]>
		<if test="condition.docId != null and condition.docId != ''">
			<![CDATA[ and d.DOC_ID=#{condition.docId}]]>
		</if>
		<if test="condition.docIds != null">
		  <![CDATA[ and d.DOC_ID IN ]]>
			<foreach item="item" collection="condition.docIds" open="("
				close=")" separator=",">
				#{item}
			</foreach>
		</if>
	</select>
</mapper>